@charset "UTF-8";
/* CSS Document */

/* ESTRUCTURA CSS
  0. General
  1. Cabecera
  2. Cabecera para el Buscador general
  3. Menu
  4.  Miga de pan
  5.  Pie
  6.  Index: Lo último
  7.  Index: Lo más visitado y búsquedas frecuentes
  8.  Sliders
      7.1. Slider Index
      7.2. Slider Columna
  9.  Tercer nivel: Barra de acciones y social.
  10.  Tercer nivel: Bloque de valoraciones
  11. Tipos de listados.
  12. Paginado
  13. Buscador
  14. Elementos de formulario
  15. BOJA
    15.1
    15.2 Estilos especificos para buscador en BOJA

  16 MOSTRAR OCULTAR SLIDER
  17 CSS AÑADIDOS PARA AJUSTES VERSION MOVIL
*/
/* GENERAL */

.d-flex {
   display: -ms-flexbox !important;
   display: flex !important;
}

.align-items-center {
   -ms-flex-align: center !important;
   align-items: center !important;
}

#cabecera, #navegacion, #miga, #contenidos, #pie {
  min-width: 100%;
}
/* CABECERA */

#cabecera {
  border-top: 4px #09551b solid;
  background-image: url(https://www.juntadeandalucia.es/themes/images/cabecera_fondo.gif);
  background-repeat: repeat-x;
  background-color: #fff;
  height: auto;
}

#logo .logotipo {
   margin-top: 5px;
   margin-bottom: 0;
   margin-left: 15px;
   display: block;
}

#logo .logotipo img {
   height: 50px;
}

.od-logo .logotipo {
   margin-top: 5px;
   margin-bottom: 0;
   margin-left: 15px;
   display: block;
}

.od-logo .sublogo,
.sublogo {
   margin-top: 5px;
}

.od-logo .sublogo {
   margin-left: 10px;
}

#logo .sublogo.adscrito img:first-child {
   display: none;
}

#logo .sublogo.adscrito.movil {
   display: block;
}

#logo .sublogo.adscrito.desktop {
   display: none;
}

.sublogo img {
   height: 40px;
}

.od-logo .sublogo img {
   height: 42px;
}

.sublogo.adscrito.movil img {
   height: 50px;
}

@media (max-width: 410px) {
  .sublogo.adscrito.movil img {
   height: auto;
   max-height:50px;
   max-width:300px
  }
}

@media (max-width: 374px) {
  .sublogo.adscrito.movil img {
   height: auto;
   max-height:50px;
   max-width:250px
  }
}

.buscador .input_submit {
    z-index: 99999;
}

#logo .logotipo:hover {
  /* background:url(https://www.juntadeandalucia.es/themes/images/logo_bg_movil.png) no-repeat 0 0;*/
  background: none;
}
#cabecera .herramienta {
  display: none;
}

.h1-junta {
    display: block;
    overflow: hidden;
    text-indent: -2000px;
  }

#cabecera .herramienta {
  float: right;
}
#ubicacion {
  float: right;
  margin-bottom: 10px;
}

.buscador {
  /* esta clase afecta en varios sitios a parte de la cabecera, en el desplegable/servicios, boja/columna */
  padding: 10px 10px 9px 9px;
}
.buscador form {
  margin: 0;
  padding: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* buscador de la cabecera adaptacion a movil
mas abajo estan los buscadores en zona de contenidos de las paginas */
#cabecera .buscador, #columna .buscador, #menu .buscador {
  position: relative;
  width: auto;
  margin-top: 7px;
  margin-bottom: 7px;
  margin-right: 1.12em;
  margin-left: 1.12em;
  padding: 0;
}
.grid_11 .buscador {
  position: relative;
  width: 98%;
  float: left;
  background: none;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  padding: 0;/*background-image: url(https://www.juntadeandalucia.es/themes/images/buscador_fondo_grid11.png);
  background-position: top left;
  background-size: 100% 100%;
  background-repeat: no-repeat;*/
}
/* se elimina por estar ya más abajo definida */    
.grid_11 .buscador .input_text {
  width: 80%;
}
.buscador legend {
  display: none;
}
.buscador input {
  margin: 0;
}
.buscador .input_text {
  height: 32px;
  float: left;
  padding: 0 0 0 1.2%;
  font-size: 2.1em;
  color: #515151;
  background: #fff;
  /*margin:0 !important;*/
  border: 1px solid #d4d4d4;
}
#menu .buscador .input_text, #columna .buscador .input_text {
  width: 98%;
}
/* Se cambia para adaptar en ancho los buscadores en zona de contenidos de las paginas 
Estos no es el buscador de cabecera */
#cabecera .buscador .input_text {
  width: 98%;
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 0;
  margin-right: 0;
}
.grid_11 .buscador .input_text {
  width: 98%;
}
.buscador .input_submit {
  position: absolute;
  width: 42px;
  height: 35px;
  padding: 0;
  border: 0px solid #4d4d4d !important;
  margin: 0 !important;
  /*float:left !important;*/
  /*background: #f2f2f2 url(https://www.juntadeandalucia.es/themes/images/buscar_buton.jpg) 0 0*/;
  background: #f2f2f2 url(https://www.juntadeandalucia.es/themes/images/btn_buscar_cabecera.png) 0 0 no-repeat;
  background-size: cover;
  font: 0em/0em normal Arial, Helvetica, sans-serif;
  cursor: pointer;
  right: 0;
}
.buscador .input_submit:hover {
  /*background: #f2f2f2 url(https://www.juntadeandalucia.es/themes/images/buscar_buton.jpg) 0 -32px;*/
  background: #f2f2f2 url(https://www.juntadeandalucia.es/themes/images/btn_buscar_cabecera.png) 0 0 no-repeat;
  background-size: cover;
}
.buscador .input_submit:active {
  /*background: #f2f2f2 url(https://www.juntadeandalucia.es/themes/images/buscar_buton.jpg) 0 -64px;*/
  background: #f2f2f2 url(https://www.juntadeandalucia.es/themes/images/btn_buscar_cabecera.png) 0 0 no-repeat;
  background-size: cover;
}
.buscador p {
  padding: 10px 0 0 0;
  float: left;
  color: #2b2b2b;
  font: normal 1.1em Arial, Helvetica, sans-serif;
  width: 100%;
  display: none;
  margin-bottom: 1em;
}
.grid_11 .buscador p {
  padding: 15px 0 0 0 !important;
}
.buscador p a {
  color: #087021;
  text-decoration: none;
}
.buscador p a:hover {
  text-decoration: underline;
}
.buscador .check {
  width: 26em;
  float: left;
  padding: 1em 0;
}
.buscador .check input {
  float: left;
  margin: 0.3em;
}
.buscador .check label {
  padding: 0.2em 1em 0 0;
  color: #515151 !important;
  float: left;
  font-size: 1.1em;
}
#columna .buscador p {
  margin-top: 1em;
}
/* FIN CABECERA */

/* CABECERA Y MENU EN EL CASO DE BUSCADOR GENERAL*/
.emergente {}

.emergente #cabecera .buscador,
.emergente #navegacion,
.emergente #miga {
   display: none;
}

.emergente #logo .logotipo {
   margin-top: 5px;
   margin-bottom: 0;
   margin-left: 10px;
   display: block;
}

.emergente #logo .logotipo img {
   height: 50px;
}
/*
*** CAMBIOS PARA CABECERA BUSCADOR RESPONSIVE ***
CAMBIOS PARA ADPATAR CABECERAS DE ALGUNAS PAGINAS COMO EL BUSCADOR 
QUE ESTAN ENGLOBADAS EN UN DIV EXTRA LLAMADO EMERGENTE 
.emergente #cabecera{
  height:6em; 
  background:#ffffff url(https://www.juntadeandalucia.es/themes/images/cabecera_fondo.gif) repeat-x right -20px !important;
}

.emergente #cabecera #logo img, .emergente #cabecera #logo a{
  width: 6.2em;
  height:5.2em;
}
.emergente #cabecera #logo img{display:none;}

.emergente #cabecera #logo a{background:url(https://www.juntadeandalucia.es/themes/images/logo_v2.png) 0 0;}
.emergente #cabecera #logo a:hover{background-position: 62px 0; }

*/
.emergente_con_buscador #cabecera {
  height: auto !important;
}
.emergente_con_buscador .buscador {
  display: block !important;
}
/* FIN CABECERA Y MENU EN EL CASO DE BUSCADOR GENERAL*/

/* MENU */

  /* menu por defecto oculto */
#menu {
  display: none;
}
#menu .eventos {
  height: 26em;
  padding-top: 2em;
}
#menu .eventos, #menu .eventos li, #menu .eventos li a, #menu .eventos .dia {
  color: #fff;
}
#menu .eventos li, #menu .eventos li:hover {
  padding: 0 0 0.5em 0;
}
#menu .eventos li {
  width: auto;
  height: 70px;
  line-height: 1.2em;
}
#menu .eventos:hover {
  padding-top: 20px;
}
#menu .eventos li:hover {
  text-decoration: none !important;
}
#menu .eventos li a:hover {
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 0;
}
#menu .grid_6 .eventos li .texto {
  width: 23em;
}
#menu .grid_5 .eventos li .texto {
  width: 18.2em;
}
#menu .eventos li .texto a {
  width: 2em;
}
#menu .eventos li a {
  font-size: 1em !important;
}
#menu .eventos li a:hover {
  text-decoration: underline;
}
#menu .listado_resultados {
  padding: 2em 0;
  font-size: 1em;
}
html body #menu .listado_resultados li {
  padding: 0 0 0 10px !important;
  margin: 0px 0 20px 0 !important;
  background: url(https://www.juntadeandalucia.es/themes/images/separador_vertical_blanco.gif) repeat-y top left;
  font-weight: normal;
  line-height: 1.6em;
}
#menu .listado_resultados li:hover {
  text-decoration: none !important;
}
#menu .social ul {
  padding: 5px 0 0 0!important;
}
#menu .social ul li {
  padding: 0px 0 0 0 !important;
  margin: 0 !important;
}
#menu .boja table {
  text-align: center;
}
#menu .boja table tr {
  /*  height:2.9em !important;*/
  overflow: hidden;
}
/* FIN MENU */

/* MIGA DE PAN */
#miga {
  min-height: 1.5em;
  _height: 1.5em;
  padding-top: 5px;
  padding-bottom: 3px;
  background-color: #eaeaea;
  border-bottom: 1px #cccccc solid
}
#miga .texto {
  margin-left: 0.5em;
  font: 1.2em/1.2em Verdana, Arial, Helvetica, sans-serif;
  background: url(https://www.juntadeandalucia.es/themes/images/miga_ico.gif) no-repeat 0 1px;
  padding-left: 14px;
  color: #2b2b2b;
}
#miga .texto a {
  text-decoration: none;
  color: #2b2b2b;
}
#miga .texto a:hover {
  text-decoration: underline;
}
/* FIN MIGA DE PAN */

/* PIE */
#pie {
  min-height: 13.0em;
  display: block;
  background: #575656;
  border-top: 6px solid #2b2b2b;
  clear: both;
}
#pie h2 {
  color: #FFFFFF;
  padding: 15px 0;
  font-family: 'TeXGyreHerosCnRegular', Arial, Helvetica, sans-serif;
  font-size: 1.7em;
  font-weight: normal !important;
}
#pie .enlaces {
  padding: 20px 0;
  background: url(https://www.juntadeandalucia.es/themes/images/logo_junta_foot_movil.jpg) no-repeat top right;
  background-size:120px;
}
#pie .enlaces ul {
  padding: 0;
  margin: 0;
}
#pie .enlaces ul li {
  width: 18em;
  display: block;
  float: left;
  padding: 0;
  margin: 0;
  list-style: none;
  color: #fff;
}
#pie .enlaces ul li a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  height: 2em;
  float: left;
  color: #fff;
  margin: 0;
  padding: 0;
  padding: 0px 10px;
  text-decoration: none;
  background: url(https://www.juntadeandalucia.es/themes/images/bullet_01.jpg) no-repeat left 5px;
}
#pie .enlaces ul li a:hover {
  text-decoration: underline;
}
/* FIN PIE */

/* INDEX: LO ULTIMO */
#pestanas {
}
#pestanas .pagination {
  width: 100%;
  float: left;
  font-family: 'TeXGyreHerosCnRegular', Arial, Helvetica, sans-serif;
  font-weight: normal !important;
  list-style: none;
  margin: 0;
  padding: 0;
  background: url(https://www.juntadeandalucia.es/themes/images/pestanas_bg.jpg) repeat-x left bottom;
}
#pestanas .pagination li {
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
  background: url(https://www.juntadeandalucia.es/themes/images/pestanas_bg.jpg) repeat-x left bottom;
}
#pestanas .pagination li a {
  display: block;
  padding: 0px 10px 10px 0;
  margin: 0 0 10px 0;
  color: #2b2b2b;
  text-decoration: none;
  font-size: 1.08em;
}
#pestanas .pagination li a span {
  font-size: 1.5em;
}
#pestanas .pagination .current span {
  background: url(https://www.juntadeandalucia.es/themes/images/pestanas_active.jpg) repeat-x left bottom;
  padding-bottom: 20px;
}
#pestanas .pagination .current a {
  color: #087021 !important;
}
#pestanas .slides_container_2 {
  width: 100%;
  float: left;
}
#pestanas .item2 {
  width: 100%;
  float: left;
  min-height: 30px;
  padding: 20px 0 0 0;
}
#pestanas .item2 h2 {
  display: none;
}
#pestanas .item2 .foto span {
  width: 100%;
  float: left;
  font-size: 1.1em;
  line-height: 1.1em;
  padding: 5px 0;
  float: left;
  color: #087021;
}
/* NOTICIAS NOVEDADES AGENDA RECOMENDAMOS */
#recomienda_slide .item.current {
  width: 56em;
}
#recomienda_slide .slides_control {
  width: 100% !important;
}
#recomienda_slide .current {
  float: left;
  position: relative !important;
}
#recomienda_slide {
  position: relative;
}
#recomienda_slide .lista_con_foto {
  padding: 0 0 0 10px;
}
#recomienda_slide .slidesPrevious {
  position: absolute;
  top: 83px;
  z-index: 99;
}
#recomienda_slide .slidesNext {
  position: absolute;
  top: 83px;
  z-index: 99;
  right: 0;
}
#recomienda_slide .item {
  /*padding:0 10px;*/ 
  width: 95%;
  margin: 0;
  border: 0;
  height: 70px;
}
.noticias .eventos li .texto {
  width: 80%;
}
.noticias .eventos.noticia_portada li .texto {
  width: 80% !important;
}
.noticias .eventos li a {
  color: #2b2b2b !important;
}
.noticias .enlace_mas {
  padding-right: 0 !important;
}
#menu .noticias p.titular, #contenidos .noticias p.titular{
  font-size: 1.4em !important;
  line-height: 1.2em;
}
.noticias p.titular a {
  color: #2b2b2b !important;
}
.noticias p.titular.organismos a {
  color: #087021 !important;
}
#menu .noticias p.subtitular, #contenidos .noticias p.subtitular{
  font-size: 1.2em !important;
  line-height: 1.2em;
  color: #515151;
}
.noticias p.subtitular a {
  color: #515151 !important;
}
.novedades .eventos li .texto {
  width: 80%;
}
.agenda .eventos li .texto {
  width: 80%;
}
/* FIN NOTICIAS NOVEDADES AGENDA RECOMENDAMOS */
/* FIN INDEX: LO ULTIMO*/

/* INDEX: MAS VISITADO, BUSQUEDAS FRECUENRTES*/
.lo_mas_visitado {
  margin-bottom: 1em;
}
.busquedas_frecuentes {
  margin-bottom: 7em;
}
.busquedas_frecuentes ul {
  font-family: verdana, arial, helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
.busquedas_frecuentes ul li {
  display: inline;
  line-height: 2em;
}
.busquedas_frecuentes a {
  color: #005da6 !important;
  padding: 0 3px;
  text-decoration: none;
}
.busquedas_frecuentes a:hover {
  background-color: #005da6 !important;
  color: #FFFFFF !important;
  text-decoration: none !important;
}
.busquedas_frecuentes .masvisitado1 {
  font-size: 2em;
}
.busquedas_frecuentes .masvisitado2 {
  font-size: 1.9em;
}
.busquedas_frecuentes .masvisitado3 {
  font-size: 1.8em;
}
.busquedas_frecuentes .masvisitado4 {
  font-size: 1.7em;
}
.busquedas_frecuentes .masvisitado5 {
  font-size: 1.6em;
}
.busquedas_frecuentes .masvisitado6 {
  font-size: 1.5em;
}
.busquedas_frecuentes .masvisitado7 {
  font-size: 1.4em;
}
.busquedas_frecuentes .masvisitado8 {
  font-size: 1.3em;
}
.busquedas_frecuentes .masvisitado9 {
  font-size: 1.2em;
}
.busquedas_frecuentes .masvisitado10 {
  font-size: 1.1em;
}
/* FIN INDEX: MAS VISITADO, BUSQUEDAS FRECUENRTES*/


/* SLIDER */
#slide {
  float: left;
  z-index: 1;
}
#slide div {
  display: block;
  float: left;
}
#slide div img {
  float: left;
}
#slide .pagination {
  width: 30em;
  margin: 5px auto;
}
.slidesControl div, .slidesControl img, #slides {
  z-index: 1 !important;
}
#slide .slidesPagination {
  display: inline-block;
  overflow: auto;
  margin: 0 auto;
  text-align: center;
/* #display: inline-block;
 *display: inline;
  _display: inline;
  zoom: 1;
  */
}
html>body #slide .slidesPagination {
 /*width: expression((document.body.clientWidth < 55)? "50px" : "auto");*/
  min-width: 3em;
  left: 50%;
  overflow: auto;
  overflow-x: hidden;
}
#slide .slidesPagination ul {
}
#slide .slidesPagination li {
  margin: 10px 0px 10px 10px;
  list-style: none;
  float: left;
}
#slide .slidesPagination li a {
  display: block;
  width: 12px;
  height: 0;
  padding-top: 12px;
  background-image: url(https://www.juntadeandalucia.es/themes/images/pagination.gif);
  background-position: 0 0;
  float: left;
  overflow: hidden;
 /* zoom: 1.5; */
}
#slide .slidesPagination li.slidesCurrent a {
  background-position: 0 -12px;
}
.controller_pause_1, .controller_pause_2 {
  width: 12px;
  height: 12px;
  display: block;
}
.controller_pause_1 {
  background: url(https://www.juntadeandalucia.es/themes/images/play-stop.gif) no-repeat 0 0px !important;
}
.controller_pause_2 {
  background: url(https://www.juntadeandalucia.es/themes/images/play-stop.gif) no-repeat 0 -12px !important;
}
#columna #slides.slidesContainer .slidesContainer {
  border: 0 !important;
  padding: 0 !important;
}
#columna #slides {
  margin-bottom: 3.5em !important;
}
/* SLIDER INDEX */
#slide_col16 #slide {
  width: 100%;
}
#slide_col16 #slide div {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
#slide_col16 #slide div img {
  max-width: 100%;
  height: auto;
}
#slide {
  text-align: center;
}
/* FIN SLIDER INDEX */
  /* FIN SLIDER INDEX */
  
  /*SLIDER COLUMNA*/
#columna #slide {
  width: 28em;
  padding-bottom: 2em;
}
#columna #slide div img {
  width: 27em;
  height: 27em;
  background: #fff;
  border: 1px solid #ccc;
  padding: 0.4em;
}
#columna .js img {
  padding: 0 !important;
}
#columna #slide .slidesContainer {
  width: 27.2em !important;
  padding: 0.3em;
  border: 1px solid #ccc;
  height: 27.2em !important;
}
#columna #slide .slidesPagination {
  min-width: 5em;
}

/*FIN SLIDER COLUMNA*/

/* FIN SLIDERS*/



/* BARRA ACCIONES 3ER NIVEL */      
 
@media (min-width: 389px) {
.acciones {
  height: 1.8em;
  margin: 0 0 2em 0;
  padding: 10px 0;
  color: #5b5b5b;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}
}

@media (max-width: 388px) {
.acciones {
  float: left;
  width: 100%;
  height: auto;
  margin: 0 0 2em 0;
  padding: 10px 0;
  color: #5b5b5b;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}
}

@media (min-width: 389px) {
/** En caso pantallas mayores se deja como en PC DESKTOP mejor**/
.acciones .multimedia {
  float: right;
}
}

@media (max-width: 388px) {
/** CAMBIO PARA QUE EN DISPOSITIVOS ESTAS HERRAMIENTAS FLOTEN y so se superpongan En pantallas muy muy pequeñas 
  esta se usa en boton imprimir por ejemplo y se pisan con redes sociales si la pantalla del dispositivo es muy pequeña **/
.acciones .multimedia {
  width: 100%;
  display: block;
  float: left;
  margin-top: 1em;
}
}

/* excepcion imagen cabeceras*/

@media only screen and (min-width: 420px) and (max-width: 959px) {



}
.acciones .multimedia ul {
  font-size: 1.2em;
}
.acciones .multimedia a {
  padding: 3px 25px;
  float: left;
  color: #5b5b5b !important;
  background-position: left center;
  background-repeat: no-repeat;
}
.acciones .imprimir {
  background-image: url(https://www.juntadeandalucia.es/themes/images/icon_imprimir.jpg);
}
.acciones .multimedia ul, .acciones .multimedia ul li {
  float: left;
  margin: 0 !important;
  padding: 0 !important;
}

@media (min-width: 389px) {
/** En caso pantallas mayores se deja como en PC DESKTOP mejor**/
.acciones .social {
  float: right;
  padding: 1px 5px!important;
}
}

@media (max-width: 388px) {
/** CAMBIO PARA QUE EN DISPOSITIVOS ESTAS HERRAMIENTAS FLOTEN y so se superpongan En pantallas muy muy pequeñas 
  esta se usa en boton imprimir por ejemplo y se pisan con redes sociales si la pantalla del dispositivo es muy pequeña **/
.acciones .social {
/*float:right; padding:1px 5px!important;*/
}
}
.acciones .social p {
  color: #5b5b5b !important;
  margin: 0 !important;
  padding: 0 !important;
  float: left;
}
.acciones .social ul {
  float: left;
}
/* FIN BARRA ACCIONES 3ER NIVEL */

/* BLOQUE VALORACIONES */       
ul.notas_escala {
  margin: 0 18px 0 0 !important;
  padding: 0 !important;
}
ul.notas_escala li {
  clear: none !important;
  float: left;
  list-style: none outside none;
  margin: 0 !important;
  padding: 0 !important;
  list-style: none !important;
}
ul.notas_escala li label {
  background: url("https://www.juntadeandalucia.es/themes/images/estrellas.gif") no-repeat scroll center top transparent;
  color: #FFFFFF;
  cursor: pointer;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.7em;
  height: 20px;
  line-height: 20px;
  padding-top: 2px;
  text-align: center;
  width: 20px;
}
ul.notas_escala.js li label .numero {
  display: none;
}
ul.notas_escala li.note-off label {
  background-position: center -60px;
}
ul.notas_escala li.note-checked {
  font-weight: bold;
}
ul.notas_escala.js li {
  min-height: 20px;
  min-width: 20px;
}
ul.notas_escala.js input {
  left: -999%;
  position: absolute;
}
ul.notas_escala.js li.note-focus {
  outline: 1px dotted #000000;
}
* html ul.notas_escala.js li {
  height: 20px;
  width: 20px;
}
#votacion {
  border-top: #e1e1e1 1px solid;
  margin-top: 6em;
  clear: both;
}
#votacion img {
  display: inline;
}
#votacion .titulo {
}
#votacion .bt_valorar {
  float: left;
}
#votacion .lista {
  float: left;
}
/** CAMBIO tenía un valor d eancho fijo pero debe ponerse en porcentajes para que no saque scroll*/     
#votacion .voto {
  float: left;
  width: 100%;
}
#votacion .tu_voto {
  font-size: 1.2em;
  float: left;
  margin-right: 10px;
  padding-top: 7px;
}
#votacion #result {
  font-size: 1.2em;
  float: left;
  text-align: left;
  width: 100%;
  margin-top: 1.5em;
}
#votacion .green_votos {
  color: #087021;
}
#votacion .resultado {
  color: #383D44;
  padding-right: 5px;
}
#votacion #textoPieVotacion a {
  color: #035A78;
  text-decoration: underline;
}
#sugerencia {
  padding-top: 2em;
}
.alerta_sugerencia {
  color: #087021 !important;
  margin: 2em 0 1em 0;
  background: #fafafa;
  border: 1px solid #cccccc;
  display: block;
  line-height: 1.6em;
  padding: 1em 1em;
}
.alerta_sugerencia p {
  color: #087021 !important;
}
.alerta_sugerencia.msg_error p {
  color: #cc3300 !important;
}
fieldset {
  border: 0 none;
  padding: 0;
}
/* FIN BLOQUE VALORACIONES*/

/* TIPOS DE LISTADOS*/

  /* LISTADOS EVENTOS */
.eventos {
  clear: both;
}
.eventos li {
  width: 100%;
  float: left;
  padding: 0 0 2em 0;
  display: block;
}
.eventos li a {
  text-decoration: none;
}
.eventos li a:hover {
  text-decoration: underline;
}
.eventos li .fecha {
  text-align: center;
  width: 30px;
  float: left;
}
.eventos li .fecha .dia {
  color: #087021;
  font-size: 2.1em;
  line-height: 1.0em;
  font-family: 'TeXGyreHerosCnRegular', Arial, Helvetica, sans-serif;
}
.eventos li .fecha .mes {
  font-size: 1.0em;
  line-height: 0.7em;
  font-family: 'TeXGyreHerosCnRegular', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}
#menu .eventos li .texto,
#contenidos .eventos li .texto {
  color: #515151;
  padding: 0 0 .2em .5em !important;
  float: left;
  background: url(https://www.juntadeandalucia.es/themes/images/separador_vertical.jpg) repeat-y top left;
  line-height: 1.2em;
  margin: 0px !important;
  display: block;
}
.eventos li p {
}
/*ELEMENTOS COMUNES: Listado común ********************************/  
  /* Este estilo puede ser prescindible, se iba a utilizar para el tercer nivel, pero se nos hizo crear algo mas generico*/
.ol_comun {
  font-size: 1.2em;
  line-height: 1.7em;
  margin: 10px 20px;
  color: #515151;
}
.ol_comun li {
  padding: 5px 0;
  list-style: decimal;
  list-style-position: inside;
}

ol.listado_numerico {
  padding: 10px;
  list-style-type: decimal;
}

/*ELEMENTOS COMUNES: Listado simple ********************************/
.listado_simple {
  margin: 0 0 1.5em 0;
  padding: 0;
  list-style: none;
  font-size: 1.2em;
  line-height: 1.4em;
}
.listado_simple li {
  margin: 0 !important;
  padding: 0 !important;
}
/*Listado simple ********************************/
.listado_simple {
  margin: 0 0 1.5em 0;
  padding: 0;
  list-style: none;
  font-size: 1.2em;
  line-height: 1.4em;
}
.listado_simple li {
  margin: 0 !important;
  padding: 0 !important;
}
/*Listado_enlaces ********************************/
.listado_enlaces {
  font-size: 1.2em;
  color: #2b2b2b;
  padding: 0;
  margin: 0;
}
.listado_enlaces li {
  margin-bottom: 1em;
  background: url(https://www.juntadeandalucia.es/themes/images/bullet_ul.jpg) 0.1em 0.5em no-repeat;
  padding-left: 10px;
}
.listado_enlaces .actual {
  font-weight: bold;
}
.listado_enlaces .mas {
  background: url(https://www.juntadeandalucia.es/themes/images/enlace_mas.jpg) 0 0.1em no-repeat;
  padding-left: 14px;
}
.listado_enlaces .mas a {
  color: #2b2b2b !important;
  text-decoration: none;
}
.listado_enlaces .mas a:hover {
  text-decoration: underline;
}
.listado_enlaces a strong, .listado_enlaces .actual a strong, .listado_enlaces .mas strong {
  color: #000 !important;
  font-weight: normal;
}
.listado_enlaces li ul {
  padding: 10px 0 0px 0;
}
.listado_enlaces li li {
  margin-bottom: 10px;
  background: url(https://www.juntadeandalucia.es/themes/images/bullet_ulul.jpg) 0 6px no-repeat;
  padding-left: 10px;
}
.listado_enlaces a {
  color: #087021;
  text-decoration: none;
}
.listado_enlaces a:hover {
  text-decoration: underline;
}
/*Listado ordenado ********************************/
.listado_ordenado {
  clear: both;
  padding: 0;
  font: 1.2em Verdana, Arial, Helvetica, sans-serif;
}
.listado_ordenado li {
  padding-bottom: 1em;
}
.listado_ordenado li a {
  color: #087021;
}
.listado_ordenado .c_2b2b2b {
  font-family: 'TeXGyreHerosCnRegular', Arial, Helvetica, sans-serif;
  font-size: 1.4em;
  line-height: 1em;
  color: #2b2b2b;
  font-weight: normal;
}
.listado_ordenado .actual {
  font-weight: bold;
}
/*Lista con foto ***************************************/
.lista_con_foto {
  padding: 0.6em 0;
  margin: 0;
  clear: both;
  display: block;
}
.lista_con_foto li {
  clear: both;
  min-height: 70px;
  background: none !important;
  display: inline-block;
  margin: 0 !important;
  float: left;
  list-style: none !important;
}
.lista_con_foto p {
  margin: 0 !important;
}
.lista_con_foto li img {
  float: left;
  margin: 0 !important;
  display: block;
}
#menu .lista_con_foto li a, #menu .lista_con_foto li p, #contenidos .lista_con_foto li a, #contenidos .lista_con_foto li p{
  line-height:1.4em;
  } 

.lista_con_foto li a, .lista_con_foto li p{
  display:block;
  font-size:1.2em !important;
  color:#515151;
  padding-left:4em !important;
  } 
#columna2 .lista_con_foto li {
  width: 100%;
}
#columna2 .lista_con_foto li a, #columna2 .lista_con_foto li p {
  float: left;
  padding-left: 0.5em !important;
  width: 15em;
  line-height: normal;
}
/* creacion de una clase para hacer listados en columnas */

/* CAMBIAMOS ESTOS ANCHOS PARA QUE EN VERSION MOVIL NO PONGAN SCROLL 
.columnas_2 .item{width: 10em;}
.columnas_3 .item{width: 16em;}
.columnas_4 .item{width: 22em;}
.columnas_5 .item{width: 32em;}
.columnas_6 .item{width: 34em;}
.columnas_7 .item{width: 40em;}
.columnas_8 .item{width: 46em;}
.columnas_9 .item{width: 52em;}
.columnas_10 .item{width: 58em;}
.columnas_11 .item{width: 64em;}*/
.columnas_2 .item {
  width: 10em;
}
.columnas_3 .item {
  width: 16em;
}
.columnas_4 .item {
  width: 22em;
}
.columnas_5 .item {
  width: 32em;
}
.columnas_6 .item {
  width: 34em;
}
.columnas_7 .item {
  width: 40em;
}
.columnas_8 .item {
  width: 46em;
}
.columnas_9 .item {
  width: 52em;
}
.columnas_10 .item {
  width: 58em;
}
.columnas_11 .item {
  width: 100%;
}
.columnas_1 .item, .columnas_2 .item, .columnas_3 .item, .columnas_4 .item, .columnas_5 .item, .columnas_6 .item, .columnas_7 .item, .columnas_8 .item, .columnas_9 .item, .columnas_10 .item, .columnas_11 .item {
  width: 100%;
  clear: none;
  float: left;
  height: auto;
  border: none !important;
  border-bottom: 2em solid #fff;
  border-top: 2em solid #fff;
}
.columnas_1 .item_clear, .columnas_2 .item_clear, .columnas_3 .item_clear, .columnas_4 .item_clear, .columnas_5 .item_clear, .columnas_6 .item_clear, .columnas_7 .item_clear, columnas_8 .item_clear, .columnas_9 .item_clear, .columnas_10 .item_clear, .columnas_11 .item_clear {
  width: 100%;
  clear: both;
  float: left;
  height: auto;
  border: none !important;
  border-bottom: 2em solid #fff;
  border-top: 2em solid #fff;
}
/*ELEMENTOS COMUNES: LISTADO RESULTADOS *********************************/
.recursos_disponibles {
  padding-bottom: 2em !important;
}
.listado_resultados {
  font: 1.2em Verdana, Arial, Helvetica, sans-serif;
}
/** Esta cita la usan para poner enlaces webs que al ser en una sola línea ensanchan la pagina en el dispositivo
y hacen aparecer los scrolls, esto hace qu esalga puntos suspensivos **/
cite {
  color: #005DA6 !important;
  font-style: normal;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.cite_a{color:#005DA6 !important; font-style:normal; display:block;}

.listado_resultados li {
  width: 100%;
  display: block;
  clear: both;
  padding: 0 0 10px 0;
}
.listado_resultados li img {
  border: 1px solid #ccc;
  float: left;
  margin: 0 0.5em 2em 0;
}
.listado_resultados li img.publicaciones_thumb {
  width: 9.8em;
}
#contenidos .listado_resultados li div {
  /*float: left; Se quita para que flote*/
  display: block;
  line-height: 1.4em;
  padding: 0 0 0 0.5em;
  margin: 0 0 2em 0;
  background: url(https://www.juntadeandalucia.es/themes/images/separador_vertical.jpg) repeat-y top left;
}
.listado_resultados span {
  display: block;
}
.listado_resultados span span {
  display: inline !important;
}
.listado_resultados span strong {
  font-weight: normal !important;
  color: #2b2b2b;
}
.listado_resultados .item_pdf_grupo {
  padding: 0.6em 0 0.9em 2.8em;
  margin: 1.5em 0 0 0;
  background-repeat: no-repeat;
  background-image: url(https://www.juntadeandalucia.es/themes/images/pdf.gif);
}
.listado_resultados .enlace_pdf {
  background: url(https://www.juntadeandalucia.es/themes/images/pdf.gif) 0px -3px no-repeat;
  padding-left: 3em !important;
  padding-top: 1em;
 /*margin-top:*/
  color:#087021 !important;
  font-size: 1em !important;
  display: block;
}
.listado_resultados .enlace_video {
  background: url(https://www.juntadeandalucia.es/themes/images/video.gif) 0px -3px no-repeat;
  padding-left: 3em !important;
  padding-top: 0.3em;
  padding-bottom: 1em !important;  
 /*margin-top:*/
  color:#087021 !important;
  font-size: 1em !important;
  display: block;
}
.listado_resultados .enlace_audio {
  background: url(https://www.juntadeandalucia.es/themes/images/audio.gif) 0px -3px no-repeat;
  padding-left: 3em !important;
  padding-top: 0.3em;
  padding-bottom: 1em !important;  
 /*margin-top:*/
  color:#087021 !important;
  font-size: 1em !important;
  display: block;
}
.listado_resultados .listado_social {
  padding-top: 5px;
}
.listado_resultados .en_listado_social {
  float: left;
  padding-top: 7px;
  padding-right: 5px;
}

#contenidos .listado_resultados  li div > p{ 
  line-height:1.4em;
  margin:0;
  font-size: 1em;
}
  
/*Listado_pdf, con icono ********************************/
.listado_pdf, .listado_adjuntos {
  font-size: 1.2em;
  margin: 1.5em 0;
  padding: 1em 0 0em 2em;
}
.listado_adjuntos {
  font-size: 1.2em;
  padding: 1em 0 0 0 !important;
  margin: 0 !important;
}
.listado_pdf li, .listado_adjuntos li {
  padding: 1em 0 1em 2.8em !important;
  display: block;
  margin-left: 0 !important;
}
.listado_pdf .item_grupo {
  background: url(https://www.juntadeandalucia.es/themes/images/pdf_firmado.gif) no-repeat 0 1em;
}
.listado_pdf .item {
  background: url(https://www.juntadeandalucia.es/themes/images/pdf.gif) no-repeat 0 1em;
}
.listado_pdf ul {
  margin-top: 1em !important;
}
.listado_pdf .item_verificar {
  background: url(https://www.juntadeandalucia.es/boja/themes/images/pdf_verificar.gif) no-repeat 0;
  padding: 0;
  margin: 0;
}
.listado_adjuntos .item_pdf {
  background: url(https://www.juntadeandalucia.es/themes/images/pdf.gif) no-repeat 0 50%;
}
.listado_adjuntos .item_img {
  background: url(https://www.juntadeandalucia.es/themes/images/jpg.gif) no-repeat 0 50%;
}
.listado_adjuntos .item_mov {
  background: url(https://www.juntadeandalucia.es/themes/images/mov.gif) no-repeat 0 50%;
}
.listado_adjuntos .item_audio {
  background: url(https://www.juntadeandalucia.es/themes/images/audio.gif) no-repeat 0 50%;
}
.listado_adjuntos .item_link {
  background: url(https://www.juntadeandalucia.es/themes/images/link.gif) no-repeat 0 50%;
}
.listado_adjuntos .item_flash {
  background: url(https://www.juntadeandalucia.es/themes/images/flash.gif) no-repeat 0 50%;
}
.listado_adjuntos .item_txt {
  background: url(https://www.juntadeandalucia.es/themes/images/txt.gif) no-repeat 0 50%;
}
.listado_adjuntos .item_ods {
  background: url(https://www.juntadeandalucia.es/themes/images/ods.gif) no-repeat 0 50%;
}
/* FIN TIPOS DE LISTADOS*/

/* PAGINADO */
.paginado {
  float: none;
  clear: both;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
/* CAMBIO PARA OCULTAR EN MODO MOVIL TODOS LOS BOTONES DE PAGINADOS EXCEPTO EL ACTUAL Y LAS FLECHAS*/
.paginado ul li {
  display: none;
}
/*EL CURRENT DEBE ESTAR EN BLOCK Y MOSTRARSE*/
.paginado ul li.current, .paginado ul li:first-child, .paginado ul li:last-child, .paginado ul li:nth-last-child(2), .paginado ul li:nth-child(2) {
  display: block;
}
.paginado ul {
  width: 25em;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  float: none;
  text-align: center;
}
.paginado ul li {
  float: left;
  width: 4.0em;
  height: 4.0em;
  padding: 0;
  margin: 0.6em 0 0.6em 0.6em;
  border: 1px solid #e4e4e4;
  line-height: 4.1em;
  text-align: center;
  background-color: #f4f4f4;
}
.paginado ul li:hover {
/*background-color:#515151;*/
}
.paginado ul li a {
  color: #515151;
  font-size: 1.5em;
  height: auto;
  width: 100%;
  /*float: left; text-align: center; line-height: 3em;*/
  padding: 0;
  margin: 0;
  display: block;
  margin: auto auto;
  height: 100%;
  text-decoration: none!important;
}
.paginado ul li a:hover {
  /*color:#FFFFFF!important;*/
  text-decoration: none!important;
}
.paginado ul .corte {
/*float:left;
  background:url(https://www.juntadeandalucia.es/themes/images/paginado_fin.jpg) no-repeat top right;*/
}
.paginado ul .cortedos {
  float: left;
  background-image: url(https://www.juntadeandalucia.es/themes/images/paginado_fin.jpg), url(https://www.juntadeandalucia.es/themes/images/paginado_fin.jpg);
  background-position: top left, top right;
  background-repeat: no-repeat;
}
.paginado ul li img {
  display: block;
  padding-top: 0.8em;
  width: 0.9em;
  height: 0.9em;
  margin: auto auto;
}
/**OCULTAR PAGINADO ESTRA PARA MOVILES**/
/*.paginado ul li{
  display:none;
}
.paginado ul li.current{
  display:block;
}*/

/* cambios paginado responsive */
#contenido .paginado p {
}
.paginado p {
  clear: both;
  font-size: 1.4em!important;
  padding: 0.2em 1em 0.4em 1em!important;
  margin: 0 !important;
  float: none;
  border-top: 1px solid #cccccc;
  background: none;
  text-align: center;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;

}
.paginado a {
  color: #515151 !important;
}
.paginado .current a {
  color: #087021 !important;
  font-weight: bold;
}
/* cambios paginado responsive */
/* FIN PAGINADO*/


/* BUSCADOR */
/*cambiamos de flotar a la izquierda a que no flote para que se centre bien*/

/**CAMBIO AUMENTAMOS EL ANCHO Y MARGENES**/

#columna .buscador_interno .grid_2 {
  width: 95px !important;
  margin: 0;
  padding: 0;
}
.buscador_interno .grid_2 label {
  padding-top: .5em !important;
  display: block;
}
#columna .buscador_interno .boton {
  margin: 0 0 0 40px;
}



.buscador_interno .check {
  float: left;
  padding: 0 2.5em 0 0;
}
.buscador_interno .nota {
  font-size: 1.2em;
  color: #515151;
}
.buscador_interno #div_oculto .input_text {
  float: left;
}
.buscador_interno #div_oculto a {
  margin: 2px 3px;
  float: left;
}

.buscador_interno img {
  float: none !important;
  display: inline-block;
}
.buscador_interno img {
  float: left;
}

.buscador_interno .label_inline {
  padding: 0.2em 0.5em 0.2em 0;
}
.buscador_interno .label_block {
  padding: 1em 0 0.5em 0;
  display: block;
}
.buscador_interno input, .buscador_interno textarea {
  font-family: Arial, Helvetica, sans-serif;
}
.buscador_interno input[type="checkbox"] {
  margin: 0 0.5em 0 0;
}
.buscador_interno .boton {
  display: block;
  margin-top: 0.2em;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  width: 8em;
}
.buscador_interno .textarea {
  height: 6em!important;
  width: 98%;
  background-color: #FFF;
  border: 1px solid #ccc;
  /* CAMBIO poner padding laterales de 4px  a 0 para ayudar a centrarlo en moviles*/
  padding: 4px 0 4px 1%;
  margin-bottom: 1em;
}
/* CAMBIO se añade div al final para que no influya en los anchos de los contenidos que sean inputs, textareas y lablets que llevan ancho 100%*/


.buscador_interno p.msg_error {
  padding-bottom: 1em !important;
  color: #cc3300 !important;
}
.lista_correo .grid_14.alpha.omega {
  margin: 0 auto;
  width: 95%;
}
.check_listacorreo {
  width: 95%;
  padding: 1em 0;
  height: 1%;
  overflow: hidden;
  margin: 0 auto;
}
.check_listacorreo input {
  float: left;
  margin: 0.3em;
}
.check_listacorreo label {
  padding: 0.2em 1em 1em 0;
  color: #515151 !important;
  /*float: left;*/
  font-size: 1.2em;
}
.lista_correo_css div.genHeader {
  width: 62em !important;
}
/* FIN BUSCADOR*/

/* ELEMENTOS DE FORMULARIO*/



.centrar {
  text-align: center;
  padding-top: 1em;
}
.textarea {
  border: 1px solid #999999;
  background-color: #fafafa;
  color: #515151;
  width: 100%;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 1.2em;
}
.tamano_altura60 {
  height: 6em !important;
}
/* FIN ELEMENTOS DE FORMULARIO*/

/* BOJA ******************************************************/

  /* CALENDARIO BOJA*/
.contenedor_calendario_tabla {
  width: 100%;
  max-width: 320px;
  border-radius: 5px;
  background-color: #ececec;
  float: left;
  padding-top: 1em;
  margin-top: 1em;
  margin-bottom:1em;
  padding: 2px;
  clear: both;
}
.calendario_tabla, #menu .boja table {
  border-collapse: collapse;
  text-align: center !important;
  border: 2px solid #ececec;
  margin-bottom: 1em;
  padding-top: 1em;
  margin-top: 1em;
  color: #515151;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
.calendario_tabla td, #menu .boja table td {
  width: 3.0em;
  line-height: 3.4em;
  overflow: hidden;
}
/*#menu .boja table td, #columna .calendario_tabla td{line-height:2.9em !important;}*/

.calendario_tabla caption, #menu .boja table caption {
  height: 2.4em;
  background: #ececec;
  font-size: 1.2em;
  line-height: 2em;
  text-transform: uppercase;
  color: #087021;
}
#columna .calendario_tabla caption, #menu .calendario_tabla caption {
}
.calendario_tabla td, #menu .boja table td {
  padding: 0;
  margin: 0;
  font-weight: bold;
  background: #f3f3f3;
  border-top: 1px solid #f7f7f7;
  border-left: 1px solid #f7f7f7;
  border-bottom: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
}
.calendario_tabla td a, #menu .boja table td a {
  width: 100%!important;
  display: block;
  color: #087021;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
}
.calendario_tabla td a:hover, #menu .boja table td a:hover {
  font-weight: bold !important;
}
.calendario_tabla th, #menu .boja table th {
  color: #515151;
  border-bottom: 2px solid #dadada;
  background: #f1f1f1 url(https://www.juntadeandalucia.es/themes/images/calendario_th.jpg) repeat-x;
}
.calendario_tabla .hoy, #menu .boja table .hoy {
  background: #166a39 url(https://www.juntadeandalucia.es/themes/images/calendario_hoy.jpg);
}
.calendario_tabla .hoy a, #menu .boja table .hoy a {
  color: #fff !important;
  background: none;
}
.calendario_tabla .dia-relleno, #menu .boja table .dia-relleno {
  color: #515151;
  height: 2.3em !important
}
.calendario_tabla .domingo, #menu .boja table .domingo {
  color: #9d4444;
}
.calendario_tabla .dia-boja a:link, #menu .boja table .dia-boja a {
  color: #fff !important;
  background-color: #176f3c;
}
.calendario_tabla .dia-boja a:link, #menu .boja table .dia-boja a:link {
  color: #fff !important;
  background-color: #176f3c;
}
.calendario_tabla .dia-boja a:visited, #menu .boja table .dia-boja a:visited {
  background-color: #d5e0da;
  color: #087021 !important;
}
.calendario_tabla .dia-boja.varios a:link, #menu .boja table .dia-boja.varios a:link {
  background: #176f3c url(https://www.juntadeandalucia.es/themes/images/calendari_boja_varios.gif) no-repeat top right !important;
}
.calendario_list {
  margin: 2em 0 0 0;
}
.calendario_list .item {
  width: 16em;
  padding: 0 2em 2em 0;
  float: left;
}
.calendario_list .omega {
  padding-right: 0;
}

.calendario-nav > div {float: left; background-color: #ececec;}
.calendario-nav > div > a {line-height: 2; padding:6px 0; display: block; height: 2em; text-align: center;}
.calendario-nav > div > a > img{margin: 0 auto;}
.calendario-nav .ano-ant { width:10%; line-height: 2;}
.calendario-nav .mes-ant { width:10%; line-height: 2;}
.calendario-nav .mes-act { width:60%; font-weight: normal; font-size: 1.2em; color:#087021; line-height: 2;  height: 2em; padding: 0 0 8px 0; text-transform: uppercase;}
.calendario-nav .mes-sig { width:10%; line-height: 2;}
.calendario-nav .ano-sig { width:10%; line-height: 2;}

/* FIN CALENDARIO BOJA*/
  
.cabecera_detalle_disposicion {
  margin-top: 1em;
}
.cabecera_detalle_disposicion h2, .cabecera_detalle_disposicion h3 {
  padding: 0 !important;
}
.cabecera_detalle_disposicion h4 {
  color: #087021 !important;
}
.boja_verificacion table {
  width: 100%;
  font: normal 1.0em verdana, arial, helvetica, sans-serif !important;
}
.boja_verificacion table th {
  text-align: center;
}
.boja_disposicion table, .boja_verificacion table {
  border-collapse: collapse;
  border: 1px solid #cccccc;
  font: normal 1.2em verdana, arial, helvetica, sans-serif;
  color: #363636;
  background: #f6f6f6;
  text-align: left;
}
.boja_disposicion table caption, .boja_verificacion table caption {
  text-align: center;
  font: bold 1.4em 'TeXGyreHerosCnRegular', Arial, Helvetica, sans-serif;
  background: transparent;
  padding: 6px 4px 8px 0px;
  color: #087021;
  text-transform: uppercase;
}
.boja_disposicion table thead, tfoot, .boja_verificacion table thead {
  text-align: left;
  height: 3em;
}
.boja_disposicion table thead th, tfoot th, .boja_verificacion table thead th {
  padding: 5px;
  background: #666666;
  color: #FFFFFF;
  border: 1px solid #cccccc;
}
.boja_disposicion table a, .boja_verificacion table a {
  text-decoration: none;
}
.boja_disposicion table a:hover, .boja_verificacion table a:hover {
  text-decoration: underline;
}
.boja_disposicion table tr.odd, .boja_verificacion table tr.odd {
  background: #f1f1f1;
}
.boja_disposicion table tbody th, tbody td, td, .boja_verificacion table tbody th {
  padding: 5px;
  border: 1px solid #e3e3e3;
}
.buscador_interno_boja #anyos {
  font-size: 1.2em;
  text-align: center;
}
.boja_verificacion h2 {
  font-size: 2.2em !important;
}
.boja_verificacion h1 a.sumario {
  line-height: 1.6em;
  display: block;
}
.boja_verificacion h1 a.sumario:hover {
  text-decoration: underline;
}
.boja_sumario .sumario_pdf {
  margin-top: 1.5em;
}
.boja_sumario .item {
  margin: 0 0 .5em 0;
  font-size: 1.2em;
}
.boja_sumario .item div {
  padding: 0 0 0.1em 0.7em;
  margin: 0 0 1em 0;
  background: url(https://www.juntadeandalucia.es/themes/images/separador_vertical.jpg) repeat-y left top;
}
.boja_sumario .item div div {
  padding: 0 !important;
  margin: 0 !important;
  background: none !important;
}
.boja_sumario .item h3 {
  font-family: 'TeXGyreHerosCnRegular', Arial, Helvetica, sans-serif !important;
  text-transform: uppercase;
  font-size: 1.2em !important;
  color: #515151 !important;
}
#contenidos #cuerpo.boja_sumario .item p {
  display: block;
  font-size: 1em !important;
  line-height: 1.2em;
  margin: 0 !important;
}
.boja_sumario .item a {
  display: block;
}
.boja_sumario .item li a {
  margin-top: 0 !important;
}
.boja_sumario .item_pdf, .boja_sumario .item_pdf_grupo, .item_pdf_disposicion {
  padding: 0.6em 0 0.9em 2.8em;
  margin: 1.5em 0 0 0;
  background-repeat: no-repeat;
  background-image: url(https://www.juntadeandalucia.es/themes/images/pdf.gif);
}
.item_verificar {
  padding: 0.6em 0 0.9em 2.8em;
  margin: 1.5em 0 0 0;
  background-repeat: no-repeat;
  background-image: url(https://www.juntadeandalucia.es/boja/themes/images/pdf_verificar.gif);
}
.item_html {
  padding: 0.6em 0 0.9em 2.8em;
  margin: 1.5em 0 0 0;
  background-repeat: no-repeat;
  background-image: url(https://www.juntadeandalucia.es/boja/themes/images/html.gif);
}
/* BUSCADOR INTERNO BOJA */ 
.buscador_interno_boja {
  height: 60px;
}
.boja_interno_lateral {
  padding: 1.6em 1em 2.4em !important;
}
.buscador_interno_boja label {
  float: left;
  margin-top: 0.5em;
  margin-right: 0.4em;
}
.buscador_interno_boja.buscador_interno .grid_2 label {
  padding: 0 !important;
}
.boja_interno_lateral .boton {
  margin-top: 0.7em !important;
}
/* FIN BOJA*/



.oculto {
  display: none !important;
}
.block {
  display: block !important;
}
.inline {
  display: inline-block;
}
.left {
  float: left;
}
.centrado {
  text-align: center;
}
.fabada {
  background: #fabada;
}
.c_515151 {
  color: #515151;
}
.c_2b2b2b {
  color: #2b2b2b !important;
}
.c_000000 {
  color: #000000 !important;
}
.c_087021 {
  color: #087021 !important;
}
.c_005DA6 {
  color: #005DA6 !important;
}
.derecha {
  float: right;
}
.izquierda {
  float: left;
}
/* SEPARACIONES **********************************************************************/

.separacion_vertical_superior_1 {
  padding-top: 1em !important;
}
.separacion_vertical_inferior_1 {
  padding-bottom: 1em !important;
}
.separacion_vertical_superior_2 {
  padding-top: 2em !important;
}
.separacion_vertical_superior_3 {
  padding-top: 3em !important;
}
.separacion_vertical_superior_4 {
  padding-top: 4em !important;
}
.separacion_vertical_inferior_2 {
  padding-bottom: 2em !important;
}
.separacion_vertical_inferior_8 {
  padding-bottom: 8em !important;
}
.separacion_vertical_inferior_4 {
  padding-bottom: 4em !important;
}
/* PUNTEADOS **********************************************************************/
    
.punteado_izquierda {
  padding-left: 0.7em;
  background: url(https://www.juntadeandalucia.es/themes/images/separador_vertical.jpg) repeat-y top left;
}
/*ELEMENTOS COMUNES: Imagen ********************************/

.imagen {
  max-width: 350px;/*Se pone tope para que no crezca demasiado la imagen contenida y se pixele*/
  padding: 0.3em;
  border: 1px solid #ccc;
}
.imagen img {
  width: 99%;
  height: auto;
  border: 1px solid #ccc;
}
.imagen_5col, .imagen_5col_libre {
  border: 1px solid #ccc;
  width: 27em;
}
.imagen_4col, .imagen_4col_libre {
  border: 1px solid #ccc;
  width: 21em;
}
.imagen_1col {
  border: 1px solid #cbcbcb;
  width: 3.8em
}
.imagen_col {
  max-width: 350px;/*Se pone tope para que no crezca demasiado la imagen contenida y se pixele*/
  padding: 0.3em;
  background: #fff;
  border: 1px solid #ccc;
}
.imagen_col img {
  width: 99%;
  height: auto;
  border: 1px solid #ccc;
}
.imagen_pie {
  font: 1.2em Verdana, Arial, Helvetica, sans-serif;
  color: #515151;
  padding: .3em;
  width: 19em;
  font-size: 1.05em;
  color: #515151;
}
#contenidos .imagen_pie p {
  font-size: 1em !important;
  line-height: 1.1em;
  padding-bottom: 0 !important;
}
.imagen_publicacion {
  float: left;
  padding: 0.3em;
  border: 1px solid #ccc;
}
.imagen_publicacion img {
  border: 1px solid #ccc;
  width: 21em;
}
/*ELEMENTOS COMUNES: Enlaces ********************************/

.enlace, .buscador_interno a.enlace {
  color: #2b2b2b !important;
  font-size: 1.2em !important;
  text-decoration: none;
  font-weight: normal;
  padding: 5px 15px;
  background-repeat: no-repeat;
  background-position: left center;
}
.enlace_mas {
  background-image: url(https://www.juntadeandalucia.es/themes/images/enlace_mas.jpg);
  background-position: 0 0.5em;
}
.enlace_menos {
    background-image: url(https://www.juntadeandalucia.es/themes/images/enlace_menos.jpg);
    background-position: 0 0.5em;
}
.enlace_abajo {
  background-image: url(https://www.juntadeandalucia.es/themes/images/enlace_abajo.jpg);
  background-position: 0 0.5em;
}
.enlace_flecha {
  background-image: url(https://www.juntadeandalucia.es/themes/images/enlace_flech.jpg);
  background-position: 0 0.5em;
}
.enlace_rss {
  background-image: url(https://www.juntadeandalucia.es/themes/images/icon_rss.gif);
  background-position: 0 0.5em;
}
.enlace_audio {
  background-image: url(https://www.juntadeandalucia.es/themes/images/icon_audio.gif);
  background-position: 0;
  padding-left: 35px !important;
  color: #087021 !important;
}
.enlace_pdf {
  background: url(https://www.juntadeandalucia.es/themes/images/pdf.gif) 0px -3px no-repeat;
  padding-left: 3em !important;
  padding-bottom: 1em !important;
  padding-top: 0.3em !important;
  color: #087021 !important;
}
.contenedor_enlaces {
  clear: both;
}
.contenedor_enlaces .derecha {
  float: right;
}
.contenedor_enlaces .izquierda {
  float: left;
}
/*ELEMENTOS COMUNES: Mensaje de error ************************************/
  
.mensaje_error {
  float: left;
  padding: 13px 15px;
  background: url(https://www.juntadeandalucia.es/themes/images/mensajedeerror.png) top left no-repeat !important;
  background: url(https://www.juntadeandalucia.es/themes/images/mensajedeerror.gif) top left no-repeat;
}
.mensaje_error h2 {
  width: 100px;
  height: 200px;
  margin: 0 10px 0 0 !important;
  padding: 0px !important;
  float: left;
  overflow: hidden;
  text-align: center;
}
.mensaje_error h2 span {
  color: #cf3f3f !important;
  font-size: 2em;
  line-height: 0.75em;
  padding-left: 10px;
}
.mensaje_error h2 strong {
  color: #515151 !important;
}
#contenidos .mensaje_error p, #contenidos .mensaje_error ul{
  width: 60em;
  float: left;
  padding: 0px 15px 10px 15px !important;
  padding-bottom: 0 !important;
  margin: 0 !important;
  background: url(https://www.juntadeandalucia.es/themes/images/separador_vertical.jpg) repeat-y top left;
  color: #515151;
  line-height: 1.8em;
}
.mensaje_error ul li {
  font-size: 1.2em;
  padding: 1em 0 0em 1em;
  background: url(https://www.juntadeandalucia.es/themes/images/bullet_ul.jpg) 0.1em 1.5em no-repeat;
}
/*ELEMENTOS COMUNES: BOTON SUBIR, SIGUIENTE, ANTERIOR *****************************/

.subir, .siguiente, .anterior {
  display: block;
  font-size: 1.2em;
  cursor: pointer;
}
/** Cambios para moviles en botones anterior siguiente como en el boja 
 porque en moviles se prefiere usar textos y no botones **/
.subir span, .anterior span {
  /* height:2.1em;
  overflow:hidden;
  float:left;
  border-left:1px solid #ddd;
  border-right: 1px solid #ddd;
  background:url(https://www.juntadeandalucia.es/themes/images/paginado_fondo.jpg) repeat-x;
 */ 
  
  display: block;
  height: 2.1em;
  line-height: 1em;
  overflow: hidden;
  float: left;
  border: 1px solid #dddddd;
  background-color: #FdFdFd;
  padding-right: 0.3em;
  padding-left: 0.1em;
}
/** Cambios para moviles en botones anterior siguiente como en el boja 
 porque en moviles se prefiere usar textos y no botones **/
.siguiente span {
  /* height:2.1em;
  overflow:hidden;
  float:right;
  border-left:1px solid #ddd;
  border-right: 1px solid #ddd;
  background:url(https://www.juntadeandalucia.es/themes/images/paginado_fondo.jpg) repeat-x;
  */
 
  display: block;
  height: 2.1em;
  line-height: 1em;
  overflow: hidden;
  float: left;
  border: 1px solid #dddddd;
  background-color: #FdFdFd;
  padding-right: 0.1em;
  padding-left: 0.3em;
}
/** Cambios para moviles en botones anterior siguiente como en el boja 
 porque en moviles se prefiere usar textos y no botones **/
.subir em, .anterior em {
  height: 2.5em;
  padding: 0.6em 0;
  float: left;
  font-style: normal;
  font-weight: 800;
}
/** Cambios para moviles en botones anterior siguiente como en el boja 
 porque en moviles se prefiere usar textos y no botones **/   
.siguiente em {
  height: 2.5em;
  padding: 0.6em 0;
  float: right;
  font-style: normal;
  font-weight: 800;
}
/** Cambios para moviles en botones anterior siguiente como en el boja 
 porque en moviles se prefiere usar textos y no botones **/
.subir img, .anterior img {
  float: left;
  padding: 0.7em 0.3em 0.8em 0em;
  border-right: 1px solid #dddddd;/* background:url(https://www.juntadeandalucia.es/themes/images/paginado_fin.jpg) no-repeat top right;*/
}
.siguiente img {
  float: right;
  padding: 0.7em 0 0.8em 0.3em;
  border-left: 1px solid #dddddd;/*background:url(https://www.juntadeandalucia.es/themes/images/paginado_fin.jpg) no-repeat top left;*/
}
.anterior {
  float: left;
}
.siguiente {
  float: right;
}
/* ICONOS SOCIALES*/
/* Los iconos sociales pueden aparecer en #menu, #contenidos, #pie */
/* En #contenidos pueden ser de dos tamaños, 20px y 30 px */

.listado_social {
  margin: 0;
  padding: 0;
}
.listado_social li {
  float: left;
  padding: 0;
  display: block;
  clear: none !important;
  width: auto !important;
}
#pie .ico_social_30 {
  display: block;
  width: 30px;
  height: 30px;
  background-image: url(https://www.juntadeandalucia.es/themes/images/social/social_pie_30_movil.jpg);
  background-size: 480px;
  background-repeat: no-repeat;
  float: left;
  margin-right: 5px;
}
#menu .ico_social_30 {
  display: block;
  width: 30px;
  height: 30px;
  background-image: url(https://www.juntadeandalucia.es/themes/images/social/social_menu_30_solapa.gif);
  background-repeat: no-repeat;
  float: left;
  margin-right: 5px;
}
#contenidos .ico_social_20 {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(https://www.juntadeandalucia.es/themes/images/social/social_contenidos_20.jpg);
  background-repeat: no-repeat;
  float: left;
  margin-right: 3px;
}
#contenidos .ico_social_30 {
  display: block;
  width: 30px;
  height: 30px;
  background-image: url(https://www.juntadeandalucia.es/themes/images/social/social_contenidos_30.jpg);

  background-repeat: no-repeat;
  float: left;
  margin-right: 5px;
}
#contenidos .ico_social_instagram_30 { 
	display:block; 
	width:30px; 
	height:30px; 
	background-image: url(https://www.juntadeandalucia.es/themes/images/social/social_instagram_30.jpg); 
	background-repeat:no-repeat; 
	float:left; 
	margin-right:5px;
}

.ico_social_20 span, .ico_social_30 span, .ico_social_30 img {
  display: none;
}
.ico_social_20.twitter {
  background-position: 0 0px;
}
.ico_social_20.twitter:hover {
  background-position: 0 -20px
}
.ico_social_20.facebook {
  background-position: -20px 0px;
}
.ico_social_20.facebook:hover {
  background-position: -20px -20px
}
.ico_social_20.rss {
  background-position: -40px 0px;
}
.ico_social_20.rss:hover {
  background-position: -40px -20px
}
.ico_social_20.da {
  background-position: -60px 0px;
}
.ico_social_20.da:hover {
  background-position: -60px -20px
}
.ico_social_20.youtube {
  background-position: -80px 0px;
}
.ico_social_20.youtube:hover {
  background-position: -80px -20px
}
.ico_social_20.flickr {
  background-position: -100px 0px;
}
.ico_social_20.flickr:hover {
  background-position: -100px -20px
}
.ico_social_20.tuenti {
  background-position: -120px 0px;
}
.ico_social_20.tuenti:hover {
  background-position: -120px -20px
}
.ico_social_20.meneame {
  background-position: -140px 0px;
}
.ico_social_20.meneame:hover {
  background-position: -140px -20px
}
.ico_social_20.linkedin {
  background-position: -161px 0px;
}
.ico_social_20.linkedin:hover {
  background-position: -161px -20px
}
.ico_social_20.delicious {
  background-position: -181px 0px;
}
.ico_social_20.delicious:hover {
  background-position: -181px -20px
}
.ico_social_20.foursquare {
  background-position: -201px 0px;
}
.ico_social_20.foursquare:hover {
  background-position: -201px -20px
}
.ico_social_20.pinterest {
  background-position: -221px 0px;
}
.ico_social_20.pinterest:hover {
  background-position: -221px -20px
}
.ico_social_20.vimeo {
  background-position: -241px 0px;
}
.ico_social_20.vimeo:hover {
  background-position: -241px -20px
}
.ico_social_20.slideshare {
  background-position: -261px 0px;
}
.ico_social_20.slideshare:hover {
  background-position: -261px -20px
}
.ico_social_20.blog {
  background-position: -281px 0px;
}
.ico_social_20.blog:hover {
  background-position: -281px -20px
}
.ico_social_30.twitter {
  background-position: 0 0px;
}
.ico_social_30.twitter:hover {
  background-position: 0 -30px
}
.ico_social_30.facebook {
  background-position: -30px 0px;
}
.ico_social_30.facebook:hover {
  background-position: -30px -30px
}
.ico_social_30.rss {
  background-position: -60px 0px;
}
.ico_social_30.rss:hover {
  background-position: -60px -30px
}
.ico_social_30.da {
  background-position: -90px 0px;
}
.ico_social_30.da:hover {
  background-position: -90px -30px
}
.ico_social_30.youtube {
  background-position: -120px 0px;
}
.ico_social_30.youtube:hover {
  background-position: -120px -30px
}
.ico_social_30.flickr {
  background-position: -150px 0px;
}
.ico_social_30.flickr:hover {
  background-position: -150px -30px
}
.ico_social_30.tuenti {
  background-position: -180px 0px;
}
.ico_social_30.tuenti:hover {
  background-position: -180px -30px
}
.ico_social_30.meneame {
  background-position: -210px 0px;
}
.ico_social_30.meneame:hover {
  background-position: -210px -30px
}
.ico_social_30.linkedin {
  background-position: -240px 0px;
}
.ico_social_30.linkedin:hover {
  background-position: -240px -30px
}
.ico_social_30.delicious {
  background-position: -270px 0px;
}
.ico_social_30.delicious:hover {
  background-position: -270px -30px
}
.ico_social_30.foursquare {
  background-position: -300px 0px;
}
.ico_social_30.foursquare:hover {
  background-position: -300px -30px
}
.ico_social_30.pinterest {
  background-position: -330px 0px;
}
.ico_social_30.pinterest:hover {
  background-position: -330px -30px
}
.ico_social_30.vimeo {
  background-position: -360px 0px;
}
.ico_social_30.vimeo:hover {
  background-position: -360px -30px
}
.ico_social_30.slideshare {
  background-position: -390px 0px;
}
.ico_social_30.slideshare:hover {
  background-position: -390px -30px
}
.ico_social_30.blog {
  background-position: -420px 0px;
}
.ico_social_30.blog:hover {
  background-position: -420px -30px
}
.ico_social_instagram_30.instagram{ background-position: 0 0px;}
.ico_social_instagram_30.instagram:hover{ background-position: 0 -30px} 
/******************************** CONTENIDOS ********************************/

#contenidos {
  padding-bottom: 100px;
  font-family: Verdana, Geneva, sans-serif;
  background: #fff;
}
#contenidos h1 {
  color: #2b2b2b;
  font-family: 'TeXGyreHerosCnRegular', Arial, Helvetica, sans-serif;
  font-size: 2.5em;
  line-height: 1.4em;
  display: block;
  padding: 0.35em 0 0.35em 0;
  font-weight: normal !important;
}
#contenidos h1 .nota {
  font-size: 0.5em;
  display: block;
  color: #515151;
  line-height: 1.1em;
  font-family: Verdana, Geneva, sans-serif;
}
#contenidos h2, #contenidos #columna .encabezado {
  color: #2b2b2b;
  font-family: 'TeXGyreHerosCnRegular', Arial, Helvetica, sans-serif;
  font-size: 2.2em;
  line-height: 1.4em;
  display: block;
  padding: 0.35em 0 0.5em 0;
  margin: 0;
  font-weight: normal !important;
}
#contenidos h2 .nota {
  display: block;
  font-size: 0.8em;
}
#contenidos h3 {
  color: #515151;
  font-family: 'TeXGyreHerosCnRegular', Arial, Helvetica, sans-serif;
  font-size: 1.8em;
  line-height: 1em;
  display: block;
  padding: 1em 0 0.7em 0;
  font-weight: normal !important;
}
#contenidos h3 strong, #contenidos h3 a {
  color: #087021 !important;
}
#contenidos h4 {
  color: #2b2b2b;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 1.3em;
  /*line-height:1em;*/
  display: block;
  padding: 0.8em 0 0.7em 0;
  font-weight: normal !important;
}
#contenidos h1 a, #contenidos h2 a, #contenidos h3 a {
  text-decoration: none;
  color: #2b2b2b !important;
}
#contenidos h1 a:hover, #contenidos h2 a:hover, #contenidos h3 a:hover {
  text-decoration: underline;
}
#contenidos p {
  /*clear: both;*/
  font-size: 1.3em;
  line-height: 1.7em;
  color: #515151;
  margin: 0 0 .6em 0;
  padding: 0;
  display: block;
}
#contenidos a {
  color: #087021;
  text-decoration: none;
}
#contenidos a:hover {
  text-decoration: underline;
}
/********** CONTENIDOS  NIVEL 3 ********************************/
        
/* CONTENIDOS GENERALES DEL TERCER NIVEL*********************************************************************/
    
.editor strong {
  font-weight: bold;
  color: #2b2b2b;
}
.editor ol, .editor ul {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  line-height: 1.5em;
  color: #515151;
  margin: 0;
  padding: 0.6em 1em;
  display: block;
}

.rpa ol li, .rpa ul li { font-size:1em !important;} 

.editor ol {
  list-style: decimal;
  list-style-position: inside;
}
.editor ul {
  list-style: disc;
  list-style-position: inherit;
}
.editor ol li, .editor ul li {
  clear: left;
  margin-bottom: 0.7em;
  margin-left: 1em;
}
.editor ul p, .editor ol p {
  font-size: 1em !important;
}
.editor ul ul, .editor ul ol, .editor ol ol, .editor ol ul, .editor ul ul ul, .editor ul ul ol, .editor ul ol ul, .editor ul ol ol, .editor ol ol ul, .editor ol ol ol, .editor ol ul ul, .editor ol ul ol {
  font-size: 1em;
  padding-bottom: 0px;
}
.editor .listado_pdf, .editor .listado_adjuntos, .editor .listado_pdf li, .editor .listado_adjuntos li, .editor .lista_con_foto, .editor .lista_con_foto li {
  list-style: none !important;
}
.editor .listado li {
  width: 170px !important;
  margin-left: 0 !important;
}
.editor .imagen img {
  border: 1px solid #ccc;
  width: 21em;
}
.editor .note-off {
  clear: none !important;
}
/*.editor ul ul li{background: url(https://www.juntadeandalucia.es/themes/images/bullet_ulul.jpg) 0 1em no-repeat; }*/
.editor .lista_con_foto {
  font-size: 1em;
}
.editor .lista_con_foto li {
  padding-left: 0 !important;
}
.editor .lista_con_foto li p {
  font-size: 1.2em !important;
}
.editor .destacado .lista_con_foto {
  padding: 0 !important;
}
.editor .destacado .lista_con_foto li {
  padding-left: 0 !important;
  width: 20.8em;
  min-height: 0.1em !important;
  clear: none;
  float: left;
  height: auto;
  border: none !important;
  border-bottom: 2em solid #fafafa !important;
}
.editor .destacado .lista_con_foto li p {
  font-size: 1.2em !important;
}
.editor .destacado .lista_con_foto li img {
  border: 1px solid #cbcbcb;
  width: 3.8em
}
/* TABLA EN TERCER NIVEL: ZONA EDITABLE  POR CONTENIDOS: */
.editor table {
  border-collapse: collapse;
  border: 1px solid #cccccc;
  font: normal 1.0em verdana, arial, helvetica, sans-serif;
  color: #363636;
  background: #f6f6f6;
  text-align: left;
}
.editor table caption {
  text-align: center;
  font: bold 1.4em 'TeXGyreHerosCnRegular', Arial, Helvetica, sans-serif;
  background: transparent;
  padding: 6px 4px 8px 0px;
  color: #087021;
  text-transform: uppercase;
}
.editor table thead, tfoot {
  text-align: left;
  height: 3em;
}
.editor table thead th, tfoot th {
  padding: 5px;
  background: #666666;
  color: #FFFFFF;
  border: 1px solid #cccccc;
}
.editor table a {
  text-decoration: none;
}
.editor table a:hover {
  text-decoration: underline;
}
.editor table tr.odd {
  background: #f1f1f1;
}
.editor table tbody th, tbody td {
  padding: 5px;
  border: 1px solid #e3e3e3;
}
/* FIN  TABLA EN TERCER NIVEL: ZONA EDITABLE  POR CONTENIDOS: */
    
#contenidos .contenidos_nivel3 p, .sesiones p {
  margin: 0 0 1em 0!important;
}
.contenidos_nivel3 ul {
  clear: none !important;
}
.contenidos_nivel3 .izquierda {
  margin-left: 0 !important;
}
.contenidos_nivel3 .derecha {
  float: right !important;
  margin-right: 0 !important;
}
.contenidos_nivel3 .enlace {
  Font-size: 1em !important;
}
.contenidos_nivel3 .listado {
  clear: both;
  font-size: 1.2em;
  line-height: 1.5em;
  color: #515151;
  margin: 0;
  padding: 0.6em 0;
  display: block;
}
.contenidos_nivel3 .listado li {
  display: block;
  clear: left;
  margin-bottom: 0.7em;
  background: url(https://www.juntadeandalucia.es/themes/images/bullet_ul.jpg) 0.1em 0.7em no-repeat;
  padding-left: 10px;
}
.contenidos_nivel3 .listado ul {
  font-size: 1em;
  padding: 10px 0 0px 0;
}
.contenidos_nivel3 .listado ul li {
  margin-bottom: 10px;
  background: url(https://www.juntadeandalucia.es/themes/images/bullet_ulul.jpg) 0 1em no-repeat;
  padding-left: 5px;
}
/** CAMBIOS EN IMAGENES APARTADOS CONTENIDOS **/
.contenidos_nivel3 .img_izquierda {
  /*display: inline;
    float: left;
    margin-right: 1em;*/
  max-width: 300px;
}
.contenidos_nivel3 .img_derecha {
  /*display: inline;
    float: right !important;
    margin-left: 1em;*/
  max-width: 300px;
}
.contenidos_nivel3 .img_derecha img, .contenidos_nivel3 .img_izquierda img {
  width: 100%;
}
/** CAMBIOS EN IMAGENES APARTADOS CONTENIDOS **/    
      
/* ELEMENTOS DEL LOS DESTACADOS DEL TERCER NIVEL *************************************/

.contenidos_nivel3 .destacado {
  clear: both;
  border: 1px #CCCCCC solid;
  background-color: #fafafa;
  padding: .5em .5em .2em .5em;
  width: 20.8em !important;
  margin: 2em 1em .5em 1em;
  display: inline;
}
#contenidos .contenidos_nivel3 .destacado .titulo {
  font-family: 'TeXGyreHerosCnRegular', Arial, Helvetica, sans-serif;
  font-size: 1.8em !important;
  line-height: 1.2em;
  padding: 0.2em 0 0em 0 !important;
  color: #515151;
  margin: 0 !important;
}
.contenidos_nivel3 .destacado .lista_con_foto {
  padding: 0 !important;
}
.contenidos_nivel3 .destacado .lista_con_foto .item p {
  margin-bottom: 0 !important;
}
.contenidos_nivel3 .destacado .lista_con_foto .item {
  width: 20.8em;
  min-height: 0.1em !important;
  clear: none;
  float: left;
  height: auto;
  border: none !important;
  border-bottom: 2em solid #fafafa !important;
}
.contenidos_nivel3 .destacado .lista_con_foto li img {
  margin: 0 !important;
}
.contenidos_nivel3 .destacado .listado {
  width: 100%;
  float: left;
}
/* ESPECIFICO LISTA CON FOTO DEL TERCER NIVEL *************************************/  
          
.contenidos_nivel3 .lista_con_foto {
  padding: 2em 0 0 0 !important;
}
/* TABLAS *******************************************/
      
table.tabla_01 {
  border-collapse: collapse;
  border: 1px solid #cccccc;
  font: normal 1.0em verdana, arial, helvetica, sans-serif;
  color: #363636;
  background: #f6f6f6;
  text-align: left;
}
.tabla_01 caption {
  text-align: center;
  font: bold 1.4em 'TeXGyreHerosCnRegular', Arial, Helvetica, sans-serif;
  background: transparent;
  padding: 6px 4px 8px 0px;
  color: #087021;
  text-transform: uppercase;
}
.tabla_01 thead, tfoot {
  text-align: left;
  height: 3em;
}
.tabla_01 thead th, tfoot th {
  padding: 5px;
  background: #666666;
  color: #FFFFFF;
  border: 1px solid #cccccc;
}
.tabla_01 table a {
  text-decoration: none;
}
.tabla_01 table a:hover {
  text-decoration: underline;
}
.tabla_01 tr.odd {
  background: #f1f1f1;
}
.tabla_01 tbody th, tbody td {
  padding: 5px;
  border: 1px solid #e3e3e3;
}
/* CONTENIDOS COLUMNA DERECHA *********************/ 

#contenidos #columna .titular {
  font-family: 'TeXGyreHerosCnRegular', Arial, Helvetica, sans-serif;
  font-weight: normal !important;
  font-size: 2.0em !important;
  color: #2b2b2b;
  line-height: 1em;
  display: block;
  padding: 1em 0 0.7em 0;
  margin: 0 !important;
}
#contenidos #columna .encabezado_novedades {
  padding: 20px 0 15px 0;
  margin-bottom: 1em !important;
  background: url(https://www.juntadeandalucia.es/themes/images/pestanas_active.jpg) no-repeat left bottom;
}
#contenidos #columna .encabezado_novedades img {
  float: right;
}
#columna .mas {
  background: url(https://www.juntadeandalucia.es/themes/images/enlace_mas.jpg) 0 0.1em no-repeat;
  padding-left: 14px;
}
#columna .noticias, #columna .sobre_este_tema {
  clear: both;
}


#cuerpo .noticias .foto {
  clear: both;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
#cuerpo .noticias .foto span {
  font-size: 1.2em;
}
/******************************************************* ESTILOS ESPECIFICOS */

/*PAGINA ACCESIBILIDAD */

.listado_foto_accesibilidad {
  width: 100%;
}
.listado_foto_accesibilidad li {
  clear: none !important;
  width: 20em;
  float: left;
  display: inline-table;
  padding: 0 0em 2em 0 !important;
  margin: 0 1em 0 0 !important;
}
.listado_foto_accesibilidad li img {
  margin: 0 0.4em 0 0 !important;
}
#contenidos .listado_foto_accesibilidad li span, #contenidos .listado_foto_accesibilidad li a, #contenidos .listado_foto_accesibilidad li p {
  font-size: 0.9em !important;
  line-height: 1.2em;
}
.listado_foto_accesibilidad li span {
  padding: 10px 0 0 0 !important;
}
/* SECCION LA JUNTA ******************************************************************************/
/** Sesiones ******************************************************/

.sesiones {
  clear: both;
  padding: 0 0 5em 0;
  border-top: 1px solid #dcdcdc;
  display: block;
}
.sesiones h2 {
  color: #087021 !important;
  font-size: 1.8em!important;
  font-weight: normal !important;
  line-height: 1em;
  padding: 1em 0 0.7em;
}
#contenidos .sesiones h3 {
  color: #2b2b2b !important;
  font-family: Verdana, Arial, Helvetica, sans-serif !important;
  font-size: 1.4em !important;
  line-height: 1.2em;
  display: block !important;
  padding: 0.8em 0 0.7em 0 !important;
  font-weight: normal !important;
}
.sesiones .subir {
  margin: 3em 0;
}
.sobrelajunta_portada .listado_resultados p {
  font-size: 1em !important;
}
#listado_anyos {
}
#listado_anyos li {
  display: block;
  float: left;
  padding: 2px;
  border: #dddddd 1px solid;
  margin-right: 0.1em;
  background-color: #fafafa;
  font-size: 1.2em;
}
#listado_anyos li a strong {
  color: #2b2b2b;
  font-weight: normal;
}
#listado_anyos li a:hover strong {
  color: #2b2b2b;
}
/* SECCION SERVICIOS Y TRAMITES ******************************************************************************/

.servicios_datos_basicos {
  background-color: #fafafa;
  border-top: #CCCCCC 1px solid;
  border-bottom: #CCCCCC 1px solid;
  padding: 1em 0 3em 0;
  line-height: 1.8em;
  overflow: hidden;
  height: 1%;
}
.servicios_datos_basicos .linea {
  clear: both;
  padding: 1em 0;
}
.servicios_datos_basicos li {
  font-size: 1.2em !important;
  padding-bottom: 0.5em;
  color: #2b2b2b;
}
.servicios_datos_basicos p {
  color: #2b2b2b !important;
}
/* En la version PC los epígrafes estan en la columna de la izquierda haciendo de titulos de sus textos en columna de la derecha
Los textos de epigrafes se alieaban a la derecha para pegarlos a sus textos de la derecha En la version mÃƒÂ³vil cada epigrafe pasa a una columna y por eso se han alineado a la izquierda*/   
.servicios_datos_basicos .epigrafe {
  text-align: left;
  font-size: 1.2em;
  color: #515151 !important;
}


.servicios_datos_basicos a{
  word-wrap: break-word;
}

.servicios_descripcion ul{
  font-size:1.2em;  
  color:#2b2b2b;  
  padding:0;
  margin:0;
  }

.servicios_descripcion ol{
  font-size:1.2em;
  color:#2b2b2b;
}

.servicios_descripcion li{
  margin-bottom:1em; 
  background: url(https://www.juntadeandalucia.es/themes/images/bullet_ul.jpg) 0.1em 0.5em no-repeat; 
  padding-left: 10px;
  } 
.servicios_descripcion ul ul{
   margin-top:1em; 
  font-size:1em;  
  }

.servicios_descripcion ol li {
  background: transparent none repeat scroll 0 0;
  list-style-type: decimal;
  padding-left: 0;
}

.servicios_descripcion ol {
  padding-left: 18px;
}

#contenidos .img_datosabiertos {
  border: 0 !important;
}
#contenidos .menu_img_datosabiertos {
  clear: both;
  padding-left: 36px;
  padding-right: 0;
}
.documento_adj_publicaciones {
/*
  padding:0 0 0.1em 0.7em;
  background:url(https://www.juntadeandalucia.es/themes/images/separador_vertical.jpg) repeat-y left top;
  font-size:1.2em !important; 
  */
}
.documento_adj_publicaciones .listado_adjuntos {
  padding: 0 !important;
}
.documento_adj_publicaciones a {
  display: block;
}
.documento_adj_publicaciones .item_pdf_grupo {
  padding: 0.6em 0 0.9em 2.8em;
  margin: 1.5em 0 0 0;
  background-repeat: no-repeat;
  background-image: url(https://www.juntadeandalucia.es/themes/images/pdf.gif);
}
/* SECCION ANDALUCIA ****************************************************************************/

.caja {
  float: left;
}
.nota_al_pie {
  font-size: 1em !important;
}
/** ESTILOS ESPECIFICOS DE LAS CONSEJERIAS ******************************************************/
  
.ficha_portada img {
  border: 1px solid #bebebe;
  margin-bottom: 2em;
}
#contenidos .ficha_portada p {
  color: #2b2b2b !important;
  line-height: 1.4em;
}
.ficha_portada .negrita {
  color: #515151 !important;
  font-weight: normal;
}
/* SOCIAL **********************************************/
    
.social_consejerias {
  padding-top: 2em;
}
/* ACTUALIDAD **********************************************/
/* SUBPORTADA */
  
#contenidos .encabezado_actualidad {
  font-family: 'TeXGyreHerosCnRegular', Arial, Helvetica, sans-serif;
  font-weight: normal !important;
  font-size: 2.2em !important;
  color: #2b2b2b;
  line-height: 1.6em;
  background: url(https://www.juntadeandalucia.es/themes/images/pestanas_active.jpg) no-repeat left bottom;
  padding: 0.35em 0 0.5em 0 !important;
  margin-bottom: 1em !important;
}
.actualidad_ultimas .eventos li .texto {
  width: 45em;
}
#contenidos .actualidad_ultimas .eventos li .texto_confoto {
	width: 80%;
	padding: 0 0 .2em .5em !important;
	color: #515151;
	float: left;
	background: url(https://www.juntadeandalucia.es/themes/images/separador_vertical.jpg) repeat-y top left;
	line-height: 1.2em;
	margin: 0px !important;
	display: block;
  

}
.actualidad_ultimas .eventos .confoto .fecha {
  padding-left: 0.7em !important;
}
.actualidad_ultimas .eventos .imagen_listnoticia {
  float: left;
  width: 11.8em;
  border: 1px solid #cbcbcb;
}
/** Bloques ******************************************************/

.bloque {
  padding: 1.6em 0;
}
.bloque img {
  border: 1px solid #cbcbcb;
}
.bloque h2, .bloque h3 {
  padding-top: 0 !important;
}
.caja {
  float: left;
}
.nota_al_pie {
  font-size: 1em !important;
}
.oculto {
  display: none !important;
}
.alerta {
  color: #515151;
  margin: 2em 0;
  background: #fafafa;
  border: 1px solid #cccccc;
  display: block;
  line-height: 1.6em;
  padding: 1em 1em !important;
}
#columna .alerta .resaltado {
  font-weight: bold;
}
.item_pdf_disposicion {
  font-size: 1.2em;
  margin-bottom: 1.5em;
  display: block;
}
.item_pdf_grupo {
  background-image: url(https://www.juntadeandalucia.es/themes/images/pdf_firmado.gif) !important;
}
.calendario_directoa {
  padding-bottom: 9px !important;
}
.boja_nav {
  padding-top: 1em;
}
.slidesPrevious {
  background: url(https://www.juntadeandalucia.es/themes/images/izq.PNG);
  width: 19px;
  display: block;
  height: 19px;
  float: left;
}
.slidesNext {
  background: url(https://www.juntadeandalucia.es/themes/images/der.PNG);
  width: 19px;
  display: block;
  height: 19px;
  float: right
}
.id_slide2 {
  clear: both
}
a.next_pag:hover {
  text-decoration: none !important;
}
a.prev_pag:hover {
  text-decoration: none !important;
}
#slides {
  display: none !important;
} /* Hide if JS disabled */
.js #slides, .js #banner {
  display: block !important;
  text-align: center;
  margin: 0 auto;
} /* Show if JS enabled */
.js #noscript, .js #div_oculto {
  display: none;
} /* Hide if JS enabled */
.js #div_oculto, .js.boton_pequeno, .js.formatofecha {
  display: none;
}
/*
#div_oculto .ancho_3{width:13em;}
.js #div_oculto .ancho_6{width:28em;}
#div_oculto .ancho_6{width:23em;}
*/

.defaultTextActive {
  color: #515151;
}


.ceic_servicios div {
  width: 94em;
}
.ceic_servicios a, .ceic_servicios span {
  float: left;
}
.ceic_servicios span {
  width: 30%;
}
.ceic_servicios span.c_087021 {
  width: 40px !important;
  color: #087021 !important;
}
.ceic_servicios a {
  width: 100%;
}
body {
  background: #575656;
}
/* IGUALDAD */

.sector_select div {
  width: 40em !important;
}
.tipo_centro_select div {
  width: 16em !important;
}
.provincia_select div {
  width: 16em !important;
}
.in_municipio {
  font-size: 1.2em;
  width: 17em !important;
}
.in_entidad {
  font-size: 1.2em;
  width: 17em !important;
}
/*Caja alerta*/
.caja_alerta {
  font-size: 1.2em;
  line-height: 1.2em;
  padding-left: 4.9em;
  padding-top: 1.1em;
  color: #515151;
  border: 1px solid #ccc;
  height: 3.4em;
  background: #f2f2f2 url(https://www.juntadeandalucia.es/themes/images/alert.gif) left top no-repeat;
}
/* 16 MOSTRAR OCULTAR SLIDER */
#slide_col16 {
  display: block;
}
/* 17 CSS AÑADIDOS PARA AJUSTES VERSION MOVIL */

/**** CONTENIDO EXTRA AÑADIDO para los BOJA porque usan otra CSS igual pero con diferencias ****/
.social ul li a span {
  display: none;
}
.social ul li a {
  background-image: url(https://www.juntadeandalucia.es/boja/themes/images/social_columna.jpg);
}
.social ul li img {
  border: none !important;
}
.social ul li {
  float: left;
  list-style: none;
  padding: 0 5px 0 0;
}
/**** CONTENIDO EXTRA AÑADIDO para los BOJA porque usan otra CSS igual pero con diferencias ****/

.grid_6.alpha.separacion_vertical_superior_2.categoria_prof,
.grid_6.alpha.separacion_vertical_superior_2.titulacion_exigida{
  margin-bottom: 0 !important;
  padding-top: 0 !important;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  width: 95%;
}



.separacion_vertical_superior_2.selec, separacion_vertical_superior_2.input_texto{  padding-top: 0 !important; }

.input_texto{ 
  margin-left: auto;
  margin-right: auto;
  width: 95% !important; 
  padding-top: 0 !important;}
  

/** LINEAS DIVISORIAS DE SECCIONES **/


.busquedas_frecuentes {
  clear: both;
  margin-top: 1em;
  border-top: 1px solid #cccccc;
  display: none;
}
/* se crea un separador de rayita gris superior paracaso  moviles */
/*SE HA QUITADO ESTE  .ficha_portada,*/
.sobrelajunta_portada, .lo_mas_visitado {
  clear: both;
  margin-top: 1em;
  border-top: 1px solid #cccccc;
}
/*este separador se ha creado para bloques que no están separados especificamente con una clase
por eso se le añade más separaciÃƒÂ³n vertical y los anteriores ya suelen tener la separaciÃƒÂ³n en su secciÃƒÂ³n.*/
.movil_separador, #columna, #columna2 {
  clear: both;
  margin-top: 2.4em;
  border-top: 1px solid #cccccc;
}
/*Esta separaciÃƒÂ³n se aplica a los menus d epestañas que están en las columnas y no en contenidos centrales de pagina 
y es para separarlos un poco de la linea divisoria superior eque en el caso de mÃƒÂ³viles van a llevar normalmente*/
#columna {
  margin-top: 3.5em;
}
#pestanas .pagination {
  margin-top: 2em;
}
#columna.portada {
  border-top: 0;
}
/** cambios en los GRID para que a veces flote en al version movil
normalmente persiguiendo la estructura en dos columnas del diseño para los contenidos centrales**/
.movil_grid_columnas, #cuerpo .movil_grid_columnas {
  float: left;
  width: auto;
}
/****** BUSCADORES Y FORMULARIOS CONTACTO *********/
/** CAJAS TEXTO BUSCADORES SE AÑADE AL DIV CONTENEDOR DEL INPUT TIPO TXT  NUEVO CLASS NECESARIO PARA DISTINGUIRLO Y CENTRARLO **/
.container .movil_div_anchoform {
  width: 95%;
  overflow: visible;
  margin-left: auto;
  margin-right: auto
}
/* PARA contacto.html especificamos los campos contenedores de los inputs para poder variarlos expresamente en esta version CSS movil*/
/*Se añade nuevo0 class .movil_div_anchoform en pagina contacto.html para poder dar ancho a la leyenda del formulario*/
#form-contacto .grid_13, #form-contacto .movil_div_anchoform {
  float: none;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
/* el class para los check .check_busqueda ya existía en la linea de arriba se especifica aún más añadiendo .container delante para que se aplique ese a los checks y no el de GRID que se aplica siempre porque lleva .container delante tambien. */

 
/****** FIN BUSCADORES Y FORMULARIOS CONTACTO *********/

  
/** cambios en los GRID en moviles para quitar margen IZQUIERDO cuando esten en el #cuerpo **/
#cuerpo .movil_sinmargen {
  margin-left: 0;
}
#contenidos .boja_disposicion {
  overflow: hidden;
}
/*** APLICAR EN EL LOGO CABECERA EL SALTO SOLO EN EL CASO DE MOVILES **/
.clearlogo, .movil_clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
/** Se ajusta un poco la regla ya existente (ver más arriba .servicios_datos_basicos .epigrafe)  y se añade esta regla específica para dar un margen izquierdo a los parrafos de epígrafes
Debe obligarse a que el ancho sea 88% en vez de 98% por defecto porque se le descuenta el padding left
Se usan en las paginas de detalles de publicaciones, tramites y todas las que usen epígrafes. Si hay apareciese alguna pagina que use GRID de tamaño que no está aqui basta añadirla.
**/ 
.servicios_datos_basicos .linea .grid_12, .servicios_datos_basicos .linea .grid_8 {
  padding-left: 10%;
  width: 88%;
}
/* INICIO pagina servicios.publicaciones.html */
.listado_resultados li.movil_tabla2c {
  display: table;
}
/* class para aplicar a la segunda columna que lleva descripcion de la foto*/
#contenidos .listado_resultados li.movil_tabla2c > div > div {
  /*width: 60%;*/
  display: table-cell;
  margin-left: 11em;
}
/** class para quitar el fondo usado en en servicios.publicaciones.html */
#contenidos .listado_resultados li.movil_tabla2c > div {
  background-image: none;
}
/* FIN pagina servicios.publicaciones.html */

/*Se añade para que el cuerpo este siempre centrado en version movil
porque a veces se le aplica un 98% de ancho con algun GRID y se le añad eun alpha y omega que le ponen los margenes laterales a 0 y no al 1% 
para que se centre ese 98% en el 100% del que lo contiene mejor usar estos estilos*/
#cuerpo {
  margin-left: auto;
  margin-right: auto;
}
/* Se añade para que todos los GRID 11 que están bajo el cuerpo tomen ancho 100%*/
#cuerpo .grid_11 {
  width: 100%;
}
/* TEMAS PORTADA*/
.temas_portada #columna {
  margin-top: 0;
}
/* CONSEJO DE GOBIERNO*/
.consejo_gobierno .corte {
	height: 770px;
	overflow: hidden;
	position: relative;
	width: 100% !important;
}
.consejo_gobierno .contenidos_nivel3 .img_derecha{ clear:both;}

.consejo_gobierno .corte_degradado {
  background: url(https://www.juntadeandalucia.es/themes/images/degr_masinfo.png);
  height: 30px;
  position: absolute;
  bottom: 0px;
  width: 100%;
}
.consejo_gobierno .cont_enlaces_mas_menos {
  margin-bottom: 30px;
  padding-top: 10px;
  border-top: 1px solid #ebebeb;
  display: none;
}
.consejo_gobierno .cont_enlaces_mas_menos a {
  font-size: 1.2em;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 15px;
}
.consejo_gobierno .listado_adjuntos {
  margin: 0 !important;
  padding: 0 !important;
  font-size: 1em;
}
.historico_consejo .grid_9 {
  margin: 0 auto;
  width: 95%;
}

.historico_consejo .grid_3.alpha, .historico_consejo .grid_4 {
  margin: 0 auto;
  width: 95%;
}
.historico_consejo #startDate, .historico_consejo #endDate {
  width: 80%;
}
.historico_consejo p {
  margin: 0 auto !important;
  width: 95%;
}
/* BUSCADOR HISTORICO DE NOTICIAS*/

.historico_actualidad #startDate, .historico_actualidad #endDate, .buscador_interno #startDate, .buscador_interno #endDate{
  width: 80%;
}
.historico_actualidad .organismo {
  padding-top: 0 !important;
}

/* TERCER NIVEL BARRA SOCIAL E IMPRIMIR*/

@media (max-width: 320px) {

.acciones .social p{ display:none !important;}
.social ul li{ padding:0;}
.social ul li a {margin-right: 3px;}
.acciones .multimedia { display: block; float: right; margin-top: 0; width: auto;}

}
/* CALCULADORA DE JUSTICIA*/
  #calculadora_justicia { padding:0 10px 20px 10px;}
#calculadora_justicia .pregunta{ font-size:1.4em;}
#calculadora_justicia .sino label{ display:inline;}


/* TRANSPARENCIA */

.listado_resultados .item-transparencia-bloque-2 {
    height:1%; overflow: hidden; background: none; padding-left: 0; margin-bottom:0;
}
.listado_resultados .item-transparencia-bloque-2 > span{
    display: block;
}

/* Agricultura paginador convicatoria*/

.paginador_agricultura_convocatoria img{
  display: inline;
}

.buscador_interno select[multiple]{
  overflow-y: scroll;
  display: block;
  height: 90px;
  border:1px solid #ccc;
  color:#515151;
  padding:2px 2px 2px 0;
  margin:0 0 0 0px;
  width:100%;
}

/**/
.lista_con_foto li img {
  border:1px solid #ccc;
  width: 38px;
}

/* Estilos icono DATOS ABIERTOS */

.acciones.acciones_datos {
  font-size: 1.2em;
  height: auto;
}
.acciones_datos ul li {
  display: inline-block;
}
.acciones_datos ul li:first-child {
  background: url("https://www.juntadeandalucia.es/themes/images/opendata.jpg") no-repeat;
  padding: 8px 0 8px 34px     ;
}
.acciones_datos ul li div{
  border-right: 1px solid #ccc;
  padding: 0 10px;
}
.acciones_datos ul li:first-child div{
  padding-left: 0;
}

.acciones_datos ul li:last-child div{
  border-right: none;
}

/* Contacto */

.contacto-tel{
  font-size: 1.8em;
  line-height: 2;
  color: #515151
}
.contacto-email{
  font-size: 1.2em;
  line-height: 2;
}
.contacto-tel img, .contacto-email img {
display: initial;
vertical-align: middle;
margin-right: 5px;
}

#pie .enlaces ul li {
    width: 50%;
    display: block;
    float: left;
    padding: 0;
    margin: 0;
    list-style: none;
    color: #fff;
}
#pie .enlaces-accesibilidad ul li {
    width: 60%;
    display: block;
    float: left;
    padding: 0;
    margin: 0;
    list-style: none;
    color: #fff;
}
#pie .enlaces ul li a,
#pie .enlaces-accesibilidad ul li a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    height: 2em;
    float: left;
    color: #fff;
    margin: 0;
    padding: 0;
    padding: 0px 10px;
    text-decoration: none;
    background: url(https://www.juntadeandalucia.es/themes/images/bullet_01.jpg) no-repeat left 5px;
}
#pie .enlaces-accesibilidad ul li a{
    background: transparent;
    padding: 0 0 0 30px;
}
#pie .enlaces-accesibilidad ul li a:hover{
    text-decoration: underline;
}
#pie .enlaces {
    padding: 20px 0;
    background: transparent;
}
#pie .enlaces-accesibilidad  {
    padding: 20px 0;
   background: url(https://www.juntadeandalucia.es/themes/images/logo_junta_foot.jpg) no-repeat top right;

}

#pie .enlaces-accesibilidad ul li a.aa{
    background: url(https://www.juntadeandalucia.es/themes/images/ico-aa.png) no-repeat top left;
    background-size: 20px;
background-position: 0 0;

}
#pie .enlaces-accesibilidad ul li a.universal{
    background: url(https://www.juntadeandalucia.es/themes/images/ico-universal.png) no-repeat top left;
     background-size: 23px;
background-position: 0 1px;

}

.container .transparencia {
    width: 70% !important;
}
.titulo-transp{
		display: block;
		clear:left;
}		

.boton_participacion {
  width: auto;
  color: #fff !important;
  text-transform: uppercase;
  line-height: 1.2em;
  margin-right: 50px;
  cursor: pointer;
  underline:none  !important;
  text-decoration:none !important;
  padding: 6px 20px 5px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8e8e8e+0,2b2b2b+100 */
  background: #2b2b2b; /* Old browsers */
  background: -moz-linear-gradient(top, #8e8e8e 0%, #2b2b2b 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #8e8e8e 0%,#2b2b2b 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #8e8e8e 0%,#2b2b2b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.editor table.tabla-generica {
    width: 100%;
    white-space: nowrap;
}

.aviso-pendiente-actualizacion-solapa{
	
	width: 100%;
	border: 1px solid #ccc;
	box-sizing: border-box;
	background-color: rgba(255, 255, 255, 0.95);
	color: #2b2b2b;
	padding: 3px;
	margin: 3px 0;

}
#menu .aviso-pendiente-actualizacion-solapa p{
	font-family: Verdana, Geneva, sans-serif;
	padding: 0;
}
#menu .aviso-pendiente-actualizacion-solapa p a{
	color:#087021;
}

.aviso-pendiente-actualizacion{
	
	width: 100%;
	border: 1px solid #ccc;
	box-sizing: border-box;
	background-color: rgba(0, 0, 0, 0.02);
	color: #2b2b2b;
	padding: 3px;
	margin: 0 0 10px 0;

}
#contenidos .aviso-pendiente-actualizacion p{

	line-height: 1.5;
	margin-bottom: 0;
}

 .f-12 {
  font-size: 1.2em;
 }
 .p-f-12{
    font-size: 1.2em;
    margin: 0 0 .6em 0;
 }
 .first {
    margin: 0.5em 0;
 }

#menu .f-12 {
  font-family: Arial,Helvetica,sans-seri;
  font-size: 1.2em;
 }
#menu .p-f-12{
    font-family: Arial,Helvetica,sans-seri;
    font-size: 1.2em;
    margin: 0 0 .6em 0;
 }

#menu p.no-padding {
  padding:0;
}