@charset "UTF-8";
/* CSS Document */

/* ESTRUCTURA CSS
  0. General
  1. Cabecera
  2. Cabecera para el Buscador general
  3. Menu
  5.  Pie
  6.  Index: Lo último
  7.  Index: Lo más visitado y búsquedas frecuentes
  8.  Sliders
      7.1. Slider Index
      7.2. Slider Columna
  9.  Tercer nivel: Barra de acciones y social.
  10.  Tercer nivel: Bloque de valoraciones
  11. Tipos de listados.
  12. Paginado
  13. Buscador
  14. Elementos de formulario
  15. BOJA
    15.1
    15.2 Estilos especificos para buscador en BOJA
	

  16 MOSTRAR OCULTAR SLIDER

*/
/* GENERAL */
html, body{
  position: relative;
}
html{ 
  height: 100%
  }
body{
  min-height: 100%; background-color:#fff;
}

#cabecera, #navegacion, #miga, #contenidos, #pie{
  min-width:96em;
  }
  
/* CABECERA */

.d-flex {
   display: -ms-flexbox !important;
   display: flex !important;
}

.align-items-center {
   -ms-flex-align: center !important;
   align-items: center !important;
}

  #cabecera{
  border-top:4px #09551b solid;
  background-image: url(https://www.juntadeandalucia.es/themes/images/cabecera_fondo.gif);
  background-repeat:repeat-x;
  background-color:#fff;
  height:12.2em;
  overflow: hidden;
  }

#logo {
   float: left;
   display: -webkit-inline-box;
}

.logotipo {
   margin-top: 16px;
   margin-bottom: 16px;
   display: block;
}

.logotipo img {
   height: 90px;
}

.od-logo .logotipo {
   margin-top: 11px;
   margin-bottom: 11px;
   display: block;
}

.od-logo .logotipo img {
   height: 100px;
}

#logo .sublogo,
#logo.od-logo .sublogo {
   background: none;
   display: block;
}

#logo .sublogo {
   margin-left: 5px;
}

#logo.od-logo .sublogo {
   margin-left: 20px;
}

.od-logo .sublogo img,
.sublogo img {
   height: 71px;
}

.sublogo.adscrito img {
   height: 95px;
}

#logo .sublogo.adscrito img:last-child {
   display: none;
}


#logo .sublogo.adscrito.movil {
   display: none;
}

#logo .sublogo.adscrito.desktop {
   display: block;
}
  
#cabecera .herramienta{
  float:right; 
  }

#ubicacion{
  float:right;
  margin-bottom:10px;
  }

.buscador{
  /* esta clase afecta en varios sitios a parte de la cabecera, en el desplegable/servicios, boja/columna */
  padding:10px 10px 9px 9px;
  }
  
#cabecera .buscador, #columna .buscador, #menu .buscador{
  width:263px;
  float:right;
  clear:right;
  padding:10px 10px 9px 9px;
  background: url(https://www.juntadeandalucia.es/themes/images/buscador_fondo_grid5.png) no-repeat top left    !important;
  background:none;
  }
  
.grid_11 .buscador{
  width:560px;
  float:left;
  padding:10px 10px 9px 9px;
  background: url(https://www.juntadeandalucia.es/themes/images/buscador_fondo_grid11.png) no-repeat top left    !important;
  background:none;
  }
    
.grid_11 .buscador .input_text{
  width:410px;
  }
    
.buscador legend{
  display:none;
  }
  
.buscador input{
  margin:0; 
  }

.buscador .input_text{
  height:18px;
  float:left;
  padding:5px;
  font-size:1.5em;
  color:#515151;
  background:#fff;
  margin:0 !important;
  border:1px solid #d4d4d4;
  }
    
#cabecera .buscador .input_text, #menu .buscador .input_text, #columna .buscador .input_text{width:210px;}
    
.grid_11 .buscador .input_text{width:480px;}
    
.buscador .input_submit{
  width:36px;
  height:30px;
  padding:0;
  border:0px solid #4d4d4d !important;
  margin:0 !important;
  float:left !important;
  background: #f2f2f2 url(https://www.juntadeandalucia.es/themes/images/buscar_buton.jpg) 0 0;
  font:0em/0em normal Arial, Helvetica, sans-serif;
  cursor:pointer; 
  }

.buscador .input_submit:hover{
  background: #f2f2f2 url(https://www.juntadeandalucia.es/themes/images/buscar_buton.jpg) 0 -32px;
  }
.buscador .input_submit:active{
  background: #f2f2f2 url(https://www.juntadeandalucia.es/themes/images/buscar_buton.jpg) 0 -64px;
  } 
  
.buscador p{
  padding:10px 0 0 0;
  float:left;
  color:#2b2b2b;
  font: normal 1.1em Arial, Helvetica, sans-serif;
  width:100%;
  }
    
.grid_11 .buscador p{
  padding: 15px 0 0 0 !important;
  }

.buscador p a{
  color:#087021;
  text-decoration:none; 
  }

.buscador p a:hover{
  text-decoration:underline;  
  }
  
.buscador .check{
  width:26em;
  float:left;
  padding:1em 0;
  }

.buscador .check input{
  float: left;
  margin:0.3em;
  }

.buscador .check label{
  padding: 0.2em 1em 0 0;
  color:#515151 !important;
  float:left;
  font-size:1.1em;
  }
    
#columna .buscador p{
  margin-top:1em; 
  }
/* FIN CABECERA */

/* CABECERA Y MENU EN EL CASO DE BUSCADOR GENERAL*/
.emergente {}

.emergente #cabecera .buscador,
.emergente #navegacion,
.emergente #miga {
   display: none;
}

.emergente #cabecera {
   height: 6em;
   background: #ffffff url(https://www.juntadeandalucia.es/themes/images/cabecera_fondo.gif) repeat-x right -20px !important;
}

.emergente #logo .logotipo {
   margin-top: 5px;
   margin-bottom: 0;
   margin-left: 10px;
   display: block;
}

.emergente #logo .logotipo img {
   height: 50px;
}

.emergente_con_buscador #cabecera {
   height: auto !important;
}

.emergente_con_buscador .buscador {
   display: block !important;
}
/* FIN CABECERA Y MENU EN EL CASO DE BUSCADOR GENERAL*/

/* MENU */
  #menu .eventos{ 
    height: 26em;
    padding-top:2em;
  }
  
  #menu .eventos, #menu .eventos li, #menu .eventos li a, #menu .eventos .dia{color: #fff;}
  #menu .eventos li,#menu .eventos li:hover{padding:0 0 0.5em 0;}
    
  #menu .eventos li{
    width: auto;
    height:70px;
    line-height:1.2em; 
    }

  #menu .eventos:hover{padding-top: 20px;}
  #menu .eventos li:hover{text-decoration:none !important;}
    
  #menu .eventos li a:hover{
    font-family: Arial, Helvetica, sans-serif;
    padding-top:0;
  }
    
  #menu .grid_6 .eventos li .texto{width: 23em;}
  #menu .grid_5 .eventos li .texto{width: 18.2em;}
  
  #menu .eventos li .texto a{ width: 2em;}
  #menu .eventos li a{font-size:1em !important;}
  #menu .eventos li a:hover{text-decoration:underline;} 
  
#menu .listado_resultados{
  padding: 2em 0;
  font-size:1em;
  }
    
html body #menu .listado_resultados li{
  padding: 0 0 0 10px !important;
  margin:0px 0 20px 0 !important;
  background: url(https://www.juntadeandalucia.es/themes/images/separador_vertical_blanco.gif) repeat-y top left;
  font-weight:normal;
  line-height:1.6em;
  }
    
#menu .listado_resultados li:hover{
  text-decoration: none !important;   
  }
  
#menu .social ul{
  padding:5px 0 0 0!important;  
}

#menu .social ul li{
  padding:0px 0 0 0 !important;
  margin:0 !important;  
}

#menu .boja table{
  
  text-align:center;
  }
  
#menu .boja table tr{
/*  height:2.9em !important;*/
  overflow:hidden;  
}
/* FIN MENU */

/* MIGA DE PAN */
  #miga{
  min-height:1.5em;
  _height:1.5em;
  padding-top:5px;
  padding-bottom:3px;
  background-color:#eaeaea;
  border-bottom:1px #cccccc solid
  }
    
#miga .texto{
  margin-left:0.5em;
  font: 1.2em/1.2em Verdana, Arial, Helvetica, sans-serif;
  background:url(https://www.juntadeandalucia.es/themes/images/miga_ico.gif) no-repeat 0 1px;
  padding-left:14px;
  color:#2b2b2b;
  }
    
#miga .texto a{ 
  text-decoration:none; 
  color:#2b2b2b;
  }
    
#miga .texto a:hover{ 
  text-decoration:underline;
  }
/* FIN MIGA DE PAN */

/* PIE */
  #pie{
  min-height:13.0em;
  display:block;
  background:#575656; 
  border-top: 6px solid #2b2b2b;  
  clear:both;
  
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
  }

#pie h2{
  color:#FFFFFF;
  padding:15px 0;
  font-family: 'TeXGyreHerosCnRegular', Arial, Helvetica, sans-serif;
  font-size:1.7em;
  font-weight:normal !important;
  }

#pie .enlaces{
  padding:20px 0;
  background:url(https://www.juntadeandalucia.es/themes/images/logo_junta_foot.jpg) no-repeat top right;
  }

#pie .enlaces ul{
  padding:0;
  margin:0; 
  }

#pie .enlaces ul li{
  width: 18em;
  display:block;
  float:left;
  padding:0;
  margin:0;
  list-style:none;
  color:#fff;
  }

#pie .enlaces ul li a{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  height:2em;
  float:left;
  color:#fff;
  margin:0;
  padding:0;
  padding:0px 10px;
  text-decoration:none; 
  background:url(https://www.juntadeandalucia.es/themes/images/bullet_01.jpg) no-repeat left 5px;
  }
  
#pie .enlaces ul li a:hover{
  text-decoration:underline;  
  }

/* FIN PIE */

/* INDEX: LO ULTIMO */
  #pestanas{}

#pestanas .pagination{
  width:100%;
  float:left;
  font-family: 'TeXGyreHerosCnRegular', Arial, Helvetica, sans-serif;
  font-weight:normal !important;
  list-style:none;
  margin:0;
  padding:0;  
  background:url(https://www.juntadeandalucia.es/themes/images/pestanas_bg.jpg) repeat-x left bottom;
  }

#pestanas .pagination li{
  float:left;
  margin:0;
  padding:0;
  list-style:none;
  background:url(https://www.juntadeandalucia.es/themes/images/pestanas_bg.jpg) repeat-x left bottom;
}

#pestanas .pagination li a{
  display:block;
  padding:0px 40px 10px 0;
  margin:0 0 10px 0;
  color:#2b2b2b;
  text-decoration:none;
  }

#pestanas.idea .pagination li a{
  display:block;
  padding:0px 20px 10px 0;
  margin:0 0 10px 0;
  color:#2b2b2b;
  text-decoration:none;
  }

#pestanas .pagination li a span{
  font-size:2.0em;
  }

#pestanas .pagination .current span{
  background:url(https://www.juntadeandalucia.es/themes/images/pestanas_active.jpg) repeat-x left bottom;
  padding-bottom: 20px;
  }
    
#pestanas .pagination .current a{
  color:#087021 !important;
  }

#pestanas .slides_container_2{
  width:100%;
  float:left;
  }

#pestanas .item2{
  width:100%;
  float:left;
  min-height:30px;
  padding:20px 0 0 0; 
  }

#pestanas .item2 h2{
  display:none; 
  }

  #pestanas .item2 .foto span{
  width:100%;
  float:left;
  font-size:1.1em;
  line-height:1.1em;
  padding:5px 0;
  float:left;
  color:#087021;  
  }
  /* NOTICIAS NOVEDADES AGENDA RECOMENDAMOS */
  #recomienda_slide .item.current{width:56em;} 
  #recomienda_slide .slides_control{width:100% !important; }
  #recomienda_slide .current{float:left;position:relative !important;}
  #recomienda_slide{position:relative;}
  #recomienda_slide .lista_con_foto{padding:0 0 0 10px;}
  #recomienda_slide .slidesPrevious{position: absolute; top: 83px; z-index: 99; font-size: 0;}
  #recomienda_slide .slidesNext {position: absolute; top: 83px; z-index: 99; right:0; font-size: 0;}
  #recomienda_slide .item{
    padding:0 10px; 
    width:25em;
    margin:0;
    border:0;
    height:70px;
  }
  
  .noticias .eventos li .texto{width:20em;}
  .noticias .eventos.noticia_portada li .texto{width:22.8em !important;}
  .noticias .eventos li a{ color:#2b2b2b !important;} 
  .noticias .enlace_mas{ padding-right:0 !important;} 
  #menu .noticias p.titular, #contenidos .noticias p.titular{ font-size:1.4em !important; line-height:1.2em;}
  .noticias p.titular a{color:#2b2b2b !important;}
  .noticias p.titular.organismos a{color:#087021 !important;}
  #menu .noticias p.subtitular, #contenidos .noticias p.subtitular{ font-size:1.2em !important; line-height:1.2em; color:#515151;}
  .noticias p.subtitular a{color:#515151 !important;}
  
  .novedades .eventos li .texto{width:45em;}
  .agenda .eventos li .texto{width:45em;}
  /* FIN NOTICIAS NOVEDADES AGENDA RECOMENDAMOS */
/* FIN INDEX: LO ULTIMO*/

/* INDEX: MAS VISITADO, BUSQUEDAS FRECUENRTES*/
  .lo_mas_visitado{
  margin-bottom:1em;
  }
  .busquedas_frecuentes {margin-bottom:3em;}
  .banner_portada {margin-bottom:2em;}
  
  
.busquedas_frecuentes ul {
    font-family: verdana, arial, helvetica, sans-serif;
  margin: 0;
    padding: 0;
  }
    
.busquedas_frecuentes ul li {
      display: inline;
      line-height: 2em;
    }
    
.busquedas_frecuentes a {
    color: #005da6 !important;
    padding: 0 3px;
    text-decoration: none;
  }
    
.busquedas_frecuentes a:hover {
    background-color: #005da6 !important;
    color: #FFFFFF !important;
  text-decoration:none !important;
  }

.busquedas_frecuentes .masvisitado1 { font-size: 2em;}
.busquedas_frecuentes .masvisitado2 { font-size: 1.9em;}
.busquedas_frecuentes .masvisitado3 { font-size: 1.8em;}
.busquedas_frecuentes .masvisitado4 { font-size: 1.7em;}
.busquedas_frecuentes .masvisitado5 { font-size: 1.6em;}
.busquedas_frecuentes .masvisitado6 { font-size: 1.5em;}
.busquedas_frecuentes .masvisitado7 { font-size: 1.4em;}
.busquedas_frecuentes .masvisitado8 { font-size: 1.3em;}
.busquedas_frecuentes .masvisitado9 { font-size: 1.2em;}
.busquedas_frecuentes .masvisitado10 { font-size: 1.1em;}
/* FIN INDEX: MAS VISITADO, BUSQUEDAS FRECUENRTES*/


/* SLIDER */
  #slide{
  float:left;
  z-index:1;
  }
    
#slide div {  
  display:block;
  float:left;
  }
  
#slide div img{
  float:left;
  }

#slide .pagination {
  width:30em;
  margin:5px auto;
  }
  
.slidesControl div,.slidesControl img,#slides{z-index:1 !important;}  
  
#slide .slidesPagination {
  display:inline-block;
  overflow:auto;
  margin: 0 auto;
  text-align:center;
  /*#display: inline-block;
  *display: inline;
  _display: inline;
   zoom: 1;
   */
  }
  
html>body #slide .slidesPagination{
  /*width: expression((document.body.clientWidth < 55)? "50px" : "auto");*/
  min-width:3em;
  left:50%;
  overflow: auto;
  overflow-x:hidden;
  } 

#slide .slidesPagination ul{}

#slide .slidesPagination li {
  margin:10px 0px 10px 10px;
  list-style:none;
  float:left;
  }

#slide .slidesPagination li a {
  display:block;
  width:12px;
  height:0;
  padding-top:12px;
  background-image:url(https://www.juntadeandalucia.es/themes/images/pagination.gif);
  background-position:0 0;
  float:left;
  overflow:hidden;
  }

#slide .slidesPagination li.slidesCurrent a {
  background-position:0 -12px;
  }
    
.controller_pause_1,.controller_pause_2{width:12px; height:12px; display:block;}
.controller_pause_1{ background: url(https://www.juntadeandalucia.es/themes/images/play-stop.gif) no-repeat 0 0px    !important;}
.controller_pause_2{ background: url(https://www.juntadeandalucia.es/themes/images/play-stop.gif) no-repeat 0 -12px    !important;}
  
#columna #slides.slidesContainer .slidesContainer{border:0 !important; padding:0 !important;}
#columna #slides { margin-bottom:3.5em !important;}

  /* SLIDER INDEX */
    #slide_col16 #slide{width:96em;}

  #slide_col16 #slide div{
    width:96em;
    text-align:center;
    margin:0 auto;
    }

  #slide_col16 #slide div img{
    width:96em;
    height:32em;
    }
    
  #slide{
    text-align:center;
    }
  
  /* FIN SLIDER INDEX */
  /* FIN SLIDER INDEX */
  
  /*SLIDER COLUMNA*/
    #columna #slide{
  width:28em;
  padding-bottom:2em;
  }

#columna #slide div img{
  width:27em;
  height:27em;
  background:#fff;
  border:1px solid #ccc;
  padding:0.4em;
  }
        
#columna .js img{padding:0 !important;} 
        
#columna #slide .slidesContainer{ 
  width:27.2em !important;
  padding:0.3em;
  border:1px solid #ccc;  
  height: 27.2em !important;      
  }

#columna #slide .slidesPagination{ min-width:5em;}
  /*FIN SLIDER COLUMNA*/

/* FIN SLIDERS*/



/* BARRA ACCIONES 3ER NIVEL */      
  .acciones{
  height:1.8em;
  margin:0 0 2em 0;
  padding:10px 0;
  color:#5b5b5b;
  border-top:1px solid #e0e0e0;
  border-bottom:1px solid #e0e0e0;
  }

.acciones .multimedia{float:right;}

.acciones .multimedia ul{font-size:1.2em;}
      
.acciones .multimedia a{
  padding:3px 25px;
  float:left;
  color:#5b5b5b !important;
  background-position:left center;
  background-repeat:no-repeat;
  }

.acciones .imprimir{background-image:url(https://www.juntadeandalucia.es/themes/images/icon_imprimir.jpg);}

.acciones .multimedia ul, .acciones .multimedia ul li{
  float:left;
  margin:0 !important;
  padding:0 !important;
  }

.acciones .social{ float:right; padding:1px 5px!important;}

.acciones .social p{
  color:#5b5b5b !important;
  margin:0 !important;
  padding:0 !important;
  float:left;
  }

.acciones .social ul{float:left;} 

/* FIN BARRA ACCIONES 3ER NIVEL */

/* BLOQUE VALORACIONES */       
  ul.notas_escala {
    margin: 0 18px 0 0 !important;
    padding: 0 !important;
  }
          
ul.notas_escala li {
  clear: none !important;
  float: left;
  list-style: none outside none;
  margin: 0 !important;
  padding: 0 !important;
  list-style: none !important;
  }
          
ul.notas_escala li label {
  background: url("https://www.juntadeandalucia.es/themes/images/estrellas.gif") no-repeat scroll center top transparent;
    color: #FFFFFF;
  cursor: pointer;
  display: block;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 0.7em;
  height: 20px;
  line-height: 20px;
  padding-top: 2px;
  text-align: center;
  width: 20px;
  }
          
ul.notas_escala.js li label .numero {
  display: none;
  }
          
ul.notas_escala li.note-off label {
    background-position: center -60px;
  }
        
ul.notas_escala li.note-checked {
    font-weight: bold;
  }

ul.notas_escala.js li {
    min-height: 20px;
    min-width: 20px;
  }
          
ul.notas_escala.js input {
    left: -999%;
    position: absolute;
  }
          
ul.notas_escala.js li.note-focus {
    outline: 1px dotted #000000;
  }

* html ul.notas_escala.js li {
    height: 20px;
    width: 20px;
  }   
  
  #votacion {border-top:#e1e1e1 1px solid; margin-top:6em; clear: both;}
#votacion img { display: inline;}
#votacion .titulo {}

#votacion .bt_valorar { float: left;}
#votacion .lista { float: left;}
          
#votacion .voto {
  float: left;
  width:33em;
  }
          
#votacion .tu_voto {
  font-size:1.2em;
    float: left;   
    margin-right: 10px;
  padding-top: 7px;
  }

#votacion #result {
  font-size:1.2em;
  float: right;
  text-align: right;
  width:23em;
  }
          
#votacion .green_votos {
  color: #087021;
  }
      
#votacion .resultado {
    color: #383D44;
  padding-right: 5px;
  }

#votacion #textoPieVotacion a {
    color: #035A78;
  text-decoration: underline;
  }

#sugerencia {padding-top:2em;}
    
.alerta_sugerencia{
  color:#087021 !important;
  margin:2em 0 1em 0;
  background:#fafafa;
  border:1px solid #cccccc;
  display:block;
  line-height:1.6em;
  padding:1em 1em;
  }

.alerta_sugerencia p{
  color:#087021 !important;
  }
        
.alerta_sugerencia.msg_error p{
  color:#cc3300 !important;
  }

fieldset {
    border: 0 none;
  padding: 0;
  } 
/* FIN BLOQUE VALORACIONES*/

/* TIPOS DE LISTADOS*/

  /* LISTADOS EVENTOS */
    .eventos {clear:both;}
  
.eventos li{
    width:100%;
    float:left;
    padding:0 0 2em 0;
    display:block;
    }

.eventos li a{ text-decoration:none;}
.eventos li a:hover{text-decoration:underline;}

.eventos li .fecha{
  text-align:center; 
  width:30px;
  float:left;
  }

.eventos li .fecha .dia{
  color:#087021;
  font-size:2.1em;
  line-height:1.0em;
  font-family:'TeXGyreHerosCnRegular', Arial, Helvetica, sans-serif;
  }

.eventos li .fecha .mes{
  font-size:1.0em;
  line-height:0.7em;
  font-family:'TeXGyreHerosCnRegular', Arial, Helvetica, sans-serif;
  text-transform:uppercase;
  }

#menu .eventos li .texto,
#contenidos .eventos li .texto{
  color:#515151;
  padding:0 0 .2em .5em !important;
  float:left;
  background:url(https://www.juntadeandalucia.es/themes/images/separador_vertical.jpg) repeat-y top left;
  line-height:1.2em;
  margin:0px !important;
  display:block;
  }

.eventos li p {}
  
  /*ELEMENTOS COMUNES: Listado común ********************************/  
  /* Este estilo puede ser prescindible, se iba a utilizar para el tercer nivel, pero se nos hizo crear algo mas generico*/
    .ol_comun{
  font-size:1.2em;
  line-height:1.7em;
  margin:10px 20px; 
  color:#515151;  
  }
  
.ol_comun li{
  padding: 5px 0;
  list-style:decimal;
  list-style-position:inside;
  }
  
ol.listado_numerico {
  padding: 10px;
  list-style-type: decimal;
  }
  
  /*ELEMENTOS COMUNES: Listado simple ********************************/
    .listado_simple{
  margin: 0 0 1.5em 0;
  padding:0;
  list-style:none;
  font-size:1.2em;
  line-height:1.4em;
  }
  
.listado_simple li{
  margin:0 !important;
  padding:0 !important;
  }
  
  /*Listado simple ********************************/
    .listado_simple{
  margin: 0 0 1.5em 0;
  padding:0;
  list-style:none;
  font-size:1.2em;
  line-height:1.4em;
  }
  
.listado_simple li{
  margin:0 !important;
  padding:0 !important;
  }
  
  /*Listado_enlaces ********************************/
    .listado_enlaces{
  font-size:1.2em;  
  color:#2b2b2b;  
  padding:0;
  margin:0;
  }
  
.listado_enlaces li{
  margin-bottom:1em; 
  background: url(https://www.juntadeandalucia.es/themes/images/bullet_ul.jpg) 0.1em 0.5em no-repeat; 
  padding-left: 10px;
  } 

.listado_enlaces .actual{ font-weight:bold;}

.listado_enlaces .mas{
  background: url(https://www.juntadeandalucia.es/themes/images/enlace_mas.jpg) 0 0.1em no-repeat; 
  padding-left:14px;
  }
  
.listado_enlaces .mas a{ 
  color:#2b2b2b !important; 
  text-decoration:none;
  }
  
.listado_enlaces .mas a:hover{ text-decoration:underline;}
    
.listado_enlaces a strong, .listado_enlaces .actual a strong, .listado_enlaces .mas strong{color:#000 !important; font-weight:normal;}

.listado_enlaces li ul{ padding:10px 0 0px 0;}

.listado_enlaces li li{
  margin-bottom:10px; 

  background: url(https://www.juntadeandalucia.es/themes/images/bullet_ulul.jpg) 0 6px no-repeat; 
  padding-left: 10px;
  } 

.listado_enlaces a{
  color:#087021;
  text-decoration:none; 
  }

.listado_enlaces a:hover{
  text-decoration:underline;  
  }   
  
  /*Listado ordenado ********************************/
    .listado_ordenado{
  clear:both;
  padding:0;  
  font: 1.2em Verdana, Arial, Helvetica, sans-serif;
  }

.listado_ordenado li{ padding-bottom:1em;}  
.listado_ordenado li a{color:#087021;}

.listado_ordenado .c_2b2b2b{
  font-family:'TeXGyreHerosCnRegular', Arial, Helvetica, sans-serif;
  font-size: 1.4em;
  line-height:1em;
  color:#2b2b2b;
  font-weight:normal;
  }

.listado_ordenado .actual{ font-weight:bold;}

  /*Lista con foto ***************************************/
    .lista_con_foto{    
    padding:0.6em 0;
    margin:0;
    clear:both;
    display:block;
    } 
    
.lista_con_foto li{
  clear:both;
  min-height:70px;
  background:none !important; 
  display:inline-block;
  margin:0 !important;
  float:left;
  list-style:none !important;
  }
    
.lista_con_foto p{margin:0 !important;}

.lista_con_foto li img{
  float:left;
  margin:0 !important;
  display:block;
  }

#menu .lista_con_foto li a, #menu .lista_con_foto li p, #contenidos .lista_con_foto li a, #contenidos .lista_con_foto li p{
  line-height:1.4em;
  } 

.lista_con_foto li a, .lista_con_foto li p{
  display:block;
  font-size:1.2em !important;
  color:#515151;
  padding-left:4em !important;
  } 
    
  #columna2 .lista_con_foto li{width:100%;} 
  #columna2 .lista_con_foto li a, #columna2 .lista_con_foto li p{float:left; padding-left:0.5em !important; width:15em; line-height:normal;}

  /* creacion de una clase para hacer listados en columnas */
    .columnas_2 .item{width: 10em;}
.columnas_3 .item{width: 16em;}
.columnas_4 .item{width: 22em;}
.columnas_5 .item{width: 32em;}
.columnas_6 .item{width: 34em;}
.columnas_7 .item{width: 40em;}
.columnas_8 .item{width: 46em;}
.columnas_9 .item{width: 52em;}
.columnas_10 .item{width: 58em;}
.columnas_11 .item{width: 64em;}

.columnas_1 .item, .columnas_2 .item, .columnas_3 .item, .columnas_4 .item, .columnas_5 .item, .columnas_6 .item, .columnas_7 .item, .columnas_8 .item, .columnas_9 .item, .columnas_10 .item, .columnas_11 .item{
    clear:none;
    float:left;
    height:auto;
    border:none !important;
    border-bottom:2em solid #fff;
    border-top:2em solid #fff;
  }

.columnas_1 .item_clear, .columnas_2 .item_clear, .columnas_3 .item_clear, .columnas_4 .item_clear, .columnas_5 .item_clear, .columnas_6 .item_clear, .columnas_7 .item_clear, columnas_8 .item_clear, .columnas_9 .item_clear, .columnas_10 .item_clear, .columnas_11 .item_clear{
    width:100%;
    clear: both;
    float:left;
    height:auto;
    border:none !important;
    border-bottom:2em solid #fff;
    border-top:2em solid #fff;
    }
    
  /*ELEMENTOS COMUNES: LISTADO RESULTADOS *********************************/
    .recursos_disponibles{padding-bottom:2em !important;}


.listado_resultados { font: 1.2em Verdana, Arial, Helvetica, sans-serif;}
cite{color:#005DA6 !important; font-style:normal; display:block;}
.cite_a{color:#005DA6 !important; font-style:normal; display:block;}

.listado_resultados  li{
  width:100%;
  display:block;
  clear:both;
  padding: 0 0 10px 0;
  }

.listado_resultados  li img{
  border:1px solid #ccc;
  float:left;
  margin:0 1.2em 2em 0;
  }

.listado_resultados li img.planes_thumb{
  width: 4.9em;
  margin:0 1.2em 0 0;
  }


.listado_resultados li img.publicaciones_thumb{
  width:9.8em;
  }

.listado_resultados li img.planes_thumb{
  width:4.9em;
  }

#contenidos .listado_resultados li div{ 
  float: left;
  line-height:1.4em;
  padding:0 0 0 0.5em;
  margin:0 0 2em 0;
  background:url(https://www.juntadeandalucia.es/themes/images/separador_vertical.jpg) repeat-y top left;
  }
    
.listado_resultados span{display:block;}
.listado_resultados span span{display: inline !important;}  
.listado_resultados span strong{ font-weight:normal !important; color:#2b2b2b;} 
  
.listado_resultados .item_pdf_grupo{
  padding:0.6em 0 0.9em 2.8em;
  margin:1.5em 0 0 0;
  background-repeat:no-repeat;
  background-image:url(https://www.juntadeandalucia.es/themes/images/pdf.gif); 
  }
  
.listado_resultados .enlace_pdf{
    background:url(https://www.juntadeandalucia.es/themes/images/pdf.gif) 0px -3px no-repeat;
    padding-left:3em !important;
    padding-top: 1em;
	margin-top: 10px;
    color:#087021 !important; 
    font-size:1em !important;
    display:block;    
    }

.listado_resultados .enlace_video{
    background:url(https://www.juntadeandalucia.es/themes/images/video.gif) 0px -3px no-repeat;
    padding-left:3em !important;
    padding-top: 0.3em;
    padding-bottom: 1em !important;
	margin-top: 10px;
    color:#087021 !important; 
    font-size:1em !important;
    display:block;    
    }
    
.listado_resultados .enlace_audio{
    background:url(https://www.juntadeandalucia.es/themes/images/audio.gif) 0px -3px no-repeat;
    padding-left:3em !important;
    padding-bottom: 1em !important;
    padding-top: 0.3em;
	margin-top: 10px;
    color:#087021 !important; 
    font-size:1em !important;
    display:block;    
    }    
	
.listado_resultados .listado_social{ padding-top:5px;}
.listado_resultados .en_listado_social {float:left; padding-top:7px; padding-right:5px;} 
  
#contenidos .listado_resultados  li div > p{ 
  line-height:1.4em;
  margin:0;
  font-size: 1em;
}
  
  /*Listado_pdf, con icono ********************************/
  .listado_pdf, .listado_adjuntos{
  font-size: 1.2em;
  margin:1.5em 0;
  padding:1em 0 0em 2em;
  }
  
.listado_adjuntos{  
  font-size: 1.2em;
  padding:1em 0 0 0 !important;
  margin:0 !important;
  }
    
.listado_pdf li, .listado_adjuntos li{
  padding:1em 0 1em 2.8em !important;
  display:block;
  margin-left: 0 !important;
  }
  
.listado_pdf .item_grupo{
  background: url(https://www.juntadeandalucia.es/themes/images/pdf_firmado.gif) no-repeat 0 1em;
  }
  
.listado_pdf .item{
  background: url(https://www.juntadeandalucia.es/themes/images/pdf.gif) no-repeat 0 1em;
  }
  
.listado_pdf ul{ margin-top:1em !important;}

.listado_pdf .item_verificar{
  background: url(https://www.juntadeandalucia.es/themes/images/pdf_verificar.gif) no-repeat 0;
  padding:0;
  margin:0;
  }
  
  .listado_adjuntos .item_pdf{background: url(https://www.juntadeandalucia.es/themes/images/pdf.gif) no-repeat 0 50%;}
  .listado_adjuntos .item_img{background: url(https://www.juntadeandalucia.es/themes/images/jpg.gif) no-repeat 0 50%;}
  .listado_adjuntos .item_mov{background: url(https://www.juntadeandalucia.es/themes/images/mov.gif) no-repeat 0 50%;}
  .listado_adjuntos .item_audio{background: url(https://www.juntadeandalucia.es/themes/images/audio.gif) no-repeat 0 50%;}
  .listado_adjuntos .item_link{background: url(https://www.juntadeandalucia.es/themes/images/link.gif) no-repeat 0 50%;}
  .listado_adjuntos .item_flash{background: url(https://www.juntadeandalucia.es/themes/images/flash.gif) no-repeat 0 50%;}
  .listado_adjuntos .item_txt{background: url(https://www.juntadeandalucia.es/themes/images/txt.gif) no-repeat 0 50%;}
  .listado_adjuntos .item_generico{background: url(https://www.juntadeandalucia.es/themes/images/generico.gif) no-repeat 0 50%;}
  .listado_adjuntos .item_zip{background: url(https://www.juntadeandalucia.es/themes/images/zip.gif) no-repeat 0 50%;}
  .listado_adjuntos .item_odt{background: url(https://www.juntadeandalucia.es/themes/images/odt.gif) no-repeat 0 50%;}
  .listado_adjuntos .item_ods{background: url(https://www.juntadeandalucia.es/themes/images/ods.gif) no-repeat 0 50%;}
  

  .resultados-patrocinados{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #contenidos .resultados-patrocinados h2{
    background-color: #f7f7f7;
    display: block;
    padding: 10px; 
    margin-bottom: 2px; 
  }

  .resultados-patrocinados .listado_resultados li{
    background-color: #f7f7f7;
    height: 1%;
    overflow: hidden;
    margin-bottom: 2px;
    padding: 0;
  }

  .resultados-patrocinados .listado_resultados li:last-child{
    margin-bottom: 0;
  }

  .resultados-patrocinados .listado_resultados li > div{
    padding: 10px;  
    margin-bottom: 0;
    background: transparent;
  }


  
/* FIN TIPOS DE LISTADOS*/

/* PAGINADO */
  .paginado{
  clear:both;
  width:100%;
  height:2.5em;
  overflow:hidden;
  border-left:1px solid #ddd;
  background:url(https://www.juntadeandalucia.es/themes/images/paginado_fondo.jpg) repeat-x;
  }
  
.paginado ul li{
  float:left;
  }

.paginado ul li a{
  font-size:1.2em;
  height:2.2em;
  float:left;
  padding:0.4em 1em 0.3em 1em;
  }

.paginado ul .corte{
  float:left;
  background:url(https://www.juntadeandalucia.es/themes/images/paginado_fin.jpg) no-repeat top right;
  }
.paginado ul .cortedos{
  float:left;
  background-image: url(https://www.juntadeandalucia.es/themes/images/paginado_fin.jpg), url(https://www.juntadeandalucia.es/themes/images/paginado_fin.jpg);
  background-position: top left, top right;
  background-repeat: no-repeat;

  }

.paginado ul li img{
  float:left;
  padding:0.2em 0 0 0;
  }

.paginado p{
  font-size:1.2em;
  padding:0.2em 1em 0.4em 1em!important;
  margin:0 !important;
  float:right;
  border-right:1px solid #ddd;
  background:url(https://www.juntadeandalucia.es/themes/images/paginado_fin.jpg) no-repeat top left;
  }
    
.paginado a{color:#515151 !important;}
.paginado .current a{color:#087021 !important; font-weight:bold;}
/* FIN PAGINADO*/


/* BUSCADOR */
  
    
#columna .buscador_interno{
  width: 198px;
  padding:2em 1em;
  margin:2px 0 0 0;
  }
    
#columna .buscador_interno .grid_2{
  width: 95px !important;
  margin:0;
  padding:0;
  }
          
.buscador_interno .grid_2 label{padding-top: .5em !important; display:block;}

#columna .buscador_interno .boton{ margin:0 0 0 40px;}
  



  
.buscador_interno .check{
  float: left;
  padding:0 2.5em 0 0;  
  }
  
.buscador_interno .nota{ 
  font-size:1.2em;
  color:#515151;
  }
  
.buscador_interno #div_oculto .input_text{float:left;}
.buscador_interno #div_oculto a{margin:2px 3px;float:left;}
  

.buscador_interno img{
  float:none !important;
  display:inline-block;
  }
    
.buscador_interno img{float:left;}
  

  
.buscador_interno .label_inline{padding:0.2em 0.5em 0.2em 0;}
   
.buscador_interno .label_block{
  padding:1em 0 0.5em 0;
  display:block;
  }
  
.buscador_interno input[type="checkbox"]{margin:0 0.5em 0 0;}
.buscador_interno .boton{margin: 0.2em 0 0 0; }
.buscador_interno .textarea{height: 6em!important; background-color:#FFF; border:1px solid #ccc; padding:4px; margin-bottom:1em;  }
.buscador_interno .ancho_7{ width: 40em !important;}
.buscador_interno .ancho_11{ width: 64em !important;}
  
.buscador_interno p.msg_error{
  padding-bottom:1em !important;
  color:#cc3300 !important;
  }
  
.check_listacorreo{
  width:40em;
  padding:1em 0;
  }

.check_listacorreo input{
  float: left;
  margin:0.3em;
  }

.check_listacorreo label{
  padding: 0.2em 1em 0 0;
  color:#515151 !important;
  float:left;
  font-size:1.2em;
  }


/* FIN BUSCADOR*/

/* ELEMENTOS DE FORMULARIO*/
 




.centrar { text-align:center; padding-top:1em;}

.textarea{
  border:1px solid #999999;
  background-color:#fafafa;
  color:#515151;
  width:100%;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:1.2em;
  }
  
.tamano_altura60{ height:6em !important;}
/* FIN ELEMENTOS DE FORMULARIO*/

/* BOJA ******************************************************/

  /* CALENDARIO BOJA*/
  .contenedor_calendario_tabla{ border-radius:5px; background-color:#ececec; float:left;padding-top:1em;margin-top:1em; padding:2px; clear:both;}

.calendario_tabla, #menu .boja table{
  border-collapse: collapse;
  text-align:center !important;
  border:2px solid #ececec;
  margin-bottom:1em;
  padding-top:1em;margin-top:1em;
  color:#515151;
}

.calendario_tabla td, #menu .boja table td{
  width:2.9em;
  line-height:2.2em;
  overflow:hidden;
}

/*#menu .boja table td, #columna .calendario_tabla td{line-height:2.9em !important;}*/

.calendario_tabla caption, #menu .boja table caption {
    height:2.4em;
    background:#ececec; 
    font-size:1.2em;
    line-height:2em;
    text-transform:uppercase;
    color:#087021;
  }
  
#columna .calendario_tabla caption, #menu .calendario_tabla caption{}

.calendario_tabla td, #menu .boja table td{
  padding:0;
  margin:0;
  font-weight:bold;
  background:#f3f3f3;
  border-top:1px solid #f7f7f7;
  border-left:1px solid #f7f7f7;
  border-bottom:1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
}

.calendario_tabla td a, #menu .boja table td a{
  width:100%!important;
  display:block;
  color:#087021;
  text-decoration:none;
  font-weight:bold;
  text-align:center;
}

.calendario_tabla td a:hover, #menu .boja table td a:hover{font-weight:bold !important; }

.calendario_tabla th, #menu .boja table th{
  color:#515151;
  border-bottom:2px solid #dadada;
  background: #f1f1f1 url(https://www.juntadeandalucia.es/themes/images/calendario_th.jpg) repeat-x;
}

.calendario_tabla .hoy, #menu .boja table .hoy{ background: #166a39 url(https://www.juntadeandalucia.es/themes/images/calendario_hoy.jpg);}

.calendario_tabla .hoy a, #menu .boja table .hoy a{
  color:#fff !important;
  background:none;
}

.calendario_tabla .dia-relleno, #menu .boja table .dia-relleno{
  color:#515151;
  height:2.3em !important
}

.calendario_tabla .domingo, #menu .boja table .domingo{ color:#9d4444;}
  
.calendario_tabla .dia-boja a:link, #menu .boja table .dia-boja a{
  color:#fff !important;
  background-color:#176f3c;
}

.calendario_tabla .dia-boja a:link, #menu .boja table .dia-boja a:link{
  color:#fff !important;
  background-color:#176f3c;
}

.calendario_tabla .dia-boja a:visited, #menu .boja table .dia-boja a:visited{
  background-color: #d5e0da;
  color:#087021 !important;
}

.calendario_tabla .dia-boja.varios a:link, #menu .boja table .dia-boja.varios a:link{background:#176f3c url(https://www.juntadeandalucia.es/themes/images/calendari_boja_varios.gif) no-repeat top right !important;}

.calendario_list{margin: 2em 0 0 0;}

.calendario_list .item{
  width:16em;
  padding:0 2em 2em 0;
  float:left;
}

.calendario_list .omega{ 
  padding-right:0;
} 

.calendario-nav > div {float: left; background-color: #ececec;}
.calendario-nav > div > a {line-height: 2; padding:6px 0; display: block; height: 2em; text-align: center;}
.calendario-nav > div > a > img{margin: 0 auto;}
.calendario-nav .ano-ant { width:10%; line-height: 2;}
.calendario-nav .mes-ant { width:10%; line-height: 2;}
.calendario-nav .mes-act { width:60%; font-weight: normal; font-size: 1.2em; color:#087021; line-height: 2;  height: 2em; padding: 0 0 8px 0; text-transform: uppercase;}
.calendario-nav .mes-sig { width:10%; line-height: 2;}
.calendario-nav .ano-sig { width:10%; line-height: 2;}

  /* FIN CALENDARIO BOJA*/
  
.cabecera_detalle_disposicion {margin-top:1em;}
.cabecera_detalle_disposicion h2,
.cabecera_detalle_disposicion h3{ padding:0 !important;}
.cabecera_detalle_disposicion h4{ color:#087021 !important;}

.boja_verificacion table{ width:100%; font: normal 1.0em verdana, arial, helvetica, sans-serif !important;}
.boja_verificacion table th{ text-align:center;}
  
 .boja_disposicion table,  .boja_verificacion table{
  border-collapse: collapse;
  border: 1px solid #cccccc;
  font: normal 1.2em verdana, arial, helvetica, sans-serif;
  color: #363636;
  background: #f6f6f6;
  text-align:left;
  }
          
.boja_disposicion table caption, .boja_verificacion table caption {
  text-align: center;
  font: bold 1.4em 'TeXGyreHerosCnRegular', Arial, Helvetica, sans-serif;
  background: transparent;
  padding:6px 4px 8px 0px;
  color: #087021;
  text-transform: uppercase;
  }
          
.boja_disposicion table thead, tfoot, .boja_verificacion table thead {
  text-align:left;
  height:3em;
  }
        
.boja_disposicion table thead th, tfoot th, .boja_verificacion table thead th {
  padding:5px;
  background: #666666;
  color:#FFFFFF;
  border: 1px solid #cccccc;
  }
          
.boja_disposicion table a, .boja_verificacion table a {text-decoration:none;}
.boja_disposicion table a:hover, .boja_verificacion table a:hover { text-decoration:underline;}
.boja_disposicion table tr.odd, .boja_verificacion table tr.odd  {  background: #f1f1f1;}
          
.boja_disposicion table tbody th, tbody td, td, .boja_verificacion table tbody th {
  padding:5px;
  border: 1px solid #e3e3e3;
  }

.buscador_interno_boja #anyos{ font-size:1.2em; text-align:center;} 

.boja_verificacion h2{font-size:2.2em !important;}  
.boja_verificacion h1 a.sumario{line-height:1.6em; display:block;}
.boja_verificacion h1 a.sumario:hover{  text-decoration:underline;}

  .boja_sumario .sumario_pdf{ margin-top:1.5em;}

.boja_sumario .item{
  margin:0 0 .5em 0;
  font-size:1.2em;  
}

.boja_sumario .item div{
  padding:0 0 0.1em 0.7em;
  margin:0 0 1em 0;
  background:url(https://www.juntadeandalucia.es/themes/images/separador_vertical.jpg) repeat-y left top;  
}

.boja_sumario .item div div{
  padding:0 !important;
  margin:0 !important;
  background:none !important; 
}

.boja_sumario .item h3{
  font-family: 'TeXGyreHerosCnRegular', Arial, Helvetica, sans-serif !important;
  text-transform:uppercase;
  font-size:1.2em !important;
  color:#515151 !important;
}

#contenidos #cuerpo.boja_sumario .item p{display:block; font-size:1em !important; line-height:1.2em; margin:0 !important;}

.boja_sumario .item a{display:block;}

.boja_sumario .item li a{margin-top:0 !important;}

.boja_sumario .item_pdf, .boja_sumario .item_pdf_grupo, .item_pdf_disposicion {
  padding:0.6em 0 0.9em 2.8em;
  margin:1.5em 0 0 0;
  background-repeat:no-repeat;
  background-image:url(https://www.juntadeandalucia.es/themes/images/pdf.gif); 
}

 .item_verificar{
  padding:0.6em 0 0.9em 2.8em;
  margin:1.5em 0 0 0;
  background-repeat:no-repeat;
  background-image:url(https://www.juntadeandalucia.es/themes/images/pdf_verificar.gif); 
}

.item_html{
	padding:0.6em 0 0.9em 2.8em;
	margin:1.5em 0 0 0;
	background-repeat:no-repeat;
	background-image:url(https://www.juntadeandalucia.es/themes/images/html.gif);	
}


  /* BUSCADOR INTERNO BOJA */ 
  .buscador_interno_boja{ height:60px;}
.boja_interno_lateral{padding: 1.6em 1em 2.4em !important;}
.buscador_interno_boja label{float:left; margin-top:0.5em; margin-right:0.4em; }
.buscador_interno_boja.buscador_interno .grid_2 label{padding:0 !important;}
.boja_interno_lateral .boton{margin-top:0.7em !important;}

/* FIN BOJA*/



.oculto{display:none !important;}
.block{display: block !important;}
.inline{display: inline-block;}
.left{float: left;}
.centrado{text-align:center;}

.fabada{ background:#fabada;}
.c_515151{ color:#515151;}
.c_2b2b2b{ color:#2b2b2b !important;}
.c_000000{ color:#000000 !important;}
.c_087021{color:#087021 !important;}
.c_005DA6{color:#005DA6 !important;}
.derecha{float: right;}
.izquierda{float: left;}
  
/* SEPARACIONES **********************************************************************/

.separacion_vertical_superior_1{ padding-top: 1em !important;}
.separacion_vertical_inferior_1{ padding-bottom:1em !important;}
.separacion_vertical_superior_2{ padding-top: 2em !important;}
.separacion_vertical_superior_3{ padding-top: 3em !important;}
.separacion_vertical_superior_4{ padding-top: 4em !important;}
.separacion_vertical_inferior_2{ padding-bottom: 2em !important;}
.separacion_vertical_inferior_8{ padding-bottom:8em !important;}
.separacion_vertical_inferior_4{ padding-bottom:4em !important;}
  
/* PUNTEADOS **********************************************************************/
    
.punteado_izquierda{
  padding-left:0.7em;
  background: url(https://www.juntadeandalucia.es/themes/images/separador_vertical.jpg) repeat-y top left;
  }

/*ELEMENTOS COMUNES: Imagen ********************************/

.imagen{
  padding:0.3em;
  border:1px solid #ccc;
  }

.imagen_5col, .imagen_5col_libre{ 
  border:1px solid #ccc;
  width:27em;
  }
    
.imagen_4col,.imagen_4col_libre { 
  border:1px solid #ccc;
  width:21em; 
  }
  
.imagen_1col {border:1px solid #cbcbcb; width:3.8em}
  
.imagen_col{
  padding:0.3em;
  background:#fff;
  border:1px solid #ccc;
  
  }
    
.imagen_col img{
  border:1px solid #ccc;
  }
  
.imagen_pie{
  font: 1.2em Verdana, Arial, Helvetica, sans-serif;
  color:#515151;
  padding:.3em;
  width:19em;
  font-size:1.05em;
  color:#515151;
  }

#contenidos .imagen_pie p{ font-size:1em !important; line-height:1.1em; padding-bottom:0 !important;}
  
.imagen_publicacion{
  float:left;
  padding:0.3em;
  border:1px solid #ccc;
  }

.imagen_publicacion img{
  border:1px solid #ccc;
  width:21em;
  }

/*ELEMENTOS COMUNES: Enlaces ********************************/

.enlace,.buscador_interno a.enlace{
  color:#2b2b2b !important;
  font-size:1.2em !important;
  text-decoration:none;
  font-weight:normal;
  padding:5px 15px;
  background-repeat:no-repeat;
  background-position: left center;
  }

.enlace_mas{
  background-image:url(https://www.juntadeandalucia.es/themes/images/enlace_mas.jpg);
  background-position:0 0.5em;
  }
 
 .enlace_menos{
  background-image:url(https://www.juntadeandalucia.es/themes/images/enlace_menos.jpg);
  background-position:0 0.5em;
  }
    
.enlace_abajo{
  background-image:url(https://www.juntadeandalucia.es/themes/images/enlace_abajo.jpg);
  background-position:0 0.5em;
  }
    
.enlace_flecha{
  background-image:url(https://www.juntadeandalucia.es/themes/images/enlace_flech.jpg);
  background-position:0 0.5em;
  }
    
.enlace_rss{
  background-image:url(https://www.juntadeandalucia.es/themes/images/icon_rss.gif);
  background-position:0 0.5em;
  }
    
.enlace_audio{
  background-image:url(https://www.juntadeandalucia.es/themes/images/icon_audio.gif);
  background-position:0;
  padding-left:35px !important;
  color:#087021 !important;
    }

.enlace_pdf{
  background:url(https://www.juntadeandalucia.es/themes/images/pdf.gif) 0px -3px no-repeat;
  padding-left:3em !important;
  padding-bottom:1em !important;
  padding-top:0.3em !important;
  color:#087021 !important;   
  }
    
.contenedor_enlaces{clear:both;}
.contenedor_enlaces .derecha {float:right;}
.contenedor_enlaces .izquierda{ float:left;}

/*ELEMENTOS COMUNES: Mensaje de error ************************************/
  
.mensaje_error{
  float:left;
  padding:13px 15px;
  background:url(https://www.juntadeandalucia.es/themes/images/mensajedeerror.png) top left no-repeat !important;
  background:url(https://www.juntadeandalucia.es/themes/images/mensajedeerror.gif) top left no-repeat;
  }

.mensaje_error h2{
  width:100px;
  height:200px;
  margin:0 10px 0 0 !important;
  padding:0px !important;
  float:left;
  overflow:hidden;
  text-align:center;
  }
  
.mensaje_error h2 span{
  color:#cf3f3f !important; 
  font-size:2em;
  line-height:0.75em;
  padding-left: 10px;
  }
  
.mensaje_error h2 strong{color: #515151 !important; }

#contenidos .mensaje_error p, #contenidos .mensaje_error ul{
  width:60em;
  float:left;
  padding:0px 15px 10px 15px !important;
  padding-bottom: 0 !important;
  margin:0 !important;
  background:url(https://www.juntadeandalucia.es/themes/images/separador_vertical.jpg) repeat-y top left;  
  color:#515151;
  line-height:1.8em;
  }
  
.mensaje_error ul li{
  font-size:1.2em;
  padding:1em 0 0em 1em;
  background: url(https://www.juntadeandalucia.es/themes/images/bullet_ul.jpg) 0.1em 1.5em no-repeat; 
  }
  
/*ELEMENTOS COMUNES: BOTON SUBIR, SIGUIENTE, ANTERIOR *****************************/

.subir, .siguiente, .anterior{
  display: block;
  font-size:1.2em;
  cursor:pointer;
  }
  
.subir span, .anterior span{
  height:2.1em;
  overflow:hidden;
  float:left;
  border-left:1px solid #ddd;
  border-right: 1px solid #ddd;
  background:url(https://www.juntadeandalucia.es/themes/images/paginado_fondo.jpg) repeat-x;
  }

.siguiente span{
  height:2.1em;
  overflow:hidden;
  float:right;
  border-left:1px solid #ddd;
  border-right: 1px solid #ddd;
  background:url(https://www.juntadeandalucia.es/themes/images/paginado_fondo.jpg) repeat-x;
  }

.subir em, .anterior em{
  height:2.5em;
  padding:0.5em 1.5em;
  float:left;
  font-style: normal;
  }
    
.siguiente em{
  height:2.5em;
  padding:0.5em 1.5em;
  float:right;
  font-style: normal;
  }

.subir img, .anterior img{
  float:left;
  padding:0.8em;
  background:url(https://www.juntadeandalucia.es/themes/images/paginado_fin.jpg) no-repeat top right;
  }
    
.siguiente img{
  float:right;
  padding:0.8em;
  background:url(https://www.juntadeandalucia.es/themes/images/paginado_fin.jpg) no-repeat top left;
  }
    
.anterior {float:left;}
.siguiente { float:right;}
    
/* ICONOS SOCIALES*/
/* Los iconos sociales pueden aparecer en #menu, #contenidos, #pie */
/* En #contenidos pueden ser de dos tamaños, 20px y 30 px */

.listado_social { margin:0; padding:0;}

.listado_social li{float:left; padding:0; display:block; clear:none !important; width:auto !important;}

#pie .ico_social_30 { display:block; width:30px; height:30px; background-image: url(https://www.juntadeandalucia.es/themes/images/social/social_pie_30.jpg); background-repeat:no-repeat; float:left; margin-right:5px;}
#menu .ico_social_30 { display:block; width:30px; height:30px; background-image: url(https://www.juntadeandalucia.es/themes/images/social/social_menu_30_solapa.gif); background-repeat:no-repeat; float:left; margin-right:5px;}
#contenidos .ico_social_20 { display:block; width:20px; height:20px; background-image: url(https://www.juntadeandalucia.es/themes/images/social/social_contenidos_20.jpg); background-repeat:no-repeat; float:left; margin-right:3px;}
#contenidos .ico_social_30 { display:block; width:30px; height:30px; background-image: url(https://www.juntadeandalucia.es/themes/images/social/social_contenidos_30.jpg); background-repeat:no-repeat; float:left; margin-right:5px;}
#contenidos .ico_social_instagram_30 { display:block; width:30px; height:30px; background-image: url(https://www.juntadeandalucia.es/themes/images/social/social_instagram_30.jpg); background-repeat:no-repeat; float:left; margin-right:5px;}


.ico_social_20 span, .ico_social_30 span, .ico_social_instagram_30 img, ico_social_instagram_30 span, .ico_social_30 img{ display:none;}

.ico_social_20.twitter{ background-position: 0 0px;}      		.ico_social_20.twitter:hover{ background-position: 0 -20px}
.ico_social_20.facebook{ background-position: -20px 0px;}   	.ico_social_20.facebook:hover{ background-position: -20px -20px}
.ico_social_20.rss{ background-position: -40px 0px;}      		.ico_social_20.rss:hover{ background-position: -40px -20px}
.ico_social_20.da{ background-position: -60px 0px;}       		.ico_social_20.da:hover{ background-position: -60px -20px}      
.ico_social_20.youtube{ background-position: -80px 0px;}   		.ico_social_20.youtube:hover{ background-position: -80px -20px}
.ico_social_20.flickr{ background-position: -100px 0px;}    	.ico_social_20.flickr:hover{ background-position: -100px -20px}
.ico_social_20.tuenti{ background-position: -120px 0px;}    	.ico_social_20.tuenti:hover{ background-position: -120px -20px}
.ico_social_20.meneame{ background-position: -140px 0px;}   	.ico_social_20.meneame:hover{ background-position: -140px -20px}
.ico_social_20.linkedin{ background-position: -161px 0px;}    	.ico_social_20.linkedin:hover{ background-position: -161px -20px}
.ico_social_20.delicious{ background-position: -181px 0px;}   	.ico_social_20.delicious:hover{ background-position: -181px -20px}
.ico_social_20.foursquare{ background-position: -201px 0px;}    .ico_social_20.foursquare:hover{ background-position: -201px -20px}
.ico_social_20.pinterest{ background-position: -221px 0px;}    	.ico_social_20.pinterest:hover{ background-position: -221px -20px}
.ico_social_20.vimeo{ background-position: -241px 0px;}   		.ico_social_20.vimeo:hover{ background-position: -241px -20px}
.ico_social_20.slideshare{ background-position: -261px 0px;}    .ico_social_20.slideshare:hover{ background-position: -261px -20px}
.ico_social_20.blog{ background-position: -281px 0px;}   		.ico_social_20.blog:hover{ background-position: -281px -20px}

.ico_social_30.linkedin{ background-position: -240px 0px;}    	.ico_social_30.linkedin:hover{ background-position: -240px -30px}
.ico_social_30.twitter{ background-position: 0 0px;}      		.ico_social_30.twitter:hover{ background-position: 0 -30px}
.ico_social_30.facebook{ background-position: -30px 0px;}   	.ico_social_30.facebook:hover{ background-position: -30px -30px}
.ico_social_30.rss{ background-position: -60px 0px;}      		.ico_social_30.rss:hover{ background-position: -60px -30px}
.ico_social_30.da{ background-position: -90px 0px;}       		.ico_social_30.da:hover{ background-position: -90px -30px}      
.ico_social_30.youtube{ background-position: -120px 0px;}   	.ico_social_30.youtube:hover{ background-position: -120px -30px}
.ico_social_30.flickr{ background-position: -150px 0px;}    	.ico_social_30.flickr:hover{ background-position: -150px -30px}
.ico_social_30.tuenti{ background-position: -180px 0px;}    	.ico_social_30.tuenti:hover{ background-position: -180px -30px}
.ico_social_30.meneame{ background-position: -210px 0px;}   	.ico_social_30.meneame:hover{ background-position: -210px -30px}
.ico_social_30.delicious{ background-position: -270px 0px;}   	.ico_social_30.delicious:hover{ background-position: -270px -30px}
.ico_social_30.foursquare{ background-position: -300px 0px;}    .ico_social_30.foursquare:hover{ background-position: -300px -30px}
.ico_social_30.pinterest{ background-position: -330px 0px;}    	.ico_social_30.pinterest:hover{ background-position: -330px -30px}
.ico_social_30.vimeo{ background-position: -360px 0px;}   		.ico_social_30.vimeo:hover{ background-position: -360px -30px}
.ico_social_30.slideshare{ background-position: -390px 0px;}    .ico_social_30.slideshare:hover{ background-position: -390px -30px}
.ico_social_30.blog{ background-position: -420px 0px;}   		.ico_social_30.blog:hover{ background-position: -420px -30px}
.ico_social_instagram_30.instagram{ background-position: 0 0px;}      		.ico_social_instagram_30.instagram:hover{ background-position: 0 -30px}
/******************************** CONTENIDOS ********************************/

#contenidos{
  padding-bottom:235px;
  font-family: Verdana, Geneva, sans-serif;
  background:#fff;
  }
    
#contenidos h1{
  color:#2b2b2b;
  font-family: 'TeXGyreHerosCnRegular', Arial, Helvetica, sans-serif;
  font-size:2.5em;
  line-height:1.4em;
  display:block;
  padding:0.35em 0 0.35em 0;
  font-weight:normal !important;
  }
  
#contenidos h1 .nota{
  font-size: 0.5em;
  display:block;
  color:#515151;
  line-height:1.1em;
  font-family:Verdana, Geneva, sans-serif;
  }
      
#contenidos h2, #contenidos #columna .encabezado{
  color:#2b2b2b;
  font-family: 'TeXGyreHerosCnRegular', Arial, Helvetica, sans-serif;
  font-size:2.2em;
  line-height:1.4em;
  display:block;
  padding:0.35em 0 0.5em 0;
  margin:0;
  font-weight:normal !important;
  clear:left;
  }
    
#contenidos h2 .nota{
  display: block;
  font-size:0.8em;
  }

#contenidos h3, #contenidos .facetas{
  color:#515151;
  font-family: 'TeXGyreHerosCnRegular', Arial, Helvetica, sans-serif;
  font-size:1.8em;
  line-height:1em;
  display:block;
  padding:1em 0 0.7em 0;
  font-weight:normal !important;
  }
    
#contenidos h3 strong, #contenidos h3 a{color:#087021 !important;}
    
#contenidos h4{
  color:#2b2b2b;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size:1.3em;
  /*line-height:1em;*/
  display:block;
  padding:0.8em 0 0.7em 0;
  font-weight:normal !important;
  }
    
#contenidos h1 a, #contenidos h2 a, #contenidos h3 a{ 
  text-decoration:none; 
  color:#2b2b2b !important;
  }
  
#contenidos h1 a:hover, #contenidos h2 a:hover, #contenidos h3 a:hover{ 
  text-decoration:underline;
  }

#contenidos p{
  font-size:1.2em;
  line-height:1.7em;
  color:#515151;
  margin:0 0 .6em 0;
  padding:0;
  display:block;
  }
  
.aviso {
  font-size:1.2em;
  line-height:1.7em;
  color:#515151;
  margin:0 0 .6em 0;
  padding:0;
  display:block;
  max-width: max-content !important;
  }

#contenidos a{
  color:#087021;
  text-decoration:none; 
  }

#contenidos a:hover{
  text-decoration:underline;  
  }

/********** CONTENIDOS  NIVEL 3 ********************************/
        
/* CONTENIDOS GENERALES DEL TERCER NIVEL*********************************************************************/
    
.editor strong{ font-weight: bold; color:#2b2b2b;}

.editor ol, .editor ul { 
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size:1.2em;
  line-height:1.5em;
  color:#515151;
  margin:0;
  padding:0.6em 1em;    
  display:block;
  }
  
.rpa ol li, .rpa ul li { font-size:1em !important;}  
  
.editor ol { 
  list-style:decimal;
  list-style-position: inside;
  }

.editor ul{
  list-style:disc;
  list-style-position:inherit;
  }
  
.editor ol li, .editor ul li { 
  clear: left;
  margin-bottom:0.7em;
  margin-left:1em;  
  }
.editor ul  p, .editor ol  p { font-size:1em !important;}

.editor ul ul,
.editor ul ol,
.editor ol ol,
.editor ol ul,
.editor ul ul ul,
.editor ul ul ol,
.editor ul ol ul,
.editor ul ol ol,
.editor ol ol ul,
.editor ol ol ol,
.editor ol ul ul,
.editor ol ul ol {
  font-size:1em;
  padding-bottom: 0px;
  }
    
.editor .listado_pdf, .editor .listado_adjuntos, .editor .listado_pdf li, .editor .listado_adjuntos li, .editor .lista_con_foto, .editor .lista_con_foto li { 
  list-style:none !important;
  }
      
.editor .listado li{
  width: 170px !important;
  margin-left: 0 !important;
  }

.editor .imagen img{
  border:1px solid #ccc;
  width:21em; 
  }
    
.editor .note-off{clear:none !important;}
/*.editor ul ul li{background: url(https://www.juntadeandalucia.es/themes/images/bullet_ulul.jpg) 0 1em no-repeat; }*/
.editor .lista_con_foto{font-size:1em;}
.editor .lista_con_foto li {padding-left:0 !important; }
.editor .lista_con_foto li p{font-size:1.2em !important;}
.editor .destacado .lista_con_foto{padding:0 !important; }
.editor .destacado .lista_con_foto li{
    padding-left:0 !important; width: 20.8em;
    min-height:0.1em !important;
    clear:none;
    float:left;
    height:auto;
    border:none !important;
    border-bottom:2em solid #fafafa !important;
    }

.editor .destacado .lista_con_foto li p{font-size:1.2em !important; }
.editor .destacado .lista_con_foto li img{border:1px solid #cbcbcb; width:3.8em}

/* TABLA EN TERCER NIVEL: ZONA EDITABLE  POR CONTENIDOS: */
  .editor table{
  border-collapse: collapse;
  border: 1px solid #cccccc;
  font: normal 1.0em verdana, arial, helvetica, sans-serif;
  color: #363636;
  background: #f6f6f6;
  text-align:left;
  }
          
.editor table caption {
  text-align: center;
  font: bold 1.4em 'TeXGyreHerosCnRegular', Arial, Helvetica, sans-serif;
  background: transparent;
  padding:6px 4px 8px 0px;
  color: #087021;
  text-transform: uppercase;
  }
  
/* Caso especial para los detalles del Registro de Entidades Locales */
.editor table caption.caption_rael {    
  font-family: 'TeXGyreHerosCnRegular', Arial, Helvetica, sans-serif;
  font-size: 1.8em;    
  padding: 1em 0 0.7em 0;
  color: #515151;
  text-align: left;
  font-weight: normal !important;
  text-transform: capitalize;
}  
          
.editor table thead, tfoot {
  text-align:left;
  height:3em;
  }
        
.editor table thead th, tfoot th {
  padding:5px;
  background: #666666;
  color:#FFFFFF;
  border: 1px solid #cccccc;
  }
          
.editor table a {
  text-decoration:none;
  }
        
.editor table a:hover {
  text-decoration:underline;
  }
          
.editor table tr.odd {
  background: #f1f1f1;
  }
          
.editor table tbody th, tbody td {
  padding:5px;
  border: 1px solid #e3e3e3;
  }
/* FIN  TABLA EN TERCER NIVEL: ZONA EDITABLE  POR CONTENIDOS: */
    
#contenidos .contenidos_nivel3 p, .sesiones  p{
  margin:0 0 1em 0!important;
  }

.contenidos_nivel3 ul{ clear:none !important;}
    
.contenidos_nivel3 .izquierda{margin-left:0 !important;}
      
.contenidos_nivel3 .derecha{
  float:right !important; 
  margin-right:0 !important;
  }
    
.contenidos_nivel3 .enlace{ Font-size:1em !important;}

.contenidos_nivel3 .listado{
  clear:both;
  font-size:1.2em;
  line-height:1.5em;
  color:#515151;
  margin:0;
  padding:0.6em 0;
  display:block;
  }
    
.contenidos_nivel3 .listado li{
  display:block;
  clear: left;
  margin-bottom:0.7em; 
  background: url(https://www.juntadeandalucia.es/themes/images/bullet_ul.jpg) 0.1em 0.7em no-repeat; 
  padding-left: 10px;
  } 
    
.contenidos_nivel3 .listado ul{
  font-size:1em;
  padding:10px 0 0px 0;
  }
      
.contenidos_nivel3 .listado ul li{
  margin-bottom:10px; 
  background: url(https://www.juntadeandalucia.es/themes/images/bullet_ulul.jpg) 0 1em no-repeat; 
  padding-left: 5px;
  }
  
.contenidos_nivel3 .img_izquierda{ 
  display: inline;
  float: left;
  margin-right: 1em;
  }
    
.contenidos_nivel3 .img_derecha{ 
  display: inline;
  float: right !important;
  margin-left: 1em;
  }
      
/* ELEMENTOS DEL LOS DESTACADOS DEL TERCER NIVEL *************************************/

.contenidos_nivel3 .destacado{
  clear:both;
  border:1px #CCCCCC solid; 
  background-color:#fafafa; 
  padding:.5em .5em .2em .5em;
  width:20.8em !important;
  margin:2em 1em .5em 1em;
  display:inline;
  }
    
#contenidos .contenidos_nivel3 .destacado .titulo{
  font-family: 'TeXGyreHerosCnRegular', Arial, Helvetica, sans-serif;
  font-size:1.8em !important;
  line-height:1.2em; 
  padding:0.2em 0 0em 0 !important; 
  color:#515151;  
  margin:0 !important;
  }
          
.contenidos_nivel3 .destacado .lista_con_foto{
  padding:0 !important; 
  }     
    
.contenidos_nivel3 .destacado .lista_con_foto .item p{
  margin-bottom:0 !important;
  }
    
.contenidos_nivel3 .destacado .lista_con_foto .item{
  width: 20.8em;
  min-height:0.1em !important;
  clear:none;
  float:left;
  height:auto;
  border:none !important;
  border-bottom:2em solid #fafafa !important;
  }
  
.contenidos_nivel3 .destacado .lista_con_foto li img{ margin:0 !important;}
  
.contenidos_nivel3 .destacado .listado{
  width: 100%;
  float:left;
  }
      
/* ESPECIFICO LISTA CON FOTO DEL TERCER NIVEL *************************************/  
          
.contenidos_nivel3 .lista_con_foto { padding:2em 0 0 0 !important;}
        
/* TABLAS *******************************************/
      
table.tabla_01{
  border-collapse: collapse;
  border: 1px solid #cccccc;
  font: normal 1.0em verdana, arial, helvetica, sans-serif;
  color: #363636;
  background: #f6f6f6;
    text-align:left;
  }
  
.tabla_01 caption {
  text-align: center;
  font: bold 1.4em 'TeXGyreHerosCnRegular', Arial, Helvetica, sans-serif;
  background: transparent;
  padding:6px 4px 8px 0px;
  color: #087021;
  text-transform: uppercase;
  }
          
.tabla_01 thead, tfoot {
  text-align:left;
  height:3em;
  }
        
.tabla_01 thead th, tfoot th {
  padding:5px;
  background: #666666;
  color:#FFFFFF;
  border: 1px solid #cccccc;
  }
          
.tabla_01 table a {
  text-decoration:none;
  }
        
.tabla_01 table a:hover {
  text-decoration:underline;
  }
          
.tabla_01 tr.odd {
  background: #f1f1f1;
  }
          
.tabla_01 tbody th, tbody td {
  padding:5px;
  border: 1px solid #e3e3e3;
  }   
    
/* CONTENIDOS COLUMNA DERECHA *********************/ 

#contenidos #columna .titular { 
  font-family: 'TeXGyreHerosCnRegular', Arial, Helvetica, sans-serif;
  font-weight:normal !important; 
  font-size:2.0em !important; 
  color:#2b2b2b;
  line-height:1em;
  display:block;
  padding:1em 0 0.7em 0;
  margin:0 !important;
  }
        
#contenidos #columna .encabezado_novedades{
  padding:20px 0 15px 0;
  margin-bottom:1em !important;
  background:url(https://www.juntadeandalucia.es/themes/images/pestanas_active.jpg) no-repeat left bottom;
  }
        
#contenidos #columna .encabezado_novedades img{ 
  float:right;
  }
      
#columna .mas{
  background: url(https://www.juntadeandalucia.es/themes/images/enlace_mas.jpg) 0 0.1em no-repeat; 
  padding-left:14px;
  }
  
#columna .noticias {
    clear: both;
}
    
/******************************************************* ESTILOS ESPECIFICOS */

/*PAGINA ACCESIBILIDAD */

.listado_foto_accesibilidad{
  width:100%;
  }
  
.listado_foto_accesibilidad li{
  clear:none !important;
  width:20em;
  float:left;
  display: inline-table;
  padding:0 0em 2em 0 !important;
  margin:0 1em 0 0 !important;
  }
  
.listado_foto_accesibilidad li img{
  margin:0 0.4em 0 0 !important;
  }

#contenidos .listado_foto_accesibilidad li span, #contenidos .listado_foto_accesibilidad li a, #contenidos .listado_foto_accesibilidad li p{  
  font-size:0.9em;
  line-height:1.2em; 
  }
  
.listado_foto_accesibilidad li span{
  padding:10px 0 0 0 !important;
  }
    
/* SECCION LA JUNTA ******************************************************************************/
/** Sesiones ******************************************************/

.sesiones{
  clear:both;
  padding:0 0 5em 0;
  border-top:1px solid #dcdcdc;
  display:block;
  }

.sesiones h2{
  color:#087021 !important;
  font-size: 1.8em!important;
  font-weight: normal !important;
    line-height: 1em;
    padding: 1em 0 0.7em;
  }

#contenidos .sesiones h3{
  color:#2b2b2b !important;
  font-family: Verdana, Arial, Helvetica, sans-serif !important;
  font-size:1.4em !important;
  line-height:1.2em;
  display:block !important;
  padding:0.8em 0 0.7em 0 !important;
  font-weight:normal !important;
  }

.sesiones .subir{
  margin:3em 0; 
  }
  
.sobrelajunta_portada .listado_resultados p{
  font-size:1em !important;
  }

#listado_anyos {}
#listado_anyos li{ display:block; float:left; padding:2px; border:#dddddd 1px solid; margin-right:0.1em; background-color:#fafafa; font-size:1.2em;}

#listado_anyos li a strong {color:#2b2b2b; font-weight:normal;} 
#listado_anyos li a:hover strong {color:#2b2b2b;} 
  
/* SECCION SERVICIOS Y TRAMITES ******************************************************************************/

.servicios_datos_basicos{
  background-color:#fafafa; 
  border-top:#CCCCCC 1px solid; 
  border-bottom:#CCCCCC 1px solid;  
  padding:1em 0 3em 0;    
  line-height:1.8em;
  overflow:hidden;
  height:1%;
  }
  
.servicios_datos_basicos .linea{ 
  clear:both;
  padding:1em 0;
  }
    
.servicios_datos_basicos li{ 
  font-size:1.2em !important;
  padding-bottom:0.5em;
  color:#2b2b2b;
  }

.servicios_datos_basicos p{ 
  color:#2b2b2b !important;
  }
      
.servicios_datos_basicos .epigrafe{ 
  text-align:right;
  font-size:1.2em;
  color:#515151 !important;
  }
.servicios_descripcion ul{
  font-size:1.2em;  
  color:#2b2b2b;  
  padding:0;
  margin:0;
  }
.servicios_descripcion ol{
  font-size:1.2em;
  color:#2b2b2b;
}
.servicios_descripcion li{
  margin-bottom:1em; 
  background: url(https://www.juntadeandalucia.es/themes/images/bullet_ul.jpg) 0.1em 0.5em no-repeat; 
  padding-left: 10px;
  } 
.servicios_descripcion ul ul{
   margin-top:1em; 
  font-size:1em;  
  }

.servicios_descripcion ol li {
  background: transparent none repeat scroll 0 0;
  list-style-type: decimal;
  padding-left: 0;
}
.servicios_descripcion ol {
  padding-left: 18px;
}

.servicios_datos_basicos a{
  word-wrap: break-word;
}

#contenidos .img_datosabiertos{ border:0 !important;}
#contenidos .menu_img_datosabiertos{clear:both; padding-left:36px; padding-right:0;}
   
.documento_adj_publicaciones{
/*
  padding:0 0 0.1em 0.7em;
  background:url(https://www.juntadeandalucia.es/themes/images/separador_vertical.jpg) repeat-y left top;
  font-size:1.2em !important; 
  */
}
.documento_adj_publicaciones .listado_adjuntos{ padding:0 !important;}

.documento_adj_publicaciones a{
  display:block;  
}
.documento_adj_publicaciones .item_pdf_grupo{
  padding:0.6em 0 0.9em 2.8em;
  margin:1.5em 0 0 0;
  background-repeat:no-repeat;
  background-image:url(https://www.juntadeandalucia.es/themes/images/pdf.gif); 
}

      
/* SECCION ANDALUCIA ****************************************************************************/

.caja{
  float:left; 
  }

.nota_al_pie{
  font-size:1em !important; 
  }

/** ESTILOS ESPECIFICOS DE LAS CONSEJERIAS ******************************************************/
  
.ficha_portada img{
  border:1px solid #bebebe;
  margin-bottom:2em;
  }

#contenidos .ficha_portada p{
  color:#2b2b2b !important;
  line-height: 1.4em;    
  }

.ficha_portada .negrita{
  color:#515151 !important;
  font-weight:normal;
  }

/* SOCIAL **********************************************/
    
.social_consejerias{ padding-top: 2em;}

    
/* ACTUALIDAD **********************************************/
/* SUBPORTADA */

#contenidos .encabezado_actualidad{
  font-family: 'TeXGyreHerosCnRegular', Arial, Helvetica, sans-serif;
  font-weight:normal !important; 
  font-size:2.2em !important;
  color:#2b2b2b;
  line-height:1.6em;
  background:url(https://www.juntadeandalucia.es/themes/images/pestanas_active.jpg) no-repeat left bottom;
  padding:0.35em 0 0.5em 0 !important;
  margin-bottom:1em !important;
  }
      
.actualidad_ultimas .eventos li .texto{width:45em;}
#contenidos .actualidad_ultimas .eventos li .texto_confoto{
  width:30em; 
  padding:0 0 .2em .5em !important;
  color:#515151;
  float:left;
  background:url(https://www.juntadeandalucia.es/themes/images/separador_vertical.jpg) repeat-y top left;
  line-height:1.2em;
  margin:0px !important;
  display:block;
  }
        
.actualidad_ultimas .eventos .confoto .fecha{ padding-left:0.7em !important;}
.actualidad_ultimas .eventos .imagen_listnoticia{float:left; width:11.8em; border:1px solid #cbcbcb;}

/** Bloques ******************************************************/

.bloque{padding:1.6em 0;}
.bloque img{border:1px solid #cbcbcb;}
.bloque h2, .bloque h3{ padding-top:0 !important;}

.caja{float:left;}

.nota_al_pie{font-size:1em !important;}

.oculto{display:none !important;}   

.alerta{
  color:#515151;
  margin:2em 0;
  background:#fafafa;
  border:1px solid #cccccc;
  display:block;
  line-height:1.6em;
  padding:1em 1em !important;
  }
  
#columna .alerta .resaltado{ font-weight:bold;}
.item_pdf_disposicion{ font-size:1.2em; margin-bottom:1.5em; display:block;}
.item_pdf_grupo{background-image:url(https://www.juntadeandalucia.es/themes/images/pdf_firmado.gif) !important;}

.calendario_directoa{padding-bottom:9px !important;}

.boja_nav {padding-top:1em;}

.slidesPrevious {background:url(https://www.juntadeandalucia.es/themes/images/izq.PNG); width:19px; display:block; height:19px; float:left;}
.slidesNext {background:url(https://www.juntadeandalucia.es/themes/images/der.PNG); width:19px; display:block; height:19px; float:right}
.id_slide2{clear:both}
a.next_pag:hover{text-decoration:none !important;}
a.prev_pag:hover{text-decoration:none !important;}

#slides { display: none !important;  } /* Hide if JS disabled */
.js #slides,.js #banner  { display: block !important; text-align:center; margin:0 auto; } /* Show if JS enabled */
.js #noscript,.js #div_oculto, #msg_oculto, #entidad_oculto { display: none;  } /* Hide if JS enabled */

.js #div_oculto,.js.boton_pequeno, .js.formatofecha{display:none;}
.defaultTextActive { color: #515151; }
.ceic_servicios div {width: 94em;}
.ceic_servicios a,.ceic_servicios span{float:left;}
.ceic_servicios span{width:30%;}
.ceic_servicios span.c_087021{width:40px !important;color:#087021 !important;}
.ceic_servicios a{width:100%;}


/* IGUALDAD */

.sector_select div{ width:40em !important;}
.tipo_centro_select div{ width:16em !important;}
.provincia_select div{ width:16em !important;}
.in_municipio{font-size:1.2em; width:17em !important;}
.in_entidad{font-size:1.2em; width:17em !important;}


/*Caja alerta*/
.caja_alerta{font-size:1.2em; line-height:1.2em; padding-left:4.9em; padding-top:1.1em; color:#515151; border:1px solid #ccc; height:3.4em; background:#f2f2f2 url(https://www.juntadeandalucia.es/themes/images/alert.gif) left top no-repeat;}


/* CONSEJO DE GOBIERNO*/

.consejo_gobierno .corte {height:300px; overflow:hidden; position:relative; }
.consejo_gobierno .corte_degradado{ background: url(https://www.juntadeandalucia.es/themes/images/degr_masinfo.png); height:30px; position:absolute; bottom:0px; width:100%;}
.consejo_gobierno .cont_enlaces_mas_menos{margin-bottom:30px; padding-top:10px; border-top:1px solid #ebebeb; display:none;  }
.consejo_gobierno .cont_enlaces_mas_menos a{font-size:1.2em;background-repeat:no-repeat;  background-position: left center; padding-left:15px;}
.consejo_gobierno .listado_adjuntos {margin:0 !important; padding:0 !important; font-size:1em ;}


/* 16 MOSTRAR OCULTYAR SLIDER */
#slide_col16{
	display:block;
}

/**** CONTENIDO EXTRA AÑADIDO para los BOJA porque usan otra CSS copia de esta en otra ruta y con pero con diferencias ****/
.social ul li a span {
	display: none;
}
.social ul li a{ background-image:url(https://www.juntadeandalucia.es/boja/themes/images/social_columna.jpg); }
.social ul li img{ border:none !important;}

.social ul li {
float: left;
list-style: none;
padding: 0 5px 0 0;
}


/**** CONTENIDO EXTRA AÑADIDO para los BOJA porque usan otra CSS copia de esta en otra ruta y con pero con diferencias ****/
/** AÑADIDO PARA OCULTAR ETIQUETA IMG DE LA CABECERA QUE NO SE USA EN VERSION PC PERO SI EN VERSION MOVIL **/

/* La siguiente regla es necesaria para 
   la version Insuit */
#logo .logotipo span#data-insuit-img-0 {
	  display: none;
}

/**** CONTENIDO EXTRA AÑADIDO PARA OCULTAR LOS LABELS DE VERSION PARA LOS MÓVILES *****/
.buscador_interno label.movil_label{
	display:none;
}
/**** CONTENIDO EXTRA AÑADIDO PARA OCULTAR LOS LABELS DE VERSION PARA LOS MÓVILES *****/


/*** CONTENIDO EXTRA AÑADIDO PARA MOSTRAR CAPA CONTENIDO DE SECCIÓN 'LO ULTIMO' DEL INDEX SIEMPRE QUE NO SEA ANCHO DISPOSITIVO ***/
/*#pestanas .current{
	display:block;
}*/
/*** CONTENIDO EXTRA AÑADIDO PARA MOSTRAR CAPA CONTENIDO DE SECCIÓN 'LO ULTIMO' DEL INDEX SIEMPRE QUE NO SEA ANCHO DISPOSITIVO ***/

/*** NO APLICAR EN EL LOGO CABECERA EL SALTO SOLO EN EL CASO DE MOVILES **/
.clearlogo{
	display:none;
}

/* CALCULADORA DE JUSTICIA*/
#calculadora_justicia .pregunta{ font-size:1.4em;}
#calculadora_justicia .sino label{ display:inline;}
#calculadora_justicia .sino.sangria label{display: inline-block; text-align: right; width: 8em;}
/* CONTACTO DE JUSTICIA*/
.selec .genHeader { width: 250px; }

/* TRANSPARENCIA */

.listado_resultados .item-transparencia-bloque-2 {
    height:1%; overflow: hidden; background: none; padding-left: 0; margin-bottom:0;
}
.listado_resultados .item-transparencia-bloque-2 > span{
    display: block; float: left; margin-right:40px;
}
.listado_resultados .item-transparencia-bloque-2 > span:last-child{
    margin-right:0;
}
/* BUSCADOR PUESTOS DE TRABAJO */
.centro_directivo div,
.grupo div,
.modo_acceso div {width: 18em;}

.cdce div {width: 5em;}

/* TABLA BUSCADOR PUESTOS DE TRABAJO */
.editor.listado_resultado_tabla > table {
  width: 100%;
  margin-bottom: 6em;
}


.editor td abbr,
.editor th abbr {
  border-bottom-color: -moz-use-text-color;
  border-bottom-style: dotted;
  border-bottom-width: 1px;
}

/* FORMULARIO contro de tamaños de selects e inputs */

/* Poner esta clase en el div contenedor del select*/
.size-select-80 > div{width: 80%}
.size-select-60 > div{width: 60%}
/* Poner esta clase directamente en el input*/
.size-input-80 {width: 80%}
.size-input-60 {width: 60%}

/* Agricultura paginador convicatoria*/

.paginador_agricultura_convocatoria img{
  display: inline;
}

.buscador_interno select[multiple]{
  overflow-y: scroll;
  display: block;
  height: 90px;
  border:1px solid #ccc;
  color:#515151;
  padding:2px 2px 2px 0;
  margin:0 0 0 5px;
}

.fecha_transp {
  margin-left: 50px;
}

/**/

.lista_con_foto li img {
  border:1px solid #ccc;
  width: 38px;
}


.logos_aenor img{
 border:0px solid #ccc;
}

/* Estilos icono DATOS ABIERTOS */

.acciones.acciones_datos {
  font-size: 1.2em;
  height: auto;
}
.acciones_datos ul li {
  display: inline-block;
}
.acciones_datos ul li:first-child {
  background: url("https://www.juntadeandalucia.es/themes/images/opendata.jpg") no-repeat;
  padding: 8px 0 8px 34px     ;
}
.acciones_datos ul li div{
  border-right: 1px solid #ccc;
  padding: 0 10px;
}
.acciones_datos ul li:first-child div{
  padding-left: 0;
}

.acciones_datos ul li:last-child div{
  border-right: none;
}

/* Contacto */
.contacto-email{
  padding-top: 1em;
}
.contacto-tel {
  font-size: 1.8em;
  line-height: 2;
  color: #515151;
}
.contacto-email {
  font-size: 1em;
  line-height: 2;
}
.contacto-tel img, .contacto-email img {
  display: initial;
  vertical-align: middle;
  margin-right: 5px;
}

#pie .enlaces ul li {
    width: 50%;
    display: block;
    float: left;
    padding: 0;
    margin: 0;
    list-style: none;
    color: #fff;
}
#pie .enlaces-accesibilidad ul li {
    width: 60%;
    display: block;
    float: left;
    padding: 0;
    margin: 0;
    list-style: none;
    color: #fff;
}
#pie .enlaces ul li a,
#pie .enlaces-accesibilidad ul li a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    height: 2em;
    float: left;
    color: #fff;
    margin: 0;
    padding: 0;
    padding: 0px 10px;
    text-decoration: none;
    background: url(https://www.juntadeandalucia.es/themes/images/bullet_01.jpg) no-repeat left 5px;
}
#pie .enlaces-accesibilidad ul li a{
    background: transparent;
    padding: 0 0 0 30px;
}
#pie .enlaces-accesibilidad ul li a:hover{
    text-decoration: underline;
}
#pie .enlaces {
    padding: 20px 0;
    background: transparent;
}
#pie .enlaces-accesibilidad  {
    padding: 20px 0;
   background: url(https://www.juntadeandalucia.es/themes/images/logo_junta_foot.jpg) no-repeat top right;

}

#pie .enlaces-accesibilidad ul li a.aa{
    background: url(https://www.juntadeandalucia.es/themes/images/ico-aa.png) no-repeat top left;
    background-size: 20px;
background-position: 0 0;

}
#pie .enlaces-accesibilidad ul li a.universal{
    background: url(https://www.juntadeandalucia.es/themes/images/ico-universal.png) no-repeat top left;
     background-size: 23px;
background-position: 0 1px;

}

.boton_participacion {
  width: auto;
  color: #fff !important;
  text-transform: uppercase;
  line-height: 1.2em;
  margin-right: 50px;
  cursor: pointer;
  underline:none  !important;
  text-decoration:none !important;
  padding: 6px 20px 5px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8e8e8e+0,2b2b2b+100 */
  background: #2b2b2b; /* Old browsers */
  background: -moz-linear-gradient(top, #8e8e8e 0%, #2b2b2b 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #8e8e8e 0%,#2b2b2b 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #8e8e8e 0%,#2b2b2b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.editor table.tabla-generica {
    width: 100%;
    white-space: nowrap;
}

.editor table.tabla-protecciondatos {
    width: 100%;
}

.aviso-pendiente-actualizacion-solapa{
	
	width: 100%;
	border: 1px solid #ccc;
	box-sizing: border-box;
	background-color: rgba(255, 255, 255, 0.95);
	color: #2b2b2b;
	padding: 3px;
	margin: 3px 0;

}
#menu .aviso-pendiente-actualizacion-solapa p{
	font-family: Verdana, Geneva, sans-serif;
	padding: 0;
}
#menu .aviso-pendiente-actualizacion-solapa p a{
	color:#087021;
}

.aviso-pendiente-actualizacion{
	
	width: 100%;
	border: 1px solid #ccc;
	box-sizing: border-box;
	background-color: rgba(0, 0, 0, 0.02);
	color: #2b2b2b;
	padding: 3px;
	margin: 0 0 10px 0;

}
#contenidos .aviso-pendiente-actualizacion p{

	line-height: 1.5;
	margin-bottom: 0;
}

/* Estilos calendario de eventos */

span.left-part ul li:first-child {
    margin-left: 10px;
}

span.left-part ul li {
    display: block;
    float: left;
    padding-right: 4px;
    padding-top: 5px;
}

span.title-caption {
    display: block;
    float: left;
    width: 70%;
}

span.right-part ul li:last-child {
    padding-right: 5px;
}

span.right-part ul li {
    display: block;
    float: left;
    padding-top: 5px;
    padding-right: 4px;

}

a.callejero img {
    float: left;
    display: block;
}
.callejero span {
  padding: 3px;
  display: block;
}

 .f-12 {
  font-size: 1.2em;
 }
 .p-f-12{
    font-size: 1.2em;
    margin: 0 0 .6em 0;
 }
 .first {
   margin: 0.5em 0;
 }

#menu .f-12 {
  font-family: Arial,Helvetica,sans-seri;
  font-size: 1.2em;
 }
#menu .p-f-12{
    font-family: Arial,Helvetica,sans-seri;
    font-size: 1.2em;
    margin: 0 0 .6em 0;
 }

#menu p.no-padding {
  padding:0;
}