.buscador_interno{
  width: 100%;
  padding:2em 0;
  margin:0 0 2em 0; 
  border:1px solid #ccc;
  background:#fafafa;
  font-family:Arial, Helvetica, sans-serif;
  box-sizing: content-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.buscador_interno label{
  font-size:1.2em;
  color:#515151;
  padding-bottom:0.2em;
  display:block;
}

label.l_oculto, optgroup:before{
  position:absolute;
  height:1px;
  width:1px;
  overflow:hidden;
  clip:rect(1px 1px 1px 1px); /* Compatibilidad IE6/IE7 */
  clip:rect(1px, 1px, 1px, 1px);
}

label.l_inline{
  display: inline;
}

.buscador_interno > form {
  display: block;
  padding: 0;
}

.buscador_interno > form legend, #votacion form legend, #sugerencia form legend{
  display: none;
}

.buscador_interno > form fieldset fieldset legend {
  display: block;
  margin-left: 15px;
  font-size: 1.8em;
  color: #515151;
  margin-bottom: 20px;
  font-weight: bold;
  font-family: 'TeXGyreHerosCnRegular', Arial, Helvetica, sans-serif;
}

.buscador_interno select, .buscador_interno input, .buscador_interno textarea {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 1.2em;
  border: 1px solid #ccc;
  background-color: #fff; 
  padding: 5px;
  color: #515151;
  width: 100%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

#contenidos p.titulito {
  margin-bottom: -15px;
  font-weight: bold;
}

.buscador_interno .inputIcon input {
  width: 90%;
}
.buscador_interno .inputIcon span {
  font-size: 1.4em;
  color: #515151;
  padding-left: 2px;
}

.buscador_interno .inputLabelIcon input {
  width: 50%;
}
.buscador_interno .inputLabelIcon label {
  display: inline;
  margin-right: 5px; 
}
.buscador_interno .inputLabelIcon span {
  font-size: 1.4em;
  color: #515151;
  padding-left: 2px;
}

.buscador_interno select {
  height: 27px;
}

.buscador_interno select option{
  margin: 3px 0 2px 0;
}

.buscador_interno select:focus, .buscador_interno input:focus, .buscador_interno textarea:focus {
  border: 1px solid #087021;
  outline: none;
}

.buscador_interno input.input_principal{
  font-size: 1.4em;
  color: #515151;
}

#votacion .boton, #sugerencia .boton, .btn-carpeta-ciudadana {
  border: 1px solid #ccc;
}

.buscador_interno .boton, #votacion .boton, #sugerencia .boton, .btn-carpeta-ciudadana {
  width: auto;
  color: #fff !important;
  text-transform: uppercase;
  line-height: 1.2em;
  cursor: pointer;
  padding: 6px 20px 5px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8e8e8e+0,2b2b2b+100 */
  background: #2b2b2b; /* Old browsers */
  background: -moz-linear-gradient(top, #8e8e8e 0%, #2b2b2b 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #8e8e8e 0%,#2b2b2b 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #8e8e8e 0%,#2b2b2b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.buscador_interno .boton:hover ,#votacion .boton:hover, #sugerencia .boton:hover, .btn-carpeta-ciudadana:hover {
  width: auto;
  color: #fff;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#44ba60+0,087021+100 */
  background: #087021; /* Old browsers */
  background: -moz-linear-gradient(top, #44ba60 0%, #087021 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #44ba60 0%,#087021 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #44ba60 0%,#087021 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	text-decoration: none !important;
}
.buscador_interno .boton_pequeno{
  padding: 6px;

}
.hasDatepicker {
  float: left;
  width: 143px !important;
}

.buscador_interno input[type="checkbox"], .buscador_interno input[type="radio"] {
  float: left;
  width: auto;
  margin: 0 0.5em 0 0;
}

.sangria > input {
  width: 50%;
}

/* POSITIONING */

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.justify {
  text-align: justify;
}

/* ==== GRID SYSTEM ==== */


.row {
  position: relative;
  width: 100%;
}

.row [class^="col"] {
  float: left;
  margin: 0 2% 20px ;
  min-height: 0.125rem;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  display: block;
  width: 96%;
}

.col-1-sm {
  width: 4.33%;
}

.col-2-sm {
  width: 12.66%;
}

.col-3-sm {
  width: 21%;
}

.col-4-sm {
  width: 29.33%;
}

.col-5-sm {
  width: 37.66%;
}

.col-6-sm {
  width: 46%;
}

.col-7-sm {
  width: 54.33%;
}

.col-8-sm {
  width: 62.66%;
}

.col-9-sm {
  width: 71%;
}

.col-10-sm {
  width: 79.33%;
}

.col-11-sm {
  width: 87.66%;
}

.col-12-sm {
  width: 96%;
}
.col-1_5{
    width: 96%;
  }

.row::after {
  content: "";
  display: table;
  clear: both;
}

.hidden-sm {
  display: none;
}

@media only screen and (min-width: 960px) { /* 960px */
  
  .buscador_interno > form {
    padding: 0 60px;
  }
  .grid_5 .buscador_interno > form {
    padding: 0 20px;
  }
  .buscador_interno.historico_actualidad > form {
    padding: 0;
  }
  .hasDatepicker {
    width: 143px !important;
  }
  .hidden-sm {
    display: block;
  }
  .col-1 {
    width: 4.33%;
  }
  .col-2 {
    width: 12.66%;
  }
  .col-3 {
    width: 21%;
  }
  .col-4 {
    width: 29.33%;
  }
  .col-5 {
    width: 37.66%;
  }
  .col-6 {
    width: 46%;
  }
  .col-7 {
    width: 54.33%;
  }
  .col-8 {
    width: 62.66%;
  }
  .col-9 {
    width: 71%;
  }
  .col-10 {
    width: 79.33%;
  }
  .col-11 {
    width: 87.66%;
  }
  .col-12 {
    width: 96%;
  }
  .col-1_5{
    width: 16%;
  }
}

span.error {
    display: block;
    margin-top: 5px;
    color: red;
    width: 85%;
}
/* Forzados */
.row .no-margin-bottom {
    margin-bottom: 0;
}

/* para un formulario de inscripciones del 24-10-2017*/
/* se puede eliminar posteriormente */
#formulario .row [class^="col"] {
  margin-bottom: 10px;
}


/* Carpeta ciudadana */
@media only screen and (max-width: 959px) {
	.txt-center-xs{
		text-align: center;
	}
}
@media only screen and (max-width: 767px) {
	.btn-carpeta-ciudadana{
		display: block;
		width: 100%;
		margin-bottom: 15px;
		  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
	}
}

/* Utilidades*/
.text-underline{
	text-decoration: underline !important;
}
.text-center{
	text-align: center !important;
}
.img-center{
	margin: 0 auto !important;
}
.clear-initial{
	clear: initial !important;
}   
.float-left{
	float: left;
}
.m-0 {
  margin: 0 !important;
}

.mt-0,
.my-0 {
  margin-top: 0 !important;
}

.mr-0,
.mx-0 {
  margin-right: 0 !important;
}

.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}

.ml-0,
.mx-0 {
  margin-left: 0 !important;
}

.m-1 {
  margin: 0.25rem !important;
}

.mt-1,
.my-1 {
  margin-top: 0.25rem !important;
}

.mr-1,
.mx-1 {
  margin-right: 0.25rem !important;
}

.mb-1,
.my-1 {
  margin-bottom: 0.25rem !important;
}

.ml-1,
.mx-1 {
  margin-left: 0.25rem !important;
}

.m-2 {
  margin: 0.5rem !important;
}

.mt-2,
.my-2 {
  margin-top: 0.5rem !important;
}

.mr-2,
.mx-2 {
  margin-right: 0.5rem !important;
}

.mb-2,
.my-2 {
  margin-bottom: 0.5rem !important;
}

.ml-2,
.mx-2 {
  margin-left: 0.5rem !important;
}

.m-3 {
  margin: 1rem !important;
}

.mt-3,
.my-3 {
  margin-top: 1rem !important;
}

.mr-3,
.mx-3 {
  margin-right: 1rem !important;
}

.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}

.ml-3,
.mx-3 {
  margin-left: 1rem !important;
}

.m-4 {
  margin: 1.5rem !important;
}

.mt-4,
.my-4 {
  margin-top: 1.5rem !important;
}

.mr-4,
.mx-4 {
  margin-right: 1.5rem !important;
}

.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}

.ml-4,
.mx-4 {
  margin-left: 1.5rem !important;
}

.m-5 {
  margin: 3rem !important;
}

.mt-5,
.my-5 {
  margin-top: 3rem !important;
}

.mr-5,
.mx-5 {
  margin-right: 3rem !important;
}

.mb-5,
.my-5 {
  margin-bottom: 3rem !important;
}

.ml-5,
.mx-5 {
  margin-left: 3rem !important;
}

.p-0 {
  padding: 0 !important;
}

.pt-0,
.py-0 {
  padding-top: 0 !important;
}

.pr-0,
.px-0 {
  padding-right: 0 !important;
}

.pb-0,
.py-0 {
  padding-bottom: 0 !important;
}

.pl-0,
.px-0 {
  padding-left: 0 !important;
}

.p-1 {
  padding: 0.25rem !important;
}

.pt-1,
.py-1 {
  padding-top: 0.25rem !important;
}

.pr-1,
.px-1 {
  padding-right: 0.25rem !important;
}

.pb-1,
.py-1 {
  padding-bottom: 0.25rem !important;
}

.pl-1,
.px-1 {
  padding-left: 0.25rem !important;
}

.p-2 {
  padding: 0.5rem !important;
}

.pt-2,
.py-2 {
  padding-top: 0.5rem !important;
}

.pr-2,
.px-2 {
  padding-right: 0.5rem !important;
}

.pb-2,
.py-2 {
  padding-bottom: 0.5rem !important;
}

.pl-2,
.px-2 {
  padding-left: 0.5rem !important;
}

.p-3 {
  padding: 1rem !important;
}

.pt-3,
.py-3 {
  padding-top: 1rem !important;
}

.pr-3,
.px-3 {
  padding-right: 1rem !important;
}

.pb-3,
.py-3 {
  padding-bottom: 1rem !important;
}

.pl-3,
.px-3 {
  padding-left: 1rem !important;
}

.p-4 {
  padding: 1.5rem !important;
}

.pt-4,
.py-4 {
  padding-top: 1.5rem !important;
}

.pr-4,
.px-4 {
  padding-right: 1.5rem !important;
}

.pb-4,
.py-4 {
  padding-bottom: 1.5rem !important;
}

.pl-4,
.px-4 {
  padding-left: 1.5rem !important;
}

.p-5 {
  padding: 3rem !important;
}

.pt-5,
.py-5 {
  padding-top: 3rem !important;
}

.pr-5,
.px-5 {
  padding-right: 3rem !important;
}

.pb-5,
.py-5 {
  padding-bottom: 3rem !important;
}

.pl-5,
.px-5 {
  padding-left: 3rem !important;
}


.m-auto {
  margin: auto !important;
}

.mt-auto,
.my-auto {
  margin-top: auto !important;
}

.mr-auto,
.mx-auto {
  margin-right: auto !important;
}

.mb-auto,
.my-auto {
  margin-bottom: auto !important;
}

.ml-auto,
.mx-auto {
  margin-left: auto !important;
}
