#navegacion {
	height:4em; 
	background-image:url(https://www.juntadeandalucia.es/themes/images/fondo_menu.gif); 			
	background-repeat:repeat-x; 
	border-bottom:#d7d7d7 1px solid; 
	border-top:#ededed 1px solid; 
	background-color:#f2f2f2;  
}

.menu_current{color:#087021 !important;}

#menu {
	display:block;
	list-style:none;
	width:96em;
	margin:0px auto 0px auto;
	height:4em;
	padding:0px 0 0.1em 0;
	}

#menu li li.final {
  padding-bottom: 0 !important;
}

#menu li li {
  padding-top: 0 !important;
}


#menu li{ /* Contenedores principales */
	float:left;
	display:block;
	text-align:left;
	position:relative;
	padding: 0.4em 2.5em 0.8em 2.5em;
	border:none;
	z-index:99999;
	}
	#menu .li_inicio{ padding-left:0.5em !important;}
	#menu_btn{
		display:none;
	}
	#menu li.lhover {
		padding: 0.1em 2.5em 0.8em 2.5em;
		border-top:#4287bb solid 0.3em;
	}
#menu li .drop{ /* Enlaces principales */
	font-family:'TeXGyreHerosCnRegular', Arial, sans-serif;
	font-size:2.2em;
	line-height:1.3em;
	color: #2B2B2B;
	display:block;
	outline:0;
	text-decoration:none;
	padding-bottom:0.8px;
	}
#menu .drop a:hover {
	color:#005da5;
	line-height:1.3em;
	}
			
	@media (min-width: 960px){
		#navegacion {height:4em;}
		#menu {
			display:block;
			list-style:none;
			width:96em;
			margin:0px auto 0px auto;
			height:4em;
			padding:0px 0 0.1em 0;
			}
		
		#menu li{ /* Contenedores principales */
			float:left;
			display:block;
			text-align:left;
			position:relative;
			padding: 0.4em 2.5em 0.8em 2.5em;
			border:none;
			z-index:99999;
			}
		#menu .li_inicio{ padding-left:0.5em !important;}
		#menu li.lhover {
			padding: 0.1em 2.5em 0.8em 2.5em;
			border-top:#4287bb solid 0.3em;
			background-color: transparent;
			}
		#menu li .drop{ /* Enlaces principales */
			font-family:'TeXGyreHerosCnRegular', Arial, sans-serif;
			font-size:2.2em;
			line-height:1.3em;
			color: #2B2B2B;
			display:block;
			outline:0;
			text-decoration:none;
			padding-bottom:0.8px;
			}
		#menu .drop a:hover {
			color:#005da5;
			line-height:1.3em;
			}						
		#menu_btn{
				display:none;
			}
	}	
	 
	@media (max-width: 959px) {
		#navegacion {
			height:auto;
			border-bottom:#cccccc 1px solid; 
			border-top:#cccccc 1px solid; 
			background-color:#f2f2f2;			
		}	 
		#menu {
			list-style:none;
			width:100%;
			margin:0px auto 0px auto;
			height:auto;
			padding:0px 0 0.1em 0;
			display:none;
			}
		
		#menu li{ /* Contenedores principales */
			
			display:block;
			text-align:left;
			position:relative;
			float:none;
			border:none;
			z-index:99999;
			background-color: #f4f4f4;
			border-top:#e4e4e4 solid 1px;
			
			background-image:url(https://www.juntadeandalucia.es/themes/images/flch_menu_movil.png);
			background-position: 97% center;
			background-size: 1.2em 1.6em;
			background-repeat: no-repeat;
			
			padding-left:0;
			padding-top:0; 
			padding-bottom:0; 
			padding-right: 0;
			}
		#menu li a.drop,#menu li a {
		    line-height:1.3em;
			padding-top:0.6em; 
			padding-bottom:0.6em; 
		}	
		#menu .li_inicio{ padding-left:0 !important;}	
		#menu li:hover {
				background-color: #515151;
				border-top:#eaeaea solid 1px;
				color:#FFFFFF;
				
				background-image:url(https://www.juntadeandalucia.es/themes/images/flch_menu_movil_roll.png);
				background-position: 97% center;
				background-size: 1.2em 1.6em;
				background-repeat: no-repeat;
				
				padding-left:0;
				padding-top:0; 
				padding-bottom:0;
				padding-right: 0; 						
			}
		#menu li .drop{ /* Enlaces menu principales */
			font-family:'TeXGyreHerosCnRegular', Arial, sans-serif;
			font-size:1.82em;
			line-height:1.3em;
			color: #515151;
			display:block;
			outline:0;
			text-decoration:none;

			padding-top:0em; 
			padding-bottom:0em;
			
			/** obligar mayisculas en dispositivos **/
			text-transform:uppercase;
	
			/** puuntos suspensivos por css3 si no cabe txt menu **/
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			padding-right: 0.7em;	
			
			}
			
		#menu .drop a:hover {
			color:#005da5;
			line-height:1.3em;
			}
		#menu li a.drop {
		    line-height:1.3em;
			padding-left:0.6em; 
			}		
		#menu li a.drop:hover, #menu li a.menu_current:hover {
			color:#FFFFFF !important;;
			line-height:1.3em;
			}		
			
				
		#menu_btn{
				display:block;
				width: 100%;
				height: 5.1em;
				background-color:transparent;
		}
		#menu_btn.on{
				background-color:#999999;
		}		
		#menu_btn span.menutxt{
			font-family:'TeXGyreHerosCnRegular', Arial, sans-serif;
			color:#515151;
			float: none;
			display: inline;
			/*width: 8em; NO FORZAR O SALE SCROLL*/
			overflow: hidden;
			font-size: 1.96em;
			position: absolute;
			margin: 0 0 0 0.35em;
			padding: 0;
			line-height: 2.3em;
		}
		#menu_btn.on span.menutxt{
			color:#FFFFFF;
		}

		#menu_btn div.img{
			float: left;
			display: inline;
			width: 4.9em;
			height: 4.06em;
			margin-left: 1.12em;
			margin-top: 0.45em;
			/*background: no-repeat top left url("https://www.juntadeandalucia.es/themes/images/nav_icon_all.png");
			background-size:contain; */
			
			background-image: url("https://www.juntadeandalucia.es/themes/images/nav_icon_all.png");
			background-position: 0 center;
			background-size: 200%;
			background-repeat: no-repeat;	
			
		}
		#menu_btn.on div.img{
			/*background: no-repeat top left url("https://www.juntadeandalucia.es/themes/images/nav_icon_all.png");
			background-size:contain;*/ 
			
			background-image: url("https://www.juntadeandalucia.es/themes/images/nav_icon_all.png");
			background-position: 100% center;
			background-size: 200%;
			background-repeat: no-repeat;
		}	
		
	}
	




.dropdown{
	width: 96em;
	height:35.0em;
	float:left;
	position:absolute;
	z-index:99;
	margin:0.8em auto;
	padding:0em 0;
	overflow:hidden;
	color:#fff;
	text-align:left;
	background:#005122 url(https://www.juntadeandalucia.es/themes/images/fondo_solapa.jpg) no-repeat;
	left:-999em;
	font-size:1em;
	
	}

	@media (min-width: 960px){
.dropdown{
	display:block;}
	}	

	@media (max-width: 959px) { 
.dropdown{
		display:none;}
	}

.dropdown div{z-index:99 !important;}

/* Posiciones submenu */

.menu_principal li .dropdown { display: none;}
/*
.menu_principal li.temas .dropdown{ left:0 !important; top:auto;}
.menu_principal li.junta .dropdown{ left:-8.5em !important; top:auto;}
.menu_principal li.servicios .dropdown{ left:-20.4em !important; top:auto;}
.menu_principal li.boja .dropdown{ left:-41.0em !important; top:auto;}
.menu_principal li.andalucia .dropdown{ left:-50.7em !important; top:auto;}
.menu_principal li.noticias .dropdown{ left:-63.7em !important; top:auto;}
*/

.menu_principal li.temas .dropdown{ left:0; top:auto;}
.menu_principal li.junta .dropdown{ left:-8.5em; top:auto;}
.menu_principal li.transparencia .dropdown{ left:-20.4em; top:auto;}
.menu_principal li.servicios .dropdown{ left:-36.9em; top:auto;}
.menu_principal li.boja .dropdown{ left:-57.5em; top:auto;}
.menu_principal li.andalucia .dropdown{ left:-67.2em; top:auto;}
.menu_principal li.noticias .dropdown{ left:-80.2em; top:auto;}



.menu_principal li.organica .dropdown{ left:0em; top:auto;}
.menu_principal li.actividad .dropdown{ left:-18.6em; top:auto;}
.menu_principal li.tramites .dropdown{ left:-38.4em; top:auto;}
.menu_principal li.actualidad .dropdown{ left:-59.0em ; top:auto; }

.menu_principal li.od_catalogo .dropdown{ left:0em ; top:auto;}
/* anterior open data 
.menu_principal li.od_ayuda .dropdown{ left:-17.6em; top:auto;}
.menu_principal li.od_participa .dropdown{ left:-27.7em; top:auto;}
.menu_principal li.od_proyecto .dropdown{ left:-39.7em; top:auto;}
*/

.menu_principal li.od_tutoriales .dropdown{ left:-17.6em; top:auto;}
.menu_principal li.od_aplicaciones .dropdown{ left:-30.5em; top:auto;}
.menu_principal li.od_proyecto .dropdown{ left:-45.6em; top:auto;}
.menu_principal li.od_contacto .dropdown{ left:-64.7em; top:auto;}



.dropdown strong a{
	font-family:'TeXGyreHerosCnRegular', Arial, Helvetica, sans-serif;
	color:#ffffff !important;
	font-size:2em;
	line-height:1.1em;
	margin:0px 0 0px 0;
	padding:0.7em 0 0 0 !important;
	font-weight:normal !important;
	text-decoration: none;
	display:block;
	clear:both;
	}

.dropdown .encabezado strong {
	font-family:'TeXGyreHerosCnRegular', Arial, Helvetica, sans-serif;
	color:#ffffff !important;
	font-size:1.7em;
	line-height:0.8em;
	margin:0px 0 0px 0;
	padding:0.5em 0 0 0 !important;
	font-weight:normal !important;
	text-decoration: none;
	display:block;
	clear:both;
	}
        
        
#menu .dropdown ul li a, #menu .dropdown ol li a{
    color: #fff;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1.2em;
    text-decoration: none;
}

html body #menu .dropdown ul li{
	font-family: Arial,Helvetica,sans-serif;
	line-height:1.5em;
	position:relative;
	margin:0;
	float:none;
	display:block;
	text-align:left;
	}

#menu li li:hover{
	padding-top:5px;
}

#menu li img{
	margin:0.5em 0;
	border:6px solid #fff;
	}

#menu p{
	font-family: Arial,Helvetica,sans-serif;
	font-size:1.2em;
	padding:0.5em 0;
	line-height:1.3em;
	font-weight:normal;
	}

#menu .img_datosabiertos{ border:0 !important;}
#menu .menu_img_datosabiertos{ clear:both; padding-left:36px !important; }

/*************************** Enlaces /***************************/

.enlace_menu_mas{
	display:block;
	padding: 10px;
	font-size:1.2em !important;
	color:#fff;
	text-decoration:none;
	background: url(https://www.juntadeandalucia.es/themes/images/menu_iconos.gif) no-repeat 0 14px;
	}

.enlace_menu_mas_blanco{
	width:120px;
	display: inline-block;
	color: #fff !important;
	text-decoration:none;
	padding:1em;	
	background:url(https://www.juntadeandalucia.es/themes/images/bullet_mas_menu.jpg) no-repeat 0px center;
	}
	
.enlace_menu_rss{
	float:right;
	color: #fff !important;
	text-decoration:none;
	padding:1em 4em 1em 1.2em;	
	background:url(https://www.juntadeandalucia.es/themes/images/icon_rss2.gif) no-repeat 0px center;
	}

.enlace_menu_mas_blanco_grande{
	width:120px;
	font-size:1.2em;
	font-family:Arial, Helvetica, sans-serif;
	display: inline-block;
	color: #fff;
	text-decoration:none;
	padding:1em;	
	background:url(https://www.juntadeandalucia.es/themes/images/bullet_mas_menu.jpg) no-repeat 0px center;
	}
	
.enlace_menu_rss_grande{
	float:right;
	font-size:1.2em;
	font-family:Arial, Helvetica, sans-serif;
	color: #fff;
	text-decoration:none;
	padding:1em 4em 1em 1.2em;	
	background:url(https://www.juntadeandalucia.es/themes/images/icon_rss2.gif) no-repeat 0px center;
	}

/*************************** GRID /***************************/

.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10{
	overflow:hidden;
	}

/*************************** DISTRIBUCIONES /***************************/

/* Listado de navegacion */ 
.ul_navegacion {
  margin:0.5em 0 0 0;  
}

.ul_navegacion li, html .ul_navegacion li:hover{
  text-decoration:none !important;
  background: rgba(0, 0, 0, 0) url("https://www.juntadeandalucia.es/themes/images/menu_bullet.jpg") no-repeat scroll 0 7px;
  padding: 0.1em 1em 0.5em !important;
}

.ul_navegacion ul {
	padding-top:0.5em;
	}  
 
.ul_navegacion_ccul {
  margin:0.5em 0 0 0;  
  height: 21.6em;
}

.ul_navegacion_ccul li, html .ul_navegacion_ccul li:hover{
  text-decoration:none !important;
  background: rgba(0, 0, 0, 0) url("https://www.juntadeandalucia.es/themes/images/menu_bullet.jpg") no-repeat scroll 0 7px;
  padding: 0.1em 1em 0.5em !important;
}

.ul_navegacion_ccul ul {
	padding-top:0.5em;
	} 

/* Listado simple */

.ul_simple{
	margin:0.5em 0 0 0;
	}
	
	

.ul_simple li, .ul_simple li:hover{

	padding: 0.1em 1em 0.5em 1em !important;
	background:url(https://www.juntadeandalucia.es/themes/images/menu_bullet.jpg) no-repeat 0 7px;
	}
	

		
	.ul_simple2 li,  .ul_simple2 li:hover{
		padding-top: 0.1em !important;
		padding-bottom:0em !important;
	}

.temas .ul_simple li, .temas .ul_simple li:hover{
	padding: 0.1em 1em 0.2em 1em !important;
	}

.ul_simple .mas{
	background: url(https://www.juntadeandalucia.es/themes/images/menu_iconos.gif) no-repeat 0 5px  !important;
	}

.ul_simple li a, .ul_simple li a:hover{
	line-height:1.3em;
	}

.grid_7 .grid_7 .ul_simple li{
	width:18em;
	float:left !important;
	}

/* listado con imagen */

.ul_img{
margin:0.5em 0 0 0;
	}

.ul_img li{
	width:100% !important;
	float:left !important;
	padding: 0.1em 0 1em 0 !important;
	}

.ul_img img{
	float:left;
	margin:0 1em 0em 0 !important;
	border:1px solid #ccc !important;
	}

#menu .ul li:hover{
	padding-top:4px;
	}



/*  buscador  */

#menu .buscador{
	width:26.5em;
	margin-top:1em;
	float:none;
	display:block;
	}

#menu .buscador p{
	color:#fff;
	padding-top:1em;
	display:block;
	font-size:1.2em;
	line-height:1.5em;
	display:block;
	}

/*  Genericas  */

.dropdown a, .dropdown li{
	color:#fff;
	text-align:left;
	}

.dropdown a:hover, .dropdown li:hover{
	border: none !important;
	text-decoration:underline !important;
	font-weight:normal !important;
	}

.datos_andalucia li:hover {text-decoration:none !important;}

/*NOTICIAS*/

#menu .img_nob{ border:0 !important;}

/* Cambios en solapa RPA */
#menu .sugerencia-valoracion li {
  text-decoration:none !important;
  min-height: 0;
  padding-left: 0;
}
#menu .sugerencia-valoracion li p {
  color: #fff;
  padding-bottom: 0;

}
#menu .sugerencia-valoracion li img {
  margin: 0; 
  border: 0;
}

li .fom-contacto-solapa-servicios {
  padding-top: 3px;
}