@charset "UTF-8";

/* CSS Document */

.datosdestacados{background:url(https://www.juntadeandalucia.es/themes/images/pestanas_active.jpg) no-repeat left bottom;}

#menu #cuerpo{
  height:220px; 
}


#menu #cuerpo li{
  margin-bottom:20px !important;
}


#menu .verde, #menu .gris, #cuerpo .verde, #cuerpo .gris, #columna .verde, #columna .gris{
  padding:2px 10px;
  margin:2px;
  display:inline-block;
  background:#fff;
  font-weight:bold;
  text-transform:uppercase;
}

#menu .verde, #menu .gris{
  font-size:1.1em !important;
   font-weight:bold !important;
  }
  
#cuerpo .verde, #cuerpo .gris, #columna .verde, #columna .gris{
  font-size:0.8em !important; 
}

 #menu .gris{
   color:#2b2b2b !important;
 }
 
 #menu .verde{
   color:#087021 !important;
 }
 

#cuerpo .verde a, #cuerpo .gris a, #columna .verde a, #columna .gris a{
  color:#fff !important;  
}
 
#cuerpo .verde, #columna .verde{
  background:#2f8401;
  color:#fff !important;  
}

#cuerpo .gris, #columna .gris{
  background:#515151;
}

.row [class^="col"] {
  float: left;
  margin: 0 1% 20px ;
  min-height: 0.125rem;
}

@media only screen and (min-width: 960px) { /* 960px */
  .col-1_5{
      width: 18%;
    }
}


.home-da-destacados .col-12 { margin-bottom: 0 }
.home-da-destacados h3{ text-align: center; }
.home-graficas .col-6{ width: 50%; height: auto; float: left; margin: 0 0 2em; min-height: auto; }

/*tutoriales*/

.lista_con_foto{ 
  height: 1%;
  overflow: hidden;
}
.lista_con_foto p a {
    display: initial;
    font-size: inherit !important;
    line-height: initial !important;
    padding-left: 0 !important;
}

/* solapas*/

#contenidos .listado_resultados div p {
  font-size: 1em;
}

#capturas .col-3 img {
  width: 100%;
  border: 1px solid #ccc;
}

/*  efecto */

.container2 {
  position: relative;
  width: 50%;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
  background:  url('/Junta de Andalucía - Datos abiertos Aplicaciones_files/fodoDetalleItemContenedor.png');
}

.container2:hover .overlay {
  width: 100%;
}

.text {
  white-space: nowrap;
  color: white;
  font-size: 13px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.text2a {
  white-space: nowrap;
  color: white;
  font-size: 13px;
  position: absolute;
  bottom: 0;
  overflow: hidden;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}



